
.gravatar {
  border-radius: 50%;
  width: 48px;
  float: right;
  position: relative;
  top: 8px;
  margin-left: 10px
}

.dropdown-button {
  min-width: 200px;
}

.breadcrumb {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
  -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
  max-width: 250px;
}

.nav-mobile {
  width: 200px;
  padding-left: 200px;
}

.sidenav.fixed {
  width: 200px;
}


.description {
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
}
/*.nav-wrapper {*/
  /*overflow: hidden;*/
/*}*/
