
.gravatar {
  border-radius: 50%;
  width: 48px;
  float: right;
  position: relative;
  top: 8px;
  margin-left: 10px
}

.dropdown-trigger {
  min-width: 200px;
}

.breadcrumb::before {
  margin: 0;
}

.breadcrumb {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
  -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
  max-width: 200px;
}

ul.sidenav  {
  box-shadow:unset;
}

.description {
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
}

