<div id="nav-bar1" class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red lighten-2">
      <a href="#" data-target="nav-leftmenuSmal" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <div style="height: 60px; overflow: hidden;">
        <ul class="right">
          <li>
            <a class="dropdown-trigger" href="#!" data-target="admin-menu1">
              {{ username }} <i class="material-icons left">arrow_drop_down</i>
              <img class="gravatar" gravatar [email]="getEmail()" [size]="48" />
            </a>
          </li>
        </ul>
        <a class="breadcrumb" (click)="onSurvey()">
          <i class="material-icons small" title="Survey">store</i>
          <ng-container *ngIf="path[0]">[{{ path[0].name }}]</ng-container>
          <ng-container *ngIf="!path[0]">[Survey]</ng-container>
        </a>
        <a *ngIf="path[0]" class="breadcrumb" (click)="onStudy()">
          <i class="material-icons small" title="Study">looks_one</i>
          <ng-container *ngIf="path[1]">[{{ path[1].name }}]</ng-container>
          <ng-container *ngIf="!path[1]">[Study]</ng-container>
        </a>
        <a *ngIf="path[1]" class="breadcrumb" (click)="onTopic()">
          <i class="material-icons small" title="Module">looks_two</i>
          <ng-container *ngIf="path[2]">[{{ path[2].name }}]</ng-container>
          <ng-container *ngIf="!path[2]">[Module]</ng-container>
        </a>
        <a *ngIf="path[2]" class="breadcrumb" (click)="onConcept()">
          <i class="material-icons small" title="Concept">looks_3</i>
          [Concept]
        </a>
      </div>
      <ul id="nav-leftmenuLarge" class="sidenav hide-on-med-and-down teal-text"
        style="transform: translateX(0px); width: 200px;">
        <div class="container red lighten-2" style=" width: 100%; height: 64px; line-height: 64px;
        font-size: 2rem; text-align: center; vertical-align: middle">
          <img src="/assets/images/qddt-text.png" style="height:100%; left: 90%; " />
        </div>
        <div *ngIf="isLoggedIn$ | async as isLoggedIn">
          <li>
            <div class="card horizontal input-field" style="height: 55px">
              <i class="material-icons prefix" style="top: unset;">search</i>
              <input id="icon_prefix" type="text" class="validate" placeholder="goto url/id"
                (input)="onCheckUrl($event)">
            </div>
          </li>
          <li [ngClass]="{'active':isActive===0}" (click)="isActive=0">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/home']" tabindex="0">
              <i class="medium material-icons teal-text left ">store</i>Home</a>
          </li>
          <li *ngIf="canSee[elementKindRef.QUESTION_ITEM]" [ngClass]="{'active':isActive===1}" (click)="isActive=1">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/questionitems']" tabindex="1">
              <i class="material-icons teal-text left medium">help</i>Questions</a>
          </li>
          <li *ngIf="canSee[elementKindRef.MISSING_GROUP]" [ngClass]="{'active':isActive===2}" (click)="isActive=2">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/missing']" tabindex="2">
              <i class="material-icons teal-text left medium">check_box_outline_blank</i>Missings</a>
          </li>
          <li *ngIf="canSee[elementKindRef.RESPONSEDOMAIN]" [ngClass]="{'active':isActive===3}" (click)="isActive=3">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/responsedomains']" tabindex="3">
              <i class="material-icons teal-text left medium">check_box</i>Domains</a>
          </li>
          <li *ngIf="canSee[elementKindRef.QUESTION_CONSTRUCT]" [ngClass]="{'active':isActive===4}"
            (click)="isActive=4">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/questions']" tabindex="4">
              <i class="material-icons teal-text left medium">help_outline</i>Constructs</a>
          </li>
          <li *ngIf="canSee[elementKindRef.SEQUENCE_CONSTRUCT]" [ngClass]="{'active':isActive===5}"
            (click)="isActive=5">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/sequences']" tabindex="5">
              <i class="material-icons teal-text left medium">view_list</i>Sequences</a>
          </li>
          <li *ngIf="canSee[elementKindRef.INSTRUMENT]" [ngClass]="{'active':isActive===6}" (click)="isActive=6">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/instruments']" tabindex="6">
              <i class="material-icons teal-text left medium">tablet_mac</i>Instruments</a>
          </li>
          <li [ngClass]="{'active':isActive===7}" (click)="isActive=7">
            <a class="teal-text waves-effect waves-teal" [routerLink]="['/publications']" tabindex="7">
              <i class="material-icons teal-text left medium">folder_special</i>Publications</a>
          </li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li [ngClass]="{'active':isActive>=8}">
                <a class="collapsible-header teal-text ">Lookups<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <ul>
                      <li [ngClass]="{'active':isActive===8}" (click)="isActive=8">
                        <a class="teal-text waves-effect waves-teal active" [routerLink]="['/changelog']" tabindex="8">
                          <i class="material-icons teal-text left medium">timeline</i>Change Feed</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.REFERENCED]" [ngClass]="{'active':isActive===9}"
                        (click)="isActive=9">
                        <a class=" teal-text waves-effect waves-teal active" [routerLink]="['/referenced']">
                          <i class="material-icons teal-text left medium">link</i>Referenced</a>
                      </li> <!--                    <li *ngIf= "canSee[elementKindRef.AUTHOR]" >-->
                      <li *ngIf="canSee[elementKindRef.AGENCY]" [ngClass]="{'active':isActive===10}"
                        (click)="isActive=10">
                        <a class=" teal-text waves-effect waves-teal" [routerLink]="['/agencies']">
                          <i class="material-icons teal-text left medium">verified_user</i>Agencies</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.AUTHOR]" [ngClass]="{'active':isActive===11}"
                        (click)="isActive=11">
                        <a class=" teal-text waves-effect waves-teal" [routerLink]="['/authors']">
                          <i class="material-icons teal-text left medium">face</i>Authors</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.STATEMENT_CONSTRUCT]" [ngClass]="{'active':isActive===12}"
                        (click)="isActive=12">
                        <a class="teal-text waves-effect waves-teal" [routerLink]="['/statements']" tabindex="9">
                          <i class="material-icons teal-text left medium">record_voice_over</i>Statement</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.CONDITION_CONSTRUCT]" [ngClass]="{'active':isActive===13}"
                        (click)="isActive=13">
                        <a class="teal-text waves-effect waves-teal" [routerLink]="['/conditions']" tabindex="10">
                          <i class="material-icons teal-text left medium">device_hub</i>Condition</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.UNIVERSE]" [ngClass]="{'active':isActive===14}"
                        (click)="isActive=14">
                        <a class="teal-text waves-effect waves-teal" [routerLink]="['/universes']" tabindex="11">
                          <i class="material-icons teal-text left medium">publics</i>Universe</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.INSTRUCTION]" [ngClass]="{'active':isActive===15}"
                        (click)="isActive=15">
                        <a class="teal-text waves-effect waves-teal" [routerLink]="['/instructions']" tabindex="12">
                          <i class="material-icons teal-text left medium">speaker_notes</i>Instructions</a>
                      </li>
                      <li *ngIf="canSee[elementKindRef.CATEGORY]" [ngClass]="{'active':isActive===16}"
                        (click)="isActive=16">
                        <a class="teal-text waves-effect waves-teal" [routerLink]="['/categories']" tabindex="13">
                          <i class="material-icons teal-text left medium">view_comfy</i>Categories</a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>

<ul id="admin-menu1" class="dropdown-content">
  <div *ngIf="isLoggedIn$ | async as isLoggedIn">
    <li (click)="logoutEvent()">
      <a href=""><i class="material-icons left">exit_to_app</i>Exit</a>
    </li>
    <li class="divider"></li>
    <li>
      <a [routerLink]="['user']"><i class="material-icons left">edit</i>UserAdmin</a>
    </li>
    <li>
      <a [routerLink]="[{ outlets: { popup: ['resetpassword'] } }]">
        <i class="material-icons left">mail_outline</i>Password reset</a>
    </li>
    <li>
      <a [routerLink]="[{ outlets: { popup: ['useroption'] } }]"><i class="material-icons left">edit</i>User Option</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://en.gravatar.com/" target="_blank" rel="noopener noreferrer">
        <i class="material-icons left">face</i>How to Gravatar</a>
    </li>
    <li>
      <a href="https://github.com/DASISH/qddt-client/wiki" target="_blank" rel="noopener noreferrer">
        <i class="material-icons left">help</i>Help</a>
    </li>
  </div>
</ul>

<ul id="nav-leftmenuSmal" class="sidenav" style="width: 100px;">
  <div *ngIf="isLoggedIn$ | async as isLoggedIn">
    <li>
      <a [routerLink]="['/home']" title="home">
        <i class="medium material-icons teal-text">store</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.QUESTION_ITEM]">
      <a [routerLink]="['/questionitems']" title="Questions">
        <i class="medium material-icons teal-text">help</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.CATEGORY]">
      <a [routerLink]="['/categories']" title="Categories">
        <i class="medium material-icons teal-text">view_comfy</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.MISSING_GROUP]">
      <a [routerLink]="['/missing']" title="Missings">
        <i class="medium material-icons teal-text">view_module</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.RESPONSEDOMAIN]">
      <a [routerLink]="['/responsedomains']" title="Domains">
        <i class="medium material-icons teal-text">blur_linear</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.QUESTION_CONSTRUCT]">
      <a [routerLink]="['/questions']" title="Constructs">
        <i class="medium material-icons teal-text">view_agenda</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.SEQUENCE_CONSTRUCT]">
      <a [routerLink]="['/sequences']" title="Sequences">
        <i class="medium material-icons teal-text">view_list</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.INSTRUMENT]">
      <a [routerLink]="['/instruments']" title="Instruments">
        <i class="material-icons medium teal-text">tablet_mac</i></a>
    </li>
    <li>
      <a [routerLink]="['publications']" title="Publications">
        <i class="medium material-icons teal-text">folder_special</i></a>
    </li>
  </div>
</ul>
