<div class="navbar-fixed" #navnbar>
  <nav>
    <div class="nav-wrapper">
<!--      <a href="#" data-target="leftmenu" class="button-collapse"><i class="material-icons">menu</i></a>-->
      <span style="height: 64px; overflow: hidden">
        <a *ngIf="!path[0]" (click)="onSurvey()" class="waves-effect " style="padding-left: 1rem; padding-right: 1rem;"> <i class="large material-icons" >store</i></a>

        <a *ngIf="path[0]" (click)="onSurvey()" class="breadcrumb">SURVEY [{{ path[0].name }}]</a>
        <a *ngIf="path[1]" (click)="onStudy()" class="breadcrumb">STUDY [{{ path[1].name }}]</a>
        <a *ngIf="path[2]" (click)="onTopic()" class="breadcrumb">MODULE [{{ path[2].name }}]</a>
        <a *ngIf="path[3]" (click)="onConcept()" class="breadcrumb">{{ path[3].name }}</a>
      </span>
      <ul class="right">
        <li><a class="dropdown-trigger"  href="#!" data-target="adminmenu" data-beloworigin="true">
          {{username}} <i class="material-icons left">arrow_drop_down</i>
          <img class="gravatar" gravatar [email]="getEmail()" [size]="48">
        </a></li>
      </ul>
      <ul id="leftmenu" class="sidenav hide-on-med-and-down teal-text" style="transform: translateX(0px); width: 200px;">
        <div class="container" style="color: #fff; background-color: #ee6e73; width: 100%; height: 64px; line-height: 64px;
        font-size: 2rem; text-align: center; vertical-align: middle">
          <img src="/assets/images/qddt-text.png" style="height:100%; left: 90%; ">
        </div>
        <div *ngIf="isLoggedIn$ | async as isLoggedIn">
          <li>
            <div class="row card">
              <div class="col s2"><i class="material-icons">search</i></div>
              <div class="col s10"><input id="search" placeholder="goto url/id"(input)="onCheckUrl($event)"></div>
            </div>
          </li>
          <li><a class="teal-text waves-effect waves-teal" [routerLink]="['/home']" tabindex="0">
            <i class="medium material-icons teal-text left ">store</i>Home</a>
          </li>
          <li *ngIf="canSee[elementKindRef.QUESTION_ITEM]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/questionitems']" tabindex="0">
            <i class="material-icons teal-text left medium">help</i>Questions</a>
          </li>
          <li *ngIf="canSee[elementKindRef.MISSING_GROUP]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/missing']" tabindex="0">
            <i class="material-icons teal-text left medium">view_module</i>Missings</a>
          </li>
          <li *ngIf="canSee[elementKindRef.RESPONSEDOMAIN]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/responsedomains']" tabindex="0">
            <i class="material-icons teal-text left medium">blur_linear</i>Domains</a>
          </li>
          <li *ngIf="canSee[elementKindRef.QUESTION_CONSTRUCT]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/questions']" tabindex="0">
            <i class="material-icons teal-text left medium">view_agenda</i>Constructs</a>
          </li>
          <li *ngIf="canSee[elementKindRef.SEQUENCE_CONSTRUCT]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/sequences']" tabindex="0">
            <i class="material-icons teal-text left medium">format_line_spacing</i>Sequences</a>
          </li>
          <li *ngIf="canSee[elementKindRef.INSTRUMENT]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/instruments']" tabindex="0">
            <i class="material-icons teal-text left medium">tablet_mac</i>Instruments</a>
          </li>
          <li><a class="teal-text waves-effect waves-teal" [routerLink]="['/publications']"tabindex="0" >
            <i class="material-icons teal-text left medium">folder_special</i>Publications</a>
          </li>
          <li>
            <ul class="collapsible collapsible-accordion">
              <li >
                <a class="collapsible-header waves-effect waves-teal teal-text" >Lookups<i class="material-icons">more_horiz</i></a>
                <div class="collapsible-body ">
                  <ul>
                    <li><a class="teal-text waves-effect waves-teal active" [routerLink]="['/changelog']" tabindex="0">
                      <i class="material-icons teal-text left medium">timeline</i>Change Feed</a>
                    </li>
                    <li *ngIf="canSee[elementKindRef.UNIVERSE]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/universes']" tabindex="0">
                      <i class="material-icons teal-text left medium">publics</i>Universe</a>
                    </li>
                    <li *ngIf="canSee[elementKindRef.INSTRUCTION]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/instructions']" tabindex="0">
                      <i class="material-icons teal-text left medium">speaker_notes</i>Instructions</a>
                    </li>
                    <li *ngIf="canSee[elementKindRef.CATEGORY]"><a class="teal-text waves-effect waves-teal" [routerLink]="['/categories']" tabindex="0">
                      <i class="material-icons teal-text left medium">view_comfy</i>Categories</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>

<ul id="adminmenu" class="dropdown-content" >
  <div *ngIf="isLoggedIn$ | async as isLoggedIn">
    <li (click)="logoutEvent()"><a href=""><i class="material-icons left">exit_to_app</i>Exit</a></li>
    <li class="divider"></li>
    <li><a [routerLink]="['user']"><i class="material-icons left">edit</i>UserAdmin</a></li>
    <li><a [routerLink]="[{ outlets: { popup: ['resetpassword'] } }]"><i class="material-icons left">mail_outline</i>Password reset</a></li>
    <li><a [routerLink]="[{ outlets: { popup: ['useroption'] } }]"><i class="material-icons left">edit</i>User Option</a></li>
    <li class="divider"></li>
    <li><a href="http://en.gravatar.com/" target="_blank"><i class="material-icons left">face</i>How to Gravatar</a></li>
    <li><a href="https://github.com/DASISH/qddt-client/wiki" target="_blank"><i class="material-icons left">help</i>Help</a></li>
  </div>
</ul>

<ul id="nav-mobile" class="sidenav" style="width: 200px;">
  <div *ngIf="isLoggedIn$ | async as isLoggedIn">
    <li><a [routerLink]="['/home']"  title="home">
      <i class="medium material-icons teal-text">store</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.QUESTION_ITEM]" ><a [routerLink]="['/questionitems']"  title="Questions">
      <i class="medium material-icons teal-text">help</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.CATEGORY]"><a [routerLink]="['/categories']"  title="Categories">
      <i class="medium material-icons teal-text">view_comfy</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.MISSING_GROUP]"><a [routerLink]="['/missing']"  title="Missings">
      <i class="medium material-icons teal-text">view_module</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.RESPONSEDOMAIN]"><a [routerLink]="['/responsedomains']"  title="Domains">
      <i class="medium material-icons teal-text">blur_linear</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.QUESTION_CONSTRUCT]"><a [routerLink]="['/questions']" title="Constructs">
      <i class="medium material-icons teal-text">view_agenda</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.SEQUENCE_CONSTRUCT]"><a [routerLink]="['/sequences']"  title="Sequences">
      <i class="medium material-icons teal-text" >format_line_spacing</i></a>
    </li>
    <li *ngIf="canSee[elementKindRef.INSTRUMENT]"><a [routerLink]="['/instruments']" title="Instruments" >
      <i class="material-icons medium teal-text">tablet_mac</i></a>
    </li>
    <li><a [routerLink]="['publications']"  title="Publications">
      <i class="medium material-icons teal-text" >folder_special</i></a>
    </li>
  </div>
</ul>
