<ul class="hoverable"
  (mouseenter)="showButton = !readonly"
  (mouseleave)="showButton = false">
  <li>
    <div class="row" (click)=onShowItems() style="cursor: zoom-in;">
      <label>{{labelName}}</label>
    </div>
  </li>
  <li class="collection-item" *ngIf="showAddItem">
    <qddt-auto-complete [items]="searchList" class="black-text"
                        [elementKind]="kind"
                        (selectEvent)="onSelectElement($event)"
                        (enterEvent)="onSearchElements($event)">
    </qddt-auto-complete>

    <qddt-revision-select
      [elementRevisions]="revisionList"
      [showProgressBar]="showProgressBar"
      (selectEvent)="onSelectedRevision($event)">
    </qddt-revision-select>
  </li>
  <li class="collection-item" *ngFor="let item of showList; let idx=index">
    <div class="row" *ngIf="item.elementId"
        (mouseenter)="item.showbutton = !readonly"
        (mouseleave)="item.showbutton = false">
      <div class="col s2">[{{labelName}}]</div>
      <div class="col s7"><a (click)="onShowElement(item.element)" [ngStyle]="{'cursor': 'pointer'}">{{ item.name }}</a></div>
      <div class="col s2"><qddt-version-label [element]="item"></qddt-version-label> </div>
      <div class="col s1">
        <a [ngClass]="{hide: !showButton}"
          class="modal-trigger btn-flat btn-floating btn-small waves-effect waves-light teal"
          (click)="onDeleteItem(idx)">
          <i class="material-icons" title="Remove {{labelName}}">remove</i>
        </a>
      </div>
    </div>
  </li>
</ul>
