<div *ngIf="element && element?.conceptRefs && element?.conceptRefs?.length > 0" >
  <div class="hoverable row" (click)="showRefs = !showRefs" style="cursor: zoom-in; padding-bottom: 1rem;">
    <label style="cursor: zoom-in;" >
      Question referenced by ({{ element.conceptRefs.length }})
    </label>
    <table class="highlight">
      <thead class="teal-text text-lighten-2" >
      <tr><th>Study</th><th>Module</th><th>Concept names</th></tr>
      </thead>
      <tbody *ngIf="showRefs">
      <tr *ngFor="let ref of getRefRoot()" >
        <td>
          <a  style="cursor: pointer;" (click)="onClickStudy(ref.topicRef.studyRef.id)">{{ ref?.topicRef?.studyRef?.name }}</a>
        </td>
        <td>
          <a  style="cursor: pointer;" (click)="onClickTopic(ref.topicRef.id)">{{ ref?.topicRef?.name }}</a>
        </td>
        <td *ngIf="ref.id">
          <a  style="cursor: pointer;" (click)="onClickConcept(ref.id)">{{ ref?.name }}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
