<div class="row">
  <ul class="hoverable"
      (mouseenter)="showButton = !readonly"
      (mouseleave)="showButton = false">
    <li>
      <div class="row" (click)="createConstruct=!createConstruct" style="cursor: zoom-in;">
        <div class="col s11"><label class="teal-text">Add element</label></div>
        <div class="col s1">
          <a [ngClass]="{hide: !showButton}"
             class="btn-flat btn-floating btn-small waves-effect waves-light teal">
            <i class="material-icons" title="Add element">add</i>
          </a>
        </div>
      </div>
    </li>
    <li class="collection-item" *ngIf="createConstruct">
      <div class="row">
        <div class="col left" *ngFor="let element of elementTypes">
          <input name="elementtypegroup-{{element.id}}"
            type="radio"
            id="element-type-{{element.id}}"
            (click)="onSelectElementType(element.id)"
            [checked]="selectedType === element.id"/>
          <label [attr.for]="'element-type-' + element.id">{{ element.label }}</label>
        </div>
      </div>
      <qddt-auto-complete
        [items]="elements" class="black-text"
        [elementtype]="getQddtElements(selectedType)"
        (enterEvent)="onSearchElements($event)"
        (selectEvent)="onSelectElement($event)">
      </qddt-auto-complete>
      <div class="row" *ngIf="selectedElement">
        <div class="input-field col s4" *ngIf="elementRevisions.length > 0">
          <label class="active black-text">Business version</label>
          <select [(ngModel)]="selectedRevision"
                  (ngModelChange)="onSelectElementRevisions($event)"
                  class="black-text"
                  name="controlConstruct_Revision"
                  materialize="material_select">
            <option *ngFor="let revision of elementRevisions"
                    [selected]="revision.revisionNumber === selectedRevision"
                    [value]="revision.revisionNumber">
              {{ revision?.entity?.version?.major }}.{{ revision?.entity?.version?.minor }}
            </option>
          </select>
        </div>
        <div class="input-field col s6 right">
          <a class="waves-effect waves-light btn  green" (click)="onUseItem()">Use this</a>
          <a class="waves-effect waves-light btn  red" (click)="onDismiss()">Dismiss</a>
        </div>
      </div>
    
      <qddt-preview-controlconstruct [construct]="selectedElementshowAddElement"></qddt-preview-controlconstruct>
    </li>
  </ul>
</div>




