<div class="row card">
  <ul>
    <li *ngIf="sequence">
      <span [ngSwitch]="sequence.classKind">
				<span *ngSwitchCase="'SEQUENCE_CONSTRUCT'">Sequence</span>
        <span *ngSwitchCase="'CONDITION_CONSTRUCT'">Condition</span>
        <span *ngSwitchCase="'STATEMENT_CONSTRUCT'">Statement</span>
        <span *ngSwitchCase="'QUESTION_CONSTRUCT'">Question Construct</span>
      </span>
      <a (click)="onSelectedElement(sequence)">{{ sequence?.name }}</a>
    </li>
  </ul>
  <ul class="control-children" *ngIf="sequence">
    <li *ngFor="let item of sequence.children">
    <qddt-sequence-content *ngIf="item" [sequence]="item"></qddt-sequence-content>
    </li>
  </ul>
</div>

