<header>
  <ul id="nav-mobile" class="side-nav fixed" style="width:240px;">
    <user-login (logoutEvent)="logoutEvent()"></user-login>
    <div *ngIf="user">
        <li><a class="teal-text" [routerLink]="['/Home']"><i class="material-icons teal-text left medium">store</i>Home</a></li>
        <li><a class="teal-text" [routerLink]="['/Questions']"><i class="material-icons teal-text left medium">help</i>Questions</a></li>
        <li><a class="teal-text" [routerLink]="['/Categories']"><i class="material-icons teal-text left medium">subject</i>Categories</a></li>
        <li><a class="teal-text" [routerLink]="['/Schemes']"><i class="material-icons teal-text left medium">subject</i>Missing Values</a></li>
        <li><a class="teal-text" [routerLink]="['/Responsedomains']"><i class="material-icons teal-text left medium">dashboard</i>Domains</a></li>
        <li><a class="teal-text" [routerLink]="['/Constructs']"><i class="material-icons teal-text left medium">view_day</i>Construct</a></li>
    </div>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>
