<header>
  <ul id="nav-mobile" class="side-nav fixed" style="width:240px;">
    <qddt-user-login (logoutEvent)="logoutEvent()"></qddt-user-login>
    <div *ngIf="user">
        <li><a class="teal-text" [routerLink]="['/home']" (click)="onHome()">
          <i class="material-icons teal-text left medium">store</i>Home</a>
        </li>
        <li><a class="teal-text" [routerLink]="['/questions']" (click)="onQuestions()">
          <i class="material-icons teal-text left medium">help</i>Questions</a>
        </li>
        <li><a class="teal-text" [routerLink]="['/categories']" (click)="onCategories()">
          <i class="material-icons teal-text left medium">view_comfy</i>Categories</a>
        </li>
        <li><a class="teal-text" [routerLink]="['/schemes']" (click)="onSchemes()">
          <i class="material-icons teal-text left medium">view_module</i>Missings</a>
        </li>
        <li><a class="teal-text" [routerLink]="['/responsedomains']" (click)="onResponsedomains()">
          <i class="material-icons teal-text left medium">blur_linear</i>Domains</a>
        </li>
        <li><a class="teal-text" [routerLink]="['/constructs']" (click)="onConstructs()">
          <i class="material-icons teal-text left medium">view_agenda</i>Constructs</a>
        </li>
        <li><a class="teal-text" [routerLink]="['/publications']" (click)="onPublications()">
          <i class="material-icons teal-text left medium">folder_special</i>Publications</a>
        </li>
    </div>
  </ul>
  <!--<a href="#" data-activates="nav-mobilet" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>-->
</header>
<main>
  <router-outlet></router-outlet>
</main>
