<div class="row" *ngIf="controlConstruct">
  <div class="row">
    <div class="col s10">
      <label class="active teal-text flow-text">Version: <!--
        -->{{controlConstruct?.version?.major}}.<!--
        -->{{controlConstruct?.version?.minor}}</label>
    </div>
  </div>
  <div id="{{controlConstruct?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium">history</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <h5>{{controlConstruct?.name}}</h5>

      <div *ngIf="controlConstruct.preInstructions && controlConstruct.preInstructions.length > 0" class="section">
        <ul class="collection with-header">
          <li class="collection-header">Pre Instructions</li>
          <li class="collection-item" *ngFor="#instruction of controlConstruct.preInstructions;#idx=index">
            <div class="row">
              <div class="col s1">
                <a materialize="leanModal" [materializeParams]="[{dismissible: true}]"
                  class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                  [attr.href]="'#'+controlConstruct.id+'-control-construct-modal'">
                  <i class="material-icons">search</i>
                </a>
                <div [attr.id]="controlConstruct.id + '-control-construct-modal'"
                  class="modal modal-fixed-footer">
                  <div class="modal-footer">
                    <button id="questionitem-modal-close"
                      class="btn btn-default red modal-action modal-close waves-effect waves-red">
                      <i class="close material-icons">close</i>
                    </button>
                  </div>
                  <div class="modal-content">
                    <h2>Pre Instructions</h2>
                    {{instruction?.description}}
                  </div>
                </div>
              </div>
              <div class="col s10">{{instruction?.description}}</div>
              <div class="col s1">
              <a
                class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                (click)="onDeletePreInstruction(idx)">
                <i class="material-icons">remove</i>
              </a>
              </div>                 
            </div>
          </li>
        </ul>
      </div>

      <div *ngIf="controlConstruct.postInstructions && controlConstruct.postInstructions.length > 0" class="section">
        <ul class="collection with-header">
          <li class="collection-header">Post Instructions</li>
          <li class="collection-item" *ngFor="#instruction of controlConstruct.postInstructions;#idx=index">
            <div class="row">
              <div class="col s1">
              <a materialize="leanModal" [materializeParams]="[{dismissible: true}]"
                class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                [attr.href]="'#'+controlConstruct.id+'-control-construct-modal'">
                <i class="material-icons">search</i></a>
                <div [attr.id]="controlConstruct.id + '-control-construct-modal'"
                  class="modal modal-fixed-footer">
                  <div class="modal-footer">
                    <button id="questionitem-modal-close"
                      class="btn btn-default red modal-action modal-close waves-effect waves-red">
                      <i class="close material-icons">close</i>
                    </button>
                  </div>
                  <div class="modal-content">
                    <h2>Post Instructions</h2>
                    {{instruction?.description}}
                  </div>
                </div>
              </div>
              <div class="col s10">{{instruction?.description}}</div>
              <div class="col s1">
              <a
                class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                (click)="onDeletePostInstruction(idx)">
                <i class="material-icons">remove</i>
              </a>
              </div>                 
            </div>
          </li>
        </ul>
      </div>

      <qddt-responsedomain-preview
        *ngIf="controlConstruct.questionItem && controlConstruct.questionItem.responseDomain"
        [isVisible]="true" [responseDomain]="controlConstruct.questionItem.responseDomain"
        #preview></qddt-responsedomain-preview>

      <qddt-revision [isVisible]="revisionIsVisible"
        [qddtURI]="'audit/controlConstruct/' + controlConstruct.id + '/all'">
      </qddt-revision>

      <div class="row">
        <comment-list [ownerId]="controlConstruct.id"></comment-list>
      </div>
    </div>

  </div>
</div>