<div class="row card">
  <div class="col s10 black-text">
    <label>Description</label>
    <div [ngClass]="{ noItemFound: (isNew && universe.description.length > 0 ) }">
    <qddt-auto-complete
      [items]="universes" class="black-text" [elementtype]="UNIVERSE" [initialValue]="universe?.description"
      (selectEvent)="onSelectUniverse($event)"
      (enterEvent)="onSearchUniverses($event)">
    </qddt-auto-complete>
  </div>
  </div>
  <div class="col s2 right">
    <a class="waves-effect waves-light btn" (click)="onAddUniverse()">add</a>
  </div>
</div>
