
<div id="modalLogin" class="modal" style="width:25%;">
  <div class="modal-content">
    <h4>Login</h4>
    <form (ngSubmit)="login()" #f="ngForm">
      <div class="row input-field">
        <input class="validate" name="email" type="email" [(ngModel)]="formData.email" required email>
        <label for="email">Email</label>
      </div>
      <div class="row input-field">
        <input class="validate" name="password" type="password" [(ngModel)]="formData.password" required minlength="6">
        <label for="password">Password</label>
      </div>
      <button [disabled]="f.invalid || loading" data-target="modalLogin" class="btn btn-primary modal-action modal-close waves-effect right">Login</button>
    </form>
    <qddt-spinner *ngIf="loading" ></qddt-spinner>
  </div>  
  <div class="modal-footer"></div>
</div>
