<div class="row card">
  <div class="row">
    <autocomplete class="black-text"
                  [items]="questionItems"
                  [elementtype]="QUESTIONITEM"
                  (autocompleteFocusEvent)="selectedQuestionItemIndex=idx;"
                  (enterEvent)="searchQuestionItems($event)"
                  (autocompleteSelectEvent)="onSelectCreateQuestionItem($event)">
    </autocomplete>
  </div>
  <div class="row" *ngIf="selectedQuestionItem">
    <div class="row">
      <div class="input-field col s4" *ngIf="questionItemRevisions.length > 0">
        <label class="active black-text">QuestionItem business version</label>
        <select [(ngModel)]="questionItemRevision"
                (ngModelChange)="onSelectQuestionItemRevisions($event)"
                class="black-text"
                name="controlConstruct_questionItemRevision"
                materialize="material_select">
          <option *ngFor="let revision of questionItemRevisions"
                  [selected]="revision.revisionNumber === questionItemRevision"
                  [value]="revision.revisionNumber">
            {{ revision?.entity?.version?.major }}.{{ revision?.entity?.version?.minor }}
          </option>
        </select>
      </div>
      <div class="input-field col s6 right">
        <a class="waves-effect waves-light btn  green" (click)="onUseQuestionItem()">Use this</a>
        <a class="waves-effect waves-light btn  red" (click)="onDismiss()">Dismiss</a>
      </div>
    </div>
    <qddt-preview-questionitem [questionItem]="selectedQuestionItem"></qddt-preview-questionitem>
    <div class="row">
      <ul class="collection with-header black-text">
        <li class="collection-item" *ngFor="let c of selectedQuestionItem.conceptRefs" >Concept: {{ c?.name }}</li>
      </ul>
    </div>
  </div>
</div>
