<div *ngIf="show">
  <div class="col s12 m9">
    <div class="card white white-text text-lighten-2">
      <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
        <i class="material-icons large right">comment</i><h4>Questionnaire modules for {{study?.name}}</h4>

        <a class="btn" (click)="onToggleTopicForm()">
        <i class="material-icons right" *ngIf="!showTopicForm">keyboard_arrow_down</i>
        <i class="material-icons right" *ngIf="showTopicForm">keyboard_arrow_up</i>
        New</a>

        <div *ngIf="showTopicForm">
          <div class="card-action">
            <form (ngSubmit)="onSave()" #hf="ngForm">
              <div class="row">
                <div class="input-field col">
                  <input id="name" name="name" type="text" [(ngModel)]="topic.name" required>
                  <label for="name" class="white-text">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="topic.abstractDescription"
                            required></textarea>
                  <label for="description" class="white-text">Description</label>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="topics">
        <div class="row" *ngFor="let topic of topics" style="padding-left:2%">
          <div id="{{topic?.id}}" class="scrollspy">
            <div class="col s1 m1 l1">
              <br/>
              <div class="row">
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="edit.isVisible = !edit.isVisible"><i class="material-icons"title="Edit element">mode_edit</i></a>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="revision.isVisible = !revision.isVisible"><i class="material-icons left medium" title="Revision history">history</i></a>
                <!--<qddt-questionitem-reuse [parentId]="topic?.id"-->
                                         <!--(questionItemCreatedEvent)="setQuestionItem($event)"></qddt-questionitem-reuse>-->
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
                  <i class="material-icons" (click)="getPdf(publication)" title="Get as Pdf">description</i>
                </a>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="onSelectTopic(topic)"><i class="material-icons left medium"title="Go to child elements">play_arrow</i></a>
              </div>
            </div>

            <div class="col s10 m10 l10 grey-text text-darken-2">
              <h5 class="row">
                <div class="col s10">{{topic?.name}}</div>

                <div class="col s2">
                  <div class="text-align: right">
                    <i *ngIf="topic.workinprogress" class="material-icons white yellow-text small font-size: 20px" title="In development">error</i>
                    V{{topic?.version?.major}}.{{topic?.version?.minor}}
                  </div>
                </div>
              </h5>

              <div class="row">
                <p>{{topic?.abstractDescription}}</p>
                <qddt-author-chip [authors]="topic.authors" ></qddt-author-chip>
              </div>

              <qddt-topic-edit [isVisible]="edit.isVisible" [topic]="topic"
                (topicSavedEvent)="onTopicSavedEvent($event)"
                #edit>
              </qddt-topic-edit>

              <div *ngIf="topic.topicGroupQuestions?.length > 0" class="section">
                <ul class="collection with-header">
                  <li class="collection-header">Question Items</li>
                  <li class="collection-item" *ngFor="let tqi of topic.topicGroupQuestions">
                    <div class="row"
                         (mouseenter)="showQuestionbutton = true"
                         (mouseleave)="showQuestionbutton = false">
                      <div class="col s1">
                        <a class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                           [ngClass]="{hide: !showQuestionbutton}"
                           (click)="onClickQuestionItem(tqi.questionItem)">
                          <i class="material-icons" title="Search for...">search</i>
                        </a>
                      </div>
                      <div class="col s10">{{tqi?.questionItem?.question?.question}}</div>
                      <div class="col s1">
                        <a
                          class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                          [ngClass]="{hide: !showQuestionbutton}"
                          (click)="removeQuestionItem(tqi?.questionItem?.id)">
                          <i class="material-icons" title="Remove selected">remove</i>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>


              <qddt-revision [isVisible]="revision.isVisible" [current]="topic"
                [config]="[{'name':'name','label':'Name'},{'name':'description','label':'Description'}]"
                [qddtURI]="'audit/topicgroup/' + topic.id + '/all'" #revision ></qddt-revision>

              <div class="row">
                <qddt-comment-list [ownerId]="topic.id" [comments]="topic.comments"></qddt-comment-list>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div>
      <div [attr.id]="topic.id + '-topic-questionitem-modal'"
           class="modal modal-fixed-footer"
           materialize="modal" [materializeActions]="questionItemActions">
        <div class="modal-footer">
          <button
            class="btn btn-default red modal-action modal-close waves-effect waves-red">
            <i class="close material-icons">close</i>
          </button>
        </div>
        <div class="modal-content">
          <div class="row" *ngIf="questionItem">
            <label class="active teal-text ">Name</label>
            <H5 class="grey-text darken-2">{{questionItem.name}}</H5>
          </div>
          <qddt-preview-questionitem [questionItem]="questionItem"></qddt-preview-questionitem>
        </div>
      </div>
    </div>
  </div>

  <div class="col hide-on-small-only m1 l1">
    <div style="top: 55;" class="toc-wrapper pinned">
      <h5>Module Toc</h5>
      <ul class="section table-of-contents">
        <li><a href="Home#topMenu">To the top </a> </li>
        <li *ngFor="let topic of topics"><a href="Home#{{topic.id}}">{{topic.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
