
<div *ngIf="show">
  <div>
    <div [attr.id]="'topic-questionitem-modal'"
         class="modal modal-fixed-footer"
         materialize="modal" [materializeActions]="questionItemActions">
      <div class="modal-footer">
        <button
          class="btn btn-default red modal-action modal-close waves-effect waves-red">
          <i class="close material-icons">close</i>
        </button>
      </div>
      <div class="modal-content">
        <div class="row" *ngIf="questionItem">
          <label class="active teal-text ">Name</label>
          <H5 class="grey-text darken-2">{{questionItem.name}}</H5>
        </div>
        <qddt-preview-questionitem [questionItem]="questionItem"></qddt-preview-questionitem>
      </div>
    </div>
  </div>
  <div class="col s12 m9">
    <div class="card white white-text text-lighten-2">
      <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
        <i class="material-icons large right">comment</i><h4>Questionnaire modules for {{study?.name}}</h4>

        <a class="btn" (click)="onToggleTopicForm()" *ngIf="!study.archived" >
        <i class="material-icons right" *ngIf="!showTopicForm">keyboard_arrow_down</i>
        <i class="material-icons right" *ngIf="showTopicForm">keyboard_arrow_up</i>
        New</a>

        <div *ngIf="showTopicForm">
          <div class="card-action">
            <form (ngSubmit)="onNewSave()" #newTopicFrom="ngForm">
              <div class="row">
                <div class="input-field col s10">
                  <input id="name" name="name" type="text" [(ngModel)]="newTopic.name" required>
                  <label for="name" class="white-text">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="newTopic.abstractDescription"
                            required autosize ></textarea>
                  <label for="description" class="white-text">Description</label>
                </div>
              </div>
              <button [disabled]="!newTopicFrom .form.valid" type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="topics">
        <div class="row card" *ngFor="let currentElement of topics" style="padding-left:2%">
          <div id="{{currentElement?.id}}" class="scrollspy">
            <div class="col s1 m1 l1">
              <br/>
              <div class="row">
                <a *ngIf="!currentElement.archived" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="edit.isVisible = !edit.isVisible"><i class="material-icons" title="Edit Concept">mode_edit</i></a>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="revision.isVisible = !revision.isVisible"><i class="material-icons left medium" title="Revision history">history</i></a>
                <qddt-questionitem-reuse
                  *ngIf="!currentElement.archived"
                  [parentId]="currentElement?.id"
                  (questionItemCreatedEvent)="onAddQuestionItem($event,currentElement?.id)">
                </qddt-questionitem-reuse>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
                  <i class="material-icons" (click)="onGetPdf(currentElement)" title="Get as Pdf">picture_as_pdf</i></a>
                <qddt-confirm-delete
                  *ngIf="!currentElement.archived"
                  [element]="currentElement"
                  (confirmAction)="onRemoveTopic($event)">
                </qddt-confirm-delete>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="onSelectTopic(currentElement)"><i class="material-icons left medium"title="Go to child elements">play_arrow</i></a>
              </div>
            </div>

            <div class="col s10 m10 l10 grey-text text-darken-2">
              <h5 class="row">
                <div class="col s10">{{currentElement?.name}}</div>

                <div class="col s2">
                    <qddt-version-label [element]="currentElement"></qddt-version-label>
                </div>
              </h5>
              <qddt-topic-edit [isVisible]="edit.isVisible" [topic]="currentElement"
                               (topicSavedAction)="onTopicSavedEvent($event)"
                               #edit>
              </qddt-topic-edit>
              <div class="row">
                <p>{{currentElement?.abstractDescription}}</p>
                <!--<label class="teal-text" *ngIf="topic.authors?.length>0">Authors</label>-->
                <!--<qddt-author-chip [authors]="topic.authors" ></qddt-author-chip>-->
              </div>
              <div class="row" *ngIf="currentElement?.otherMaterials && currentElement?.otherMaterials?.length > 0">
                <ul class="collection with-header hoverable">
                  <li class="collection-header teal-text">External aid</li>
                  <li *ngFor="let m of currentElement.otherMaterials;" class="col s10 m5">
                    <a class="waves-effect waves-light" (click)="onDownloadFile(m)">
                      <i class="material-icons center smal">description</i> {{m.originalName}}</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="currentElement?.topicQuestionItems?.length > 0" class="section">
                <ul class="collection with-header hoverable"
                    (mouseenter)="showQuestionbutton = true"
                    (mouseleave)="showQuestionbutton = false">
                  <li class="collection-header teal-text">Question Items</li>
                  <a class="collection-item grey-text text-darken-1" *ngFor="let cqi of currentElement.topicQuestionItems">
                    <div class="row" style="min-height: 3rem;">
                      <div class="col s11" (click)="onClickQuestionItem(cqi.questionItem)" style="cursor: pointer;">
                        ♦ {{cqi?.questionItem?.question?.question}}</div>
                      <div class="col s1">
                        <a *ngIf="!currentElement.archived"
                          class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                          [ngClass]="{hide: !showQuestionbutton}"
                          (click)="onRemoveQuestionItem(cqi?.id)">
                          <i class="material-icons" title="Remove selected">remove</i>
                        </a>
                      </div>
                    </div>
                  </a>
                </ul>
              </div>
              <qddt-revision *ngIf="revision.isVisible"
                [current]="currentElement"
                [config]="config"
                [qddtURI]="'audit/topicgroup/' + currentElement.id + '/all'" #revision
               (requestPreview)="showPreview($event)">
              </qddt-revision>

              <qddt-comment-list
                [ownerId]="currentElement.id"
                [comments]="currentElement.comments">
              </qddt-comment-list>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <qddt-toc [tocName]="'Module Toc'" [elements]="topics"></qddt-toc>


</div>
