<div *ngIf="topic && isVisible" class="row " id="{{formId}}"  >
  <form (ngSubmit)="onSave()" #topicForm="ngForm">

    <div class="row input-field">
      <input id="{{formId}}-name"  data-length ="250"
                name="{{formId}}-name"type="text" [(ngModel)]="topic.name" required>
      <label for="{{formId}}-name" >Name</label>
    </div>

    <div class="row input-field">
      <textarea id="{{formId}}-desc" name="{{formId}}-description" class="materialize-textarea"
        [(ngModel)]="topic.description" required  data-length ="10000" >
      </textarea>
      <label for="{{formId}}-desc">Description</label>
    </div>

    <qddt-download [fileStore]="fileStore" [entity]="topic" [readonly]="readonly"></qddt-download>

    <qddt-rational [formName]="'RationalComp'" [element]="topic" [config]="{hidden: [2,3]}"></qddt-rational>

    <qddt-element-footer [element]="topic"  > </qddt-element-footer>

    <div class="row right-align">
      <button type="submit" class="btn btn-default" [disabled]="topicForm.form.invalid" >Submit</button>
    </div>

  </form>
</div>

