<div class="col s12 m9">
  <div class="card-panel row white-text teal">
    <i class="material-icons large right">filter_2</i>
    <h4>Questionnaire modules for {{ study?.name }}</h4>
    <a class="btn" *ngIf="!study.archived && !readonly" (click)="showTopicForm = !showTopicForm; showReuse=false">
      <i class="material-icons right" *ngIf="!showTopicForm">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="showTopicForm">keyboard_arrow_up</i>
      New
    </a>
    <a class="btn" *ngIf="!study.archived && !readonly" (click)="showReuse = !showReuse; showTopicForm=false ">
      <i class="material-icons right" *ngIf="!showReuse">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="showReuse">keyboard_arrow_up</i>
      reuse
    </a>
    <qddt-copy-select *ngIf="showReuse" [parentId]="study.id" [elementKind]="TOPIC_KIND"
      (dismissEvent)="showReuse=false;" (itemSelected)="onSelectedRevsion($event)">
    </qddt-copy-select>
    <div *ngIf="showTopicForm">
      <div class="row card-action">
        <div class="col s10 offset-s1">
          <form #hf="ngForm">
            <div class="row input-field">
              <input name="name" class="white-text" type="text" ngModel required data-length="250">
              <label class="white-text">Name</label>
            </div>
            <div class="row input-field white-text">
              <textarea name="description" class="materialize-textarea white-text" ngModel required
                data-length="10000"></textarea>
              <label class="white-text">Description</label>
            </div>
            <div class="row right-align">
              <button type="button" (click)="onNewSave(hf.value)" class="btn btn-default"
                [disabled]="!hf.form.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showProgressBar" class="progress">
    <div class="indeterminate"></div>
  </div>

  <div id="{{topic.id}}" *ngFor="let topic of topics" class="row card section scrollspy white grey-text text-darken-2"
    [ngClass]="{'grey lighten-5': edit.isVisible}">
    <div class="col s1">
      <ul class="dropdownmenu">
        <li *ngIf="!topic.archived && !readonly">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light green lighten-2"
            (click)="edit.isVisible = !edit.isVisible;">
            <i class="material-icons" title="Edit Concept">mode_edit</i></a>
        </li>
        <li *ngIf="!edit.isVisible">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light blue lighten-2"
            (click)="edit.showRevision = !edit.showRevision">
            <i class="material-icons" title="Revision history">history</i></a>
        </li>
        <li *ngIf="!edit.isVisible">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="onSelectTopic(topic)">
            <i class="material-icons" title="Go to child elements">play_arrow</i></a>
        </li>
        <li *ngIf="!edit.isVisible && !topic.archived  && canDelete">
          <qddt-confirm-delete [element]="topic" (confirmAction)="onRemoveTopic($event)"></qddt-confirm-delete>
        </li>
      </ul>
    </div>
    <div class="col s10">
      <h5 class="row">
        <div class="col s10">{{ topic?.name }}</div>
        <div class="col s2">
          <qddt-version-label class="right" [element]="topic"></qddt-version-label>
        </div>
      </h5>
      <qddt-topic-edit #edit [topic]="topic" (savedEvent)="onTopicSaved($event)">
      </qddt-topic-edit>

      <div *ngIf="!edit.isVisible" class="row">
        <div class="col s12">
          <p [innerHtml]="topic.description"></p>

          <qddt-question-items [revisionRefs]="topic.topicQuestionItems" [readonly]="topic.archived || readonly"
            (createdEvent)="onQuestionItemAdded($event,topic.id)"
            (deletedEvent)="onQuestionItemRemoved($event,topic.id)"
            (modifiedEvent)="onQuestionItemModified($event,topic.id)">
          </qddt-question-items>

          <qddt-download [entity]="topic" [readonly]="true"></qddt-download>

          <qddt-comment-list [ownerId]="topic.id" [comments]="topic.comments">
          </qddt-comment-list>
        </div>
      </div>

      <qddt-revision *ngIf="edit.showRevision" [current]="topic"></qddt-revision>

    </div>
  </div>
</div>

<qddt-toc [path]="'module'" [elements]="topics"></qddt-toc>
