<div class="row">
	<div class="col m10 l9">
		<div class="card white white-text text-lighten-2">
			<div class="row teal z-depth-1" style="padding-left: 2%; padding-top: 1%; padding-bottom: 1%;">
				<i class="material-icons large right">comment</i>
				<h4>Response Domains</h4>
				<a class="btn" (click)="onToggleResponseDomainForm()">
					<i class="material-icons right" *ngIf="!showResponseDomainForm">keyboard_arrow_down</i>
					<i class="material-icons right" *ngIf="showResponseDomainForm">keyboard_arrow_up</i> New
				</a>
			</div>
		</div>
    <div class="row card">
			<div class="response-domain-title">
				<span name="text">Domain Type:</span>
			</div>
			<div class="col left" *ngFor="#domain of domainTypeDescription">
				<input name="domaintypegroup" type="radio" id="domain-type-{{domain.id}}"
          (click)="selectDomainType(domain.id)" [checked]="domainType === domain.id"
				/> <label [attr.for]="'domain-type-' + domain.id">{{domain.label}}</label>
			</div>
		</div>
		<div *ngIf="showResponseDomainForm" class="row">

			<div *ngIf="responseDomains" class="row card searchcard">
				<autocomplete [items]="responseDomains" [searchField]="'name'"
				  (autocompleteFocusEvent)="showAutoComplete = true;" [initialValue]="responseDomain?.label"
				  (autocompleteSelectEvent)="select($event)">
				</autocomplete>
			</div>
			<div class="row card">
				<a *ngIf="responseDomain.id" class="waves-effect waves-light btn"
				  (click)="isVisible = !isVisible"><i class="material-icons">mode_edit</i></a>
				<a class="waves-effect waves-light btn" (click)="createResponseDomain()">
				  <i class="material-icons">add</i>
				</a>
			</div>
			<responsedomain-form *ngIf="isVisible"
        (formChange)="formChange()" [responsedomain]="responseDomain" [domainType]="domainType">
      </responsedomain-form>
		</div>
		<responsedomain-list [responseDomains]="responseDomains"></responsedomain-list>
	</div>

	<div class="col hide-on-small-only m1 l1">
		<div style="top: 55;" class="toc-wrapper pinned">
			<h5>Response Domain Toc</h5>
			<ul class="section table-of-contents">
				<li *ngFor="#responseDomain of responseDomains">
				  <a href="/Responsedomains#{{responseDomain.id}}">{{responseDomain.name}}</a></li>
			</ul>
		</div>
	</div>
</div>