<div class="row">
	<div class="row">
		<div class="card white white-text text-lighten-2">
			<div class="row teal z-depth-1" style="padding-left: 2%; padding-top: 1%; padding-bottom: 1%;">
				<i class="material-icons large right">comment</i>
				<h4>Response Domains</h4>
				<a class="btn" (click)="onToggleResponseDomainForm()">
					<i class="material-icons right" *ngIf="!showResponseDomainForm">keyboard_arrow_down</i>
					<i class="material-icons right" *ngIf="showResponseDomainForm">keyboard_arrow_up</i> New
				</a>
			</div>
		</div>
    <div *ngIf="!isDetail" class="row card">
			<div class="response-domain-title">
				<span name="text">Domain Type:</span>
			</div>
			<div class="col left" *ngFor="#domain of domainTypeDescription">
				<input name="domaintypegroup" type="radio" id="domain-type-{{domain.id}}"
          (click)="selectDomainType(domain.id)" [checked]="domainType === domain.id"
				/> <label [attr.for]="'domain-type-' + domain.id">{{domain.label}}</label>
			</div>
		</div>
		<div *ngIf="showResponseDomainForm" class="row">
			<responsedomain-form
        (formChange)="formCreate($event)" [responsedomain]="responseDomain" [domainType]="domainType">
      </responsedomain-form>
		</div>
		<qddt-table *ngIf="!isDetail" [items]="responseDomains" [page]="page" [columns]="columns"
          [searchFromServer]="true"
					(enterEvent)="searchResponseDomains($event)"
          (detailEvent)="onDetail($event)" (pageChangeEvent)="onPage($event)"></qddt-table>
	</div>

<div class="row" *ngIf="isDetail">
  <div class="row">
    <div class="col s10">
      <label class="active teal-text flow-text">Version: {{selectedResponseDomain?.version?.major}}.{{selectedResponseDomain?.version?.minor}}</label>
    </div>
  </div>
  <div id="{{selectedResponseDomain?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
				  (click)="revisionIsVisible = !revisionIsVisible">
					<i class="material-icons left medium">history</i>
				</a>
				<a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <h5>{{selectedResponseDomain?.name}}</h5>
    </div>

    <div class="col s10 m10 l10 white grey-text text-darken-1">
        <responsedomain-form
          (formChange)="formChange($event)" [responsedomain]="selectedResponseDomain"
          [domainType]="domainType">
        </responsedomain-form>
        <qddt-revision [isVisible]="revisionIsVisible"
          [qddtURI]="'audit/responsedomain/' + selectedResponseDomain.id + '/all'"></qddt-revision>
        <qddt-responsedomain-preview [isVisible]="true"
          [responseDomain]="selectedResponseDomain" #preview></qddt-responsedomain-preview>
        <div class="row">
          <comment-list [ownerId]="selectedResponseDomain.id"></comment-list>
        </div>
      </div>
  </div>
</div>

</div>