<div>
	<div *ngIf="responsedomain" class="card" id="{{responsedomain.id}}">
		<form (ngSubmit)="save()" #hf="ngForm">
			<div class="row">
				<div class="input-field col s12">
					<input type="text" [(ngModel)]="responsedomain.name" required>
					<label for="name" class="active teal-text">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea class="materialize-textarea"
						[(ngModel)]="responsedomain.description" required></textarea>
					<label for="description" class="active teal-text">Description</label>
				</div>
			</div>
			<div class="row">
				<div [ngSwitch]="domainType">
					<div *ngSwitchWhen="domainTypeDef.SCALE">
					    <div class="row">
					      <autocomplete [items]="suggestions"
											[searchField]="'label'"
											(autocompleteFocusEvent)="selectedCategoryIndex=idx;"
											[initialValue]="''"
											(autocompleteSelectEvent)="select($event)"></autocomplete>
					    </div>
						<table *ngIf="responsedomain.managedRepresentation">
						  <thead><tr><td>Code</td><td>Category</td></tr></thead>
							<tbody>
								<tr *ngFor="#category of responsedomain.managedRepresentation.children;#idx=index">
									<td><input type="text" [(ngModel)]="codes[idx]" value="idx+1" required></td>
									<td>{{category.name}} [{{category.categoryType}}]</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div *ngSwitchWhen="domainTypeDef.LIST">
					  <div class="row">
					    <autocomplete [items]="suggestions"
											[searchField]="'label'"
											(autocompleteFocusEvent)="selectedCategoryIndex=idx;"
											[initialValue]="''"
											(autocompleteSelectEvent)="select($event)"></autocomplete>
					  </div>
						<table *ngIf="responsedomain.category">
						  <thead><tr><td>Code</td><td>Category</td></tr></thead>
							<tbody>
								<!-- TODO this needs to be recursive -->
								<tr *ngFor="#category of responsedomain.managedRepresentation.children;#idx=index">
									<td><input type="text" [(ngModel)]="codes[idx]" value="idx+1" required></td>
									<td>{{category.name}} [{{category.categoryType}}]</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div *ngSwitchWhen="domainTypeDef.NUMERIC">
						<table>
						  <thead><tr><td>Numeric Range</td><td>Value</td></tr></thead>
							<!-- TODO this is part of Category Category.inputLimit (minimum/maximum) -->
							<tbody>
								<tr>
								  <td><label>Start</label></td>
								  <td><input type="text" [(ngModel)]="start" required></td>
								</tr>
								<tr>
								  <td><label>End</label></td>
								  <td><input type="text" [(ngModel)]="end" required></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div *ngIf="responsedomain.changeKind" class="row">
				<div class="input-field col s4">
					<label class="active teal-text">Version Reason</label> <select
						[(ngModel)]="responsedomain.changeKind"
						materialize="material_select" required>
						<option value="" disabled selected>Select reason</option>
						<option *ngFor="#change of _ChangeEnums" [value]="change[0]">{{change[1]}}</option>
					</select>
				</div>
				<div class="input-field col s8">
					<input type="text" [(ngModel)]="responsedomain.changeComment"
						required> <label for="changeComment"
						class="active teal-text">Save Comment</label>
				</div>
			</div>
			<div *ngIf="responsedomain.authors" class="row">
				<div class="input-field col s8">
					<p>
						<label class="active teal-text">Authors</label>
					</p>
					<div class="chip" *ngFor="#author of responsedomain.authors">
						<img src="{{author.picture}}">{{author.name}} <i
							class="material-icons" (click)="removeAuthor(author.id)">close</i>
					</div>
				</div>
				<div class="input-field col s4">
					<p>
						<label class="active teal-text">Agency</label>
					</p>
					<div class="chip">{{responsedomain.modifiedBy.agency.name}}</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
