<div *ngIf="managedRepresentation">
  <table *ngIf="displayLayout === 0">
    <thead>
      <tr>
        <th *ngFor="let item of headers" [attr.colspan]=item.colspan scope="colgroup" class="{{item.class}}">
          <span>
            <label>{{ item.label }}</label>
          </span>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="((max - min)/stepUnit) <= 15">
      <tr *ngFor="let row of rows; let idx=index;">
        <td *ngFor="let option of columns" style="text-align: center">
          <label>
            <input name="option-select" type="radio" />
            <span>{{ option?.value }}</span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="displayLayout === 0 && ((max - min)/stepUnit)>15" class="range-field">
    <input type="range" id="test5" min={{min}} max={{max}} />
  </div>

  <div *ngIf="displayLayout !== 0">
    <ul>
      <li *ngFor="let option of rows">
        <span class="left" style="width: 30px; float: right; "> {{ option.value }} </span>
        <label>
          <input name="option-select" type="radio" />
          <span>{{option.label}}</span>
        </label>
      </li>
    </ul>
  </div>
</div>
