<ng-container *ngIf="managedRepresentation">
  <ng-container *ngIf="displayLayout === 0">
    <table>
      <thead>
        <tr style="white-space: nowrap;">
          <th *ngFor="let item of headers">
            <label>{{ insertParam(item.label) }}</label>
          </th>
        </tr>
      </thead>
      <tbody *ngIf=" numberOfSteps(max,min,stepUnit) <=15">
        <tr *ngFor="let row of rows;">
          <td *ngFor="let option of columns;let idx=index;">
            <label>
              <input [id]="idx" [name]="inputGroupName" type="radio" (change)="checkOption(option?.value)" />
              <span>{{ option?.value }}</span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="numberOfSteps(max,min,stepUnit)>15" class="range-field">
      <input type="range" name="points" min={{min}} max={{max}} step={{stepUnit}}
        (input)="checkOption( $event.target.value)" />
    </p>
  </ng-container>
  <ng-container *ngIf="displayLayout !== 0">
    <ul>
      <li *ngFor="let option of rows">
        <span class="codeValue"> {{ option.value }} </span>
        <label>
          <input [name]="inputGroupName" type="radio" (change)="checkOption(option.value)" />
          <span>{{insertParam(option.label)}}</span>
        </label>
      </li>
    </ul>
  </ng-container>
</ng-container>
