<div *ngIf="managedRepresentation" class="row" >
<!--{{ min }}{{ max }}-->
  <table *ngIf="displayLayout === 0">
    <thead>
    <tr>
      <th *ngFor="let item of headers" [attr.colspan]=item.colspan scope="colgroup" class="{{item.class}}" width="{{item.width}}%" >
              <span>
                <label>{{ item.label }}</label>
              </span>
      </th>
    </tr>
    </thead>
    <tbody *ngIf="max - min <= 15">
    <tr *ngFor="let row of rows; let idx=index">
      <td *ngFor="let option of columns" style="text-align: center">
              <label>
                <input name="{{managedRepresentation.id}}-group-{{idx}}" type="radio" />
                <span>{{ option?.value }}</span>
              </label>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="displayLayout === 0 && max - min > 15" class="range-field">
    <input type="range" id="test5"
           min={{min}}
           max={{max}}/>
  </div>

  <div *ngIf="displayLayout !== 0">
    <ul class="row">
      <li *ngFor="let option of rows; let i=index" class="row">
        <input name="{{managedRepresentation.id}}-list" type="radio" id="{{managedRepresentation.id}}code{{i}}"/>
        <label [attr.for]="managedRepresentation.id + 'code' + i">{{ option?.label }}</label>
        <span class="s1 right"> {{ option?.value }} </span>
      </li>
    </ul>
  </div>

</div>
