<div class="row hoverable"
     (mouseenter)="showbutton = true"
     (mouseleave)="showbutton = false">
  <div class="row"><label>Missing</label></div>
  <div class="row">
    <button *ngIf="!getMissing() && !readonly"
       [ngClass]="{hide: !showbutton}"
       [ngClass]="{disabled:responseDomain === null || responseDomain === undefined}"
       (click)="openModal('response-missing-01')"
       class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
      <i class="material-icons" title="response domain add">add</i>
    </button>
    <span *ngIf="getMissing()">{{ getMissing().name }}</span>
  </div>

    <button (click)="closeModal('response-missing-01');">Close</button>
</div>

