<div class="collection with-header hoverable row" *ngIf=" (countIn + countOut )> 0" cdkDropListGroup>
  <div class="collection-header col s12" style="cursor: zoom-in;" (click)="showParameters=!showParameters">
    <label> <i class="material-icons small">compare_arrows</i>Parameters({{ countIn + countOut }})</label>
  </div>

  <div *ngIf="countIn > 0 && showParameters" class="collection-item">
    <label>In ({{countIn}})</label>
    <ng-container *ngIf="isMapTrue(inParameters) && inParameters?.size>0">
      <div class="chip" style="margin-left: 0.75rem;" [ngClass]="{'green lighten-5': isTrue(entry.value) }"
        [title]="entry.value.referencedId" *ngFor="let entry of inParameters| keyvalue:valueAscOrder">
        {{getParam(entry.value)}}
      </div>
    </ng-container>
    <ng-container *ngIf="inParameters?.length>0">
      <div class="chip" style="margin-left: 0.75rem; cursor: pointer;"
        [ngClass]="{'green lighten-5': isTrue(parameter), 'red lighten-5': !parameter.referencedId }" cdkDrag
        [title]="parameter.id" *ngFor="let parameter of sortBy(inParameters,'idx')" cdkDropList
        [cdkDropListEnterPredicate]="valid" (cdkDropListDropped)="onItemDrop($event.item.data, parameter)"
        (click)="onChipClick(parameter)">
        <a [routerLink]='"."' [fragment]="parameter.referencedId||parameter.id">{{getParam(parameter)}}</a>
      </div>
    </ng-container>
  </div>
  <div *ngIf="countOut > 0 && showParameters" class="collection-item" cdkDropList>
    <label>Out ({{countOut}})</label>
    <ng-container *ngIf="isMapTrue(outParameters) && outParameters?.size>0">
      <div class="chip" style="margin-left: 0.75rem; cursor: grab;"
        [ngClass]="{'green lighten-5': isTrue(entry.value) }" [title]="entry.value.id"
        *ngFor="let entry of outParameters | keyvalue:valueAscOrder;let idx=index;" cdkDrag [cdkDragData]="entry.value">
        {{idx+1}}:{{getParam(entry.value)}}
      </div>
    </ng-container>
    <ng-container *ngIf="outParameters?.length>0">
      <div class="chip" style="margin-left: 0.75rem;" [ngClass]="{'green lighten-5': isTrue(parameter) }"
        [title]="parameter.id" *ngFor="let parameter of outParameters">
        {{getParam(parameter)}}
      </div>
    </ng-container>
  </div>
</div>
