<div *ngIf="element" class="row truncate" >
  <div class="input-field col s3 m1">
    <div class="chip" title={{getVersion()}}>
      {{element?.version?.major}}.{{element?.version?.minor}}</div>
    <label class="active">Version</label>
  </div>
  <div class="input-field col s5 m3">
    <div class="chip" title="{{element?.modified | date:'full'}}">{{element?.modified | date:'mediumDate' }}</div>
    <label class="active">Last Saved</label>
  </div>
  <div class="input-field col s5 m3">
    <div class="chip"><img class="gravatar" gravatar [email]="element?.modifiedBy?.email" [size]="32">
      {{element?.modifiedBy?.name |titlecase }}</div>
    <!--{{element?.modifiedBy?.name + '@' + element?.modifiedBy?.agencyName}}</div>-->
    <label class="active">Last Saved By</label>
  </div>
  <div class="input-field col s5 m3">
    <div class="chip">{{element?.agency?.name}}</div>
    <label class="active">Agency</label>
  </div>
  <div class="input-field col s5 m2">
    <div class="chip" *ngIf="element.basedOnObject" [ngStyle]="{'cursor': 'pointer'}" (click)="onClick()">Detail</div>
    <label class="active">Based On Object</label>
  </div>
</div>
