<div *ngIf="element" class="row truncate">
  <div class="input-field col s3 m1">
    <div class="chip" title={{getVersion()}}>
      {{element.version?.major}}.{{element.version?.minor}}</div>
    <label class="active">Version</label>
  </div>
  <div class="input-field col s5 m3">
    <div class="chip" title="{{element.modified | date:'full':undefined:fixNO_nb_nn(localID) }}">
      {{element.modified | date:'mediumDate':undefined:fixNO_nb_nn(localID) }}</div>
    <label class=" active">Last Saved</label>
  </div>
  <div class="input-field col s5 m3">
    <div class="chip" *ngIf="element._embedded?.modifiedBy?.email">
      <img class="gravatar" gravatar [email]="element._embedded.modifiedBy.email" [size]="32">
      {{element._embedded.modifiedBy.username |titlecase }}
    </div>
    <label class="active">Last Saved By</label>
  </div>
  <div class="input-field col s5 m3">
    <div class="chip">{{element._embedded?.agency?.name||element['agencyName']}}</div>
    <label class="active">Agency</label>
  </div>
  <div class="input-field col s5 m2">
    <div class="chip" *ngIf="element.basedOn" [ngStyle]="{'cursor': 'pointer'}" (click)="onClick()">Detail</div>
    <label class="active">Based On Object</label>
  </div>
</div>
