<div *ngIf="category" >
  <form (ngSubmit)="onSave()" #hf="ngForm">
    <div class="row">
      <div class="input-field col s12 ">
        <input id="label2" name="label2" type="text" class="validate" required
               [(ngModel)]="category.label" data-length="100" materialize="characterCounter">
        <label for="label2">Label</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m12 ">
        <input id="name2" name="name" type="text" class="validate" required [(ngModel)]="category.name"
               data-length="255" materialize="characterCounter">
        <label for="name2">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m12 ">
        <textarea class="materialize-textarea validate" name="{{category?.id}}-cat-desc"
                  data-length="1000" materialize="characterCounter" [(ngModel)]="category.description" >
        </textarea>
        <label for="{{category?.id}}-cat-desc" >Description</label>
      </div>
    </div>
    <div class="row" *ngIf="category.categoryType!=='CATEGORY'">
      <div class="input-field col s2 ">
        <label for="ctype" class="teal-text">Type</label>
        <input id="ctype" name="ctype" type="text" class="validate" [(ngModel)]="category.categoryType" readonly>
      </div>
      <div class="input-field col s2 offset-m1">
        <label for="min" class="teal-text">Input limit minimum</label>
        <input id="min" name="mini" type="number" class="validate" readonly min="0" [(ngModel)]="category.inputLimit.minimum" >
      </div>
      <div class="input-field col s2 offset-m1">
        <label for="max" class="teal-text">Input limit maximum</label>
        <input id="max" name="maxi" type="number" class="validate" readonly min="1"  [(ngModel)]="category.inputLimit.maximum" >
      </div>
      <div class="input-field col s6 m8">
        <label for="format" class="teal-text">Format</label>
        <input id="format" name="format" type="text" class="validate" [(ngModel)]="category.format" >
      </div>
    </div>

    <qddt-rational  *ngIf="!readonly && category.id" [formName]="'RationalComp'" [element]="category" [config]="{hidden: [4]}"></qddt-rational>

    <qddt-element-footer  *ngIf="category.id" [element]="category"></qddt-element-footer>

    <div class="row right-align">
      <button type="submit" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
    </div>
  </form>
</div>
