<div class="row">

  <div class="card white white-text text-lighten-2">
    <div class="row teal z-depth-1"
         style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
      <i class="material-icons large right">view_module</i><h4>Missing Values</h4>

      <a class="btn" (click)="onToggleCategoryForm()">
        <i class="material-icons right" *ngIf="!showCategoryForm">keyboard_arrow_down</i>
        <i class="material-icons right" *ngIf="showCategoryForm">keyboard_arrow_up</i> New
      </a>

      <div *ngIf="showCategoryForm" class="row card-action">
        <div class="col s10 offset-s1">
          <form (ngSubmit)="onSave()" #newSchemeForm="ngForm">
            <div class="row input-field ">
              <input name="name" id="name"
                     type="text" class="validate"
                     [(ngModel)]="category.name" required
                     (ngModelChange)="category.label = category.name.toUpperCase()">
              <label for="name" class="white-text">Name</label>
            </div>
            <div class="row input-field ">
              <textarea name="description" id="description"
                        class="materialize-textarea validate" required
                        [(ngModel)]="category.description">
              </textarea>
              <label for="description" class="white-text">Description</label>
            </div>
            <div class="row">
              <div class="col s2 input-field">
                <input name="category_number" id="category_number"
                       type="number" class="validate" required min="1"
                       (input)="setCategoryNumber($event)" >
                <label class="white-text" for="category_number">Number of categories</label>
              </div>
            </div>
            <div class="row">
              <table *ngIf="category.children">
                <thead><tr><td>Selected Responses</td></tr></thead>
                <tbody>
                  <tr *ngFor="let cat of category.children; let idx=index">
                  <td><auto-complete
                    [items]="categories" class="black-text"
                    [elementtype]="CATEGORY_KIND"
                    [initialValue]="cat?.label"
                    (autocompleteFocusEvent)="selectedCategoryIndex=idx;"
                    (enterEvent)="searchCategories($event)"
                    (autocompleteSelectEvent)="select($event)">
                    </auto-complete></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row right-align">
              <button type="submit" class="btn btn-default" [disabled]="!newSchemeForm.form.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <qddt-table *ngIf="!isDetail" [items]="missingCategories" [page]="page" [columns]="columns"
      [searchFromServer]="true"
      (enterEvent)="searchMissingCategories($event)"
      (detailEvent)="onDetail($event)" (pageChangeEvent)="onPage($event)">
    </qddt-table>
  </div>
  <div class="row" *ngIf="isDetail">
    <div class="fixed-action-btn vertical click-to-toggle">
      <a class="btn-floating btn-large cyan"><i class="large material-icons">menu</i></a>
      <ul>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light blue" (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium" title="Revision history">history</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="onDeleteMissingModal()" title="Delete" >delete_forever</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light green darken-1">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a></li>
      </ul>
    </div>
    <div class="col s1">
      <a class="btn-flat btn-floating btn-medium waves-effect waves-light  green darken-1">
        <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
      </a>
    </div>
    <div class="col s10  white grey-text text-darken-1">
      <form (ngSubmit)="onSave()" #editSchemeForm="ngForm">
        <div class="row">
            <qddt-version-label class="right" [element]="selectedCategory"></qddt-version-label>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <label [attr.for]="selectedCategory.id + '-name'" class="teal-text">Name</label>
            <input name="{{selectedCategory?.id}}-name"
                   id="{{selectedCategory?.id}}-name"
                   type="text" class="validate"
                   class="validate" required
                   materialize="characterCounter" data-length="255" maxlength="255" minlength="5"
                   [(ngModel)]="selectedCategory.name"
                   (ngModelChange)="selectedCategory.label = selectedCategory.name.toUpperCase()">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="schemeDescription" class="teal-text">Description</label>
            <textarea class="materialize-textarea validate" required
                      materialize="characterCounter" data-length="1000" maxlength="1000"
                      name="SchemeDescription" id ="schemeDescription"
                      [(ngModel)]="selectedCategory.description" >
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col s2 input-field">
            <input class="form-control validate"
                id="{{selectedCategory?.id}}-category_number" name="{{selectedCategory?.id}}-category_number"
                type="number" min="1" max="25"
                value="{{selectedCategory.children.length}}"
                (input)="setCategoryNumber($event)">
            <label class="teal-text" [attr.for]="selectedCategory.id + '-category_number'">
              Number of categories
            </label>
          </div>
          <!--<div class="col s2">-->
            <!--<p>form.valid -> {{editSchemeForm.form.valid}}</p>-->
            <!--<p>valid -> {{editSchemeForm.valid}}</p>-->
          <!--</div>-->
          <div class="row" *ngIf="selectedCategory.children">
            <div class="col s12">
              <table >
                <thead><tr><td>Select Responses</td></tr></thead>
                <tbody>
                <tr *ngFor="let cat of selectedCategory.children; let idx=index">
                  <td><auto-complete
                    [items]="categories"
                    [elementtype]="CATEGORY_KIND"
                    [initialValue]="cat?.label"
                    (autocompleteFocusEvent)="selectedCategoryIndex=idx;"
                    (enterEvent)="searchCategories($event)"
                    (autocompleteSelectEvent)="select($event)">
                  </auto-complete></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--<div class="row">-->
          <qddt-rational [formName]="'RationalComp'" [element]="selectedCategory" [config]="{hidden: [4]}"></qddt-rational>
        <!--</div>-->
        <!--<div class="row">-->
          <qddt-element-footer [element]="selectedCategory"></qddt-element-footer>
        <!--</div>-->
        <div class="row right-align">
          <button type="submit" class="btn btn-default" [disabled]="!editSchemeForm.form.valid">Submit</button>
        </div>
      </form>
      <qddt-revision *ngIf="revisionIsVisible"
        [config]="revisionConfig"
        [current]="selectedCategory"
        [qddtURI]="'audit/category/' + selectedCategory.id + '/all'">
      </qddt-revision>
      <qddt-comment-list [ownerId]="selectedCategory.id" [comments]="selectedCategory.comments"></qddt-comment-list>
    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <span>Are you sure to delete Missing Scheme {{ selectedCategory?.name }}?</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
