
<div id="select-missing-01" class="modal" style="width:35%;">
  <div class="modal-content">
    <div class="row">
      <qddt-auto-complete
        [items]="missingGroups"
        [elementKind]="CATEGORY_KIND"
        [autoCreate]="false"
        (enterEvent)="onSearchCategories($event)"
        (selectEvent)="setMissing($event)">
      </qddt-auto-complete>
    </div>
    <table *ngIf="missingRd">
      <thead><tr><td>Code</td><td>Category</td></tr></thead>
      <tbody>
      <tr *ngFor="let category of getMissing().children; let idx=index">
        <td><input id="{{category?.id}}-code-value"
                   name="{{category?.id}}-code-value"
                   type="text" [(ngModel)]="category.code.codeValue" required></td>
        <td>{{ category?.label }}</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <button [disabled]="f.invalid" class="btn btn-primary waves-effect right" (click)="onSave()">Apply</button>
    </div>
    </form>
  </div>
</div>
