<!--<div class="row hoverable"-->
<!--     (mouseenter)="showButton = true"-->
<!--     (mouseleave)="showButton = false">-->
<!--  <ng-content></ng-content>-->

<!--  <button *ngIf="!getMissing()"-->
<!--            [ngClass]="{hide: true}"-->
<!--            [ngClass]="{disabled:false}"-->
<!--            (click)="openModal('response-missing-01')"-->
<!--            class="btn-flat btn-floating btn-medium waves-effect waves-light teal">-->
<!--      <i class="material-icons" title="response domain add">add</i>-->
<!--    </button>-->

<!--</div>-->
