<div *ngIf="questionItem" class="white col s12">

  <div class="row">
    <p class="card-panel grey-text grey lighten-5"
    [innerHtml]="questionItem.question" style="font-style: italic"></p>
  </div>

  <qddt-preview-responsedomain
    *ngIf="questionItem?.responseDomain"
    [responseDomain]="questionItem.responseDomain">
  </qddt-preview-responsedomain>

  <qddt-conceptref [element]="questionItem"></qddt-conceptref>

  <form  id="{{formId}}" #hf="ngForm" (ngSubmit)="onSaveQuestionItem()" >
    <div class="row input-field">
      <input id="NAME-{{formId}}"  placeholder="Name me" name="name" type="text" class="validate" required [(ngModel)]="questionItem.name" data-length="255">
      <label for="NAME-{{formId}}">Name</label>
    </div>
    <div class="row input-field">
      <textarea id="QUESTION-{{formId}}" name="question" [(ngModel)]="questionItem.question"
                class="materialize-textarea validate" required minlength="2" data-length="1500">
      </textarea>
      <label for="QUESTION-{{formId}}" >Question text</label>
    </div>
    <div class="row input-field">
      <textarea id="INTENT-{{formId}}" name="intent" [(ngModel)]="questionItem.intent"
                class="materialize-textarea validate" data-length="2000">
      </textarea>
      <label for="INTENT-{{formId}}">Question intent</label>
    </div>

    <qddt-responsedomain-select *ngIf="questionItem"
        [responseDomain]="questionItem.responseDomain"
        (selectedEvent)="onSaveResponseDomain($event)"
        (removeEvent)="onResponsedomainRemove($event)">
    </qddt-responsedomain-select>

    <qddt-rational [formName]="'RationalComp'"
      *ngIf="!readonly && questionItem.id"
      [element]="questionItem"
      [config]="{hidden: [4]}">
    </qddt-rational>
    <qddt-element-footer *ngIf="questionItem.id" [element]="questionItem"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>
