.searchcard i.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.autocomplete {
  width: 100%;
  position: relative;
}

.autocomplete input {
  width: 95%;
  margin: 0 0 5px;
}

.autocomplete .row {
  margin: 0;
}

.autocomplete ul {
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  margin-top: 2px;
  z-index: 100;
}

.autocomplete li {
  text-align: left;
  list-style: none;
  width: 100%;
  padding: 0.4em;
  background-color: #fff;
}

.autocomplete li.active {
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #e2e2e2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

.search-box, .search-wrapper {
  position: relative;
  padding: 5px;
}
.search-wrapper {
  width: 500px;
  margin: 50px auto auto;
}
.search-box {
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: flow;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  vertical-align: middle;
  float: unset;
  display: unset;
  position: relative;
  margin: auto;
  padding: 5px;
  box-shadow: 0 0 2px #43857b;
  border-radius: 50%;
  right: 20px;
  color: white;
  background-color: teal;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}
