<div *ngIf="element" class="row truncate">
  <div class="input-field col s3 l1">
    <p><label class="active teal-text">Version</label></p>
    <div class="chip">{{element?.version?.major}}.{{element?.version?.minor}}</div>
  </div>
  <div class="input-field col s5 l3">
    <p><label class="active teal-text">Last Saved</label></p>
    <div class="chip">{{element?.modified | localDate}}</div>
  </div>
  <div class="input-field col s4 l3">
    <p><label class="active teal-text">Last Saved By</label></p>
    <div class="chip">{{element?.modifiedBy?.username}}</div>
  </div>
  <div class="input-field col s5 l3">
    <p><label class="active teal-text">Agency</label></p>
    <div class="chip">{{element?.agency?.name}}</div>
  </div>
  <div class="input-field col s5 l2">
    <p><label class="active teal-text">Based On Object</label></p>
    <div *ngIf="element.basedOnObject" class="chip"
         [ngStyle]="{'cursor': 'pointer'}"
         (click)="onClick(element.basedOnObject,element.basedOnRevision)">Detail
    </div>
  </div>

  <div [attr.id]="element.id + '-detail-readonly-modal'" class="modal modal-fixed-footer"
       materialize="modal" [materializeActions]="elementActions">
    <div class="modal-content">
      <div class="row"
           *ngIf="basedon && (type === 'survey' || type === 'category'|| type === 'controlconstruct'|| type === 'concept')">
        <label>Version: {{basedon?.version?.major}}.{{basedon?.version?.minor}}</label>
        <div class="row">
          <label class="active teal-text">Name</label>
          <input type="text" [ngModel]="basedon.name" readonly>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active teal-text">Description</label>
            <textarea class="materialize-textarea"
                      [ngModel]="basedon.description" readonly></textarea>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <p><label class="active teal-text">Authors</label></p>
            <qddt-author-chip [authors]="basedon.authors"></qddt-author-chip>
          </div>
          <div class="input-field col s4">
            <p><label class="active teal-text">Agency</label></p>
            <div class="chip">{{basedon.modifiedBy.agency.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        (click)="false"
        class="btn btn-default red modal-action modal-close waves-effect">
        <a><i class="close material-icons medium white-text">close</i></a>
      </button>
    </div>
  </div>
</div>
