<div *ngIf="isVisible">
  <div *ngIf="topic"  id="{{topic.id}}"  >
    <form (ngSubmit)="onSave()" #topicForm="ngForm">

      <div class="row">
        <div class="col s12 input-field">
          <label [attr.for]="topic.id + '-name'" class="teal-text">Name</label>
          <input id="{{topic?.id}}-name"
                 name="{{topic?.id}}-name"type="text" [(ngModel)]="topic.name" required>
        </div>
      </div>

      <ul class="hoverable"
          (mouseenter)="showbutton = !readonly"
          (mouseleave)="showbutton = false">
        <li>
          <div class="row" (click)="showUploadFileForm=!showUploadFileForm"  style="cursor: zoom-in; min-height:3rem">
            <div class="col s11"><label class="teal-text">External aid</label></div>
            <div class="col s1">
              <a [ngClass]="{hide: !showbutton}"
                 class="btn-flat btn-floating btn-small waves-effect waves-light teal">
                <i class="material-icons" title="Attach external aid (File Upload)">add</i>
              </a>
            </div>
          </div>
        </li>

        <div class="row" *ngIf="showUploadFileForm && !readonly">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" (change)="onSelectFile($event)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one file">
            </div>
          </div>
          <a *ngIf="files" class="btn-flat right btn-floating btn-medium waves-effect waves-light teal"
             (click)="onUploadFile()">
            <i class="material-icons left medium">done</i>
          </a>
        </div>
        <li class="row" *ngFor="let m of topic.otherMaterials; let idx=index;">
          <div class="row" style="min-height:3rem">
            <div class="col s10">
              <a class="waves-effect waves-light" (click)="onDownloadFile(m)">
                <i class="material-icons center smal">description</i>{{ m.originalName }}</a>
            </div>
            <div class="col s1 right" >
              <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                 [ngClass]="{hide: !showbutton}"
                 (click)="onDeleteFile(idx)">
                <i class="material-icons left medium" title="Delete" >delete_forever</i>
              </a>
            </div>
          </div>
        </li>
        <li *ngFor="let file of fileStore; let idx=index;">
          <div class="row">
            <div class="col s11 m5">
              <a class="waves-effect waves-light"><i class="material-icons center smal">description</i>{{ file[0]?.name }}</a>
            </div>
            <div class="col s1 right" style="min-height:3rem">
              <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                 [ngClass]="{hide: !file.showbutton}"
                 (click)="onDeleteFileFromLocal(idx)">
                <i class="material-icons left medium" title="Delete" >delete_forever</i>
              </a>
            </div>
          </div>
        </li>
      </ul>

      <div class="row">
        <div class="col s12 input-field">
          <label [attr.for]="topic.id + '-description'" class="teal-text">Description</label>
          <textarea id="{{topic?.id}}-description" name="{{topic?.id}}-description"
                    class="materialize-textarea"  [(ngModel)]="topic.abstractDescription" required autosize></textarea>
        </div>
      </div>

      <qddt-rational [formName]="'RationalComp'" [element]="topic" [config]="{hidden: [2,3]}"></qddt-rational>

      <qddt-element-footer [element]="topic"  > </qddt-element-footer>


      <div class="row right-align">
        <button type="submit" class="btn btn-default" [disabled]="!topicForm.form.valid" >Submit</button>
      </div>

    </form>
  </div>
</div>

