
<div id="modalLogin" class="modal" style="width:25%;">
  <div class="modal-content">
    <h4>Login</h4>
    <form (ngSubmit)="login()" (keyup.enter)="f.onSubmit()" #f="ngForm">
      <div class="row input-field">
        <input class="validate" id="email"  name="email" type="email" [(ngModel)]="formData.email" required email>
        <label for="email">Email</label>
      </div>
      <div class="row input-field">
        <input class="validate" id="pwRef" name="password"  type="password" [(ngModel)]="formData.password" required autofocus >
        <label for="pwRef">Password</label>
      </div>
      <div class="row">
        <button [disabled]="f.invalid || loading" class="btn btn-primary waves-effect right" (click)="f.onSubmit()">Login</button>
      </div>
    </form>
    <qddt-spinner *ngIf="loading" ></qddt-spinner>
  </div>  
</div>
