<div *ngIf="category" class="col s12">

  <form id="CAT{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">

    <div class="row">
      <p class="card-panel grey lighten-5 grey-text text-darken-1" [innerHtml]="category.label"
        style="font-style: italic"></p>
    </div>

    <div class="row">
      <qddt-input class="col s11" required name="name" label="Name" [(ngModel)]="category.name" data-length="100">
      </qddt-input>
      <qddt-select class="col s1" required name="xmlLang" label="Language" [(ngModel)]="category.xmlLang"
        [lockups]="LANGUAGES">
      </qddt-select>
    </div>
    <qddt-input required name="label" label="Label" [(ngModel)]="category.label" data-length="255">
    </qddt-input>
    <qddt-textarea name="description" label="Description" [(ngModel)]="category.description" data-length="255">
    </qddt-textarea>


    <div class="row" *ngIf="category.categoryType !== 'CATEGORY'">
      <div class="input-field col s2 ">
        <label for="ctype" class="teal-text">Type</label>
        <input id="ctype" name="ctype" type="text" class="validate" [(ngModel)]="category.categoryType" readonly />
      </div>
      <div class="input-field col s2 offset-m1">
        <input id="min" name="mini" type="number" class="validate" readonly min="0"
          [(ngModel)]="category.inputLimit.minimum" />
        <label>Input limit minimum</label>
      </div>
      <div class="input-field col s2 offset-m1">
        <input id="max" name="maxi" type="number" class="validate" readonly min="1"
          [(ngModel)]="category.inputLimit.maximum" />
        <label>Input limit maximum</label>
      </div>
      <div class="input-field col s6 m8">
        <input id="format" name="format" type="text" class="validate" [(ngModel)]="category.format" />
        <label>Format</label>
      </div>
    </div>

    <qddt-rational *ngIf="!readonly && category.id" [formName]="'RationalComp'" [element]="category"
      [config]="{hidden: [4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="category.id" [element]="category"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
