<div class="row" *ngIf="questionitem">
  <div id="{{questionitem?.id}}" class="scrollspy">

    <div class="fixed-action-btn vertical click-to-toggle">
      <a class="btn-floating btn-large cyan"><i class="large material-icons">menu</i></a>
      <ul>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light blue" (click)="revisionIsVisible = !revisionIsVisible"><i class="material-icons left medium" title="Revision history">history</i></a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="onDeleteQuestionItemModal()" title="Delete" >delete_forever</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light orange darken-1">
          <i class="material-icons" (click)="getPdf(questionitem)" title="Get as Pdf">picture_as_pdf</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light green darken-1">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s1">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light  green darken-1">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a>
      </div>
      <div class="col s10">
        <div class="row">
          <div class="col m7 l10 grey-text text-darken-2">
            <div class="flow-text">{{ questionitem?.question }}</div>
          </div>

          <div class="col m3 l2">
            <qddt-version-label [element]="questionitem"></qddt-version-label>
          </div>
        </div>
        <div class="row">
          <div class="col s11  white grey-text text-darken-1">
            <qddt-questionitem-edit [isVisible]="true"
              (editQuestionItem)="onEditQuestionItem($event)"
              [questionitem]="questionitem">
            </qddt-questionitem-edit>

            <qddt-revision *ngIf="revisionIsVisible"
              [current]="questionitem"
              [qddtURI]="'audit/questionitem/' + questionitem.id + '/all'"
              [config]="config"
              (requestPreview)="onPreview($event)">
            </qddt-revision>

            <qddt-comment-list [ownerId]="questionitem.id" [comments]="questionitem.comments"></qddt-comment-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <div *ngIf="canDelete > 1" class="progress"><div class="indeterminate"></div></div>
      <span *ngIf="canDelete === 1">Are you sure to delete Question item {{ questionitem?.question }}?</span>
      <span *ngIf="canDelete === 0">Please detach question item from module/concept and question construct before deleting!</span>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="canDelete === 1"
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>

<div class="modal modal-fixed-footer" id="'based-on-2"
     materialize="modal" [materializeActions]="previewActions">
  <div class="modal-content">
    <h4>Object Detail</h4>
    <div class="row" *ngIf="previewObject">
      <qddt-preview-questionitem [questionItem]="previewObject"></qddt-preview-questionitem>
    </div>
  </div>
  <div class="modal-footer">
    <button id="controlConstructs-modal-close"
            class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
