/**[draggable=true] {*/
/*  -moz-user-select:none;*/
/*  -khtml-user-drag: element;*/
/*  cursor: move;*/
/*}*/

/*.input-field { margin-top: 0; }*/


/*li.over {*/
/*  border-color: #3d557a;*/
/*  background: #ccc;*/
/*}*/

/* .minicol {

    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    margin-left: auto;
    left: auto;
    right: auto;
}

.minirow::after {
  content: "";
  display: table;
  clear: both;
} */
