<div *ngIf="responseDomain" class="col s12">
  <form [id]="formId" #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <qddt-input class="col s10" required name="name" label="Name" [(ngModel)]="responseDomain.name"
        (ngModelChange)="buildPreviewResponseDomain()" data-length="100">
      </qddt-input>
      <qddt-select class="col s2" required name="xmlLang" label="Language" [(ngModel)]="responseDomain.xmlLang"
        (ngModelChange)="buildPreviewResponseDomain()" [lockups]="LANGUAGES">
      </qddt-select>
    </div>
    <qddt-textarea name="description" label="Description" [(ngModel)]="responseDomain.description"
      (ngModelChange)="buildPreviewResponseDomain()" data-length="255">
    </qddt-textarea>
    <ng-container [ngSwitch]="domainType">
      <ng-container *ngSwitchCase="domainTypeDef.SCALE">
        <div class="row hoverable">
          <div class="col s2 input-field">
            <input [id]="'RDC-'+formId+1" class="validate" name="minimum" type="number"
              [max]="responseDomain.responseCardinality.maximum" (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.responseCardinality.minimum" required>
            <label [for]="'RDC-'+formId+1">Start</label>
          </div>
          <div class="col s2 input-field">
            <input class="validate" [id]="'RDC-'+formId+2" name="maximum" type="number"
              [min]="responseDomain.responseCardinality.minimum" [step]="responseDomain.responseCardinality.stepUnit"
              (ngModelChange)="buildPreviewResponseDomain()" [(ngModel)]="responseDomain.responseCardinality.maximum"
              required>
            <label [for]="'RDC-'+formId+2">End</label>
          </div>
          <div class="col s2 input-field">
            <input class="validate" [id]="'RDC-'+formId+3" name="stepUnit" type="number" [min]="1"
              [max]="responseDomain.responseCardinality.maximum/2" [step]="1"
              (ngModelChange)="buildPreviewResponseDomain()" [(ngModel)]="responseDomain.responseCardinality.stepUnit"
              required>
            <label [for]="'RDC-'+formId+3">Range</label>
          </div>
          <div class="col s3 input-field">
            <input [id]="'RDC-'+formId+4" name="scale_anchor" placeholder="number of anchors" type="number" [min]="0"
              [max]="responseDomain.responseCardinality.maximum" [(ngModel)]="numberOfAnchors"
              (ngModelChange)="onChangeNumberOfAnchors($event)" required class="validate">
            <label [for]="'RDC-'+formId+4">Number of Anchor</label>
          </div>
          <div class="col s3">
            <qddt-select required name="displayLayout" label="Display Layout" [(ngModel)]="responseDomain.displayLayout"
              [lockups]="DISPLAYLAYOUTS" (ngModelChange)="buildPreviewResponseDomain()">
            </qddt-select>
          </div>
        </div>
        <qddt-preview-responsedomain [responseDomain]="previewResponseDomain"></qddt-preview-responsedomain>
        <ul [hidden]="numberOfAnchors === 0">
          <li class="hoverable row"
            *ngFor="let category of responseDomain.managedRepresentation.anchors; let idx=index;">
            <qddt-anchor-point [category]="category" [inputLimit]="responseDomain.responseCardinality"
              [formName]="'AP'+idx" (changeEvent)="onAnchorChanged($event,idx)"
              (createEvent)="onCreateCategory($event,idx)">
            </qddt-anchor-point>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngSwitchCase="domainTypeDef.LIST">
        <div class="row hoverable">
          <div class="col s3 input-field ">
            <input class="validate" [id]="'RDC-'+formId+5" name="code_number" type="number" placeholder="#" min=0
              [ngModel]="responseDomain.managedRepresentation.anchors.length"
              (ngModelChange)="onChangeNumberOfCategories($event)" required>
            <label [for]="'RDC-'+formId+5">Number of Codes</label>
          </div>
          <div class="col s4 input-field">
            <input class="validate" [id]="'RDC-'+formId+6" name="responseCardinality_minimum" type="number"
              placeholder="min" (ngModelChange)="buildPreviewResponseDomain()" [min]="0"
              [max]="responseDomain.responseCardinality.maximum"
              [(ngModel)]="responseDomain.responseCardinality.minimum" required>
            <label [for]="'RDC-'+formId+6">Min # of Response Cardinality</label>
          </div>
          <div class="col s4  input-field">
            <input class="validate" [id]="'RDC-'+formId+7" name="responseCardinality_maximum" type="number"
              placeholder="max" (ngModelChange)="buildPreviewResponseDomain()" [min]="1"
              [max]="responseDomain.managedRepresentation.anchors.length"
              [(ngModel)]="responseDomain.responseCardinality.maximum" required>
            <label [for]="'RDC-'+formId+7">Max # of Response Cardinality</label>
          </div>
        </div>
        <qddt-preview-responsedomain [responseDomain]="previewResponseDomain"></qddt-preview-responsedomain>
        <div cdkDropList cdkDrop [cdkDropListData]="responseDomain.managedRepresentation.anchors"
          (cdkDropListDropped)="onItemDrop($event)">
          <ul class="row">
            <li class="hoverable minirow" cdkDrag
              *ngFor="let category of responseDomain.managedRepresentation.anchors; let idx=index;trackBy:trackByIndex">
              <div class="input-field minicol" style="width: 20%;">
                <input name="{{formId}}{{idx}}-code-value" type="text" (ngModelChange)="buildPreviewResponseDomain()"
                  [(ngModel)]="category.code.value" class="validate" required>
              </div>
              <qddt-element-select class="input-field minicol" [source]="getSource(category)" [autoCreate]="true"
                [validate]="true" [formName]="'EC'+idx" [xmlLang]="responseDomain.xmlLang" style="width: 75%"
                (elementSelectedEvent)="onSelectCategory($event,idx)">
              </qddt-element-select>
              <div class="minicol" cdkDragHandle style="width: 5%; top: 2rem; position: relative; cursor: grab;"
                title="Grab...">
                <i class="material-icons blue-text text-lighten-2" style=" display: inline; ">reorder</i>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="domainTypeDef.NUMERIC">

        <qddt-input required name="label" label="Label" [(ngModel)]="responseDomain.managedRepresentation.label"
          (ngModelChange)="buildPreviewResponseDomain()" data-length="50">
        </qddt-input>

        <div class="row hoverable">
          <div class="input-field col l2 m3">
            <input [id]="'RDC-'+formId+8" name="minimum" type="number" required
              [max]=subtract([responseDomain.responseCardinality.maximum],power10(+responseDomain.responseCardinality.stepUnit))
              [(ngModel)]="responseDomain.responseCardinality.minimum" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+8">Low</label>
          </div>
          <div class="input-field col l2 m3">
            <input [id]="'RDC-'+formId+9" name="maximum" type="number" required
              [min]=addition([responseDomain.responseCardinality.minimum],power10(+responseDomain.responseCardinality.stepUnit))
              [(ngModel)]="responseDomain.responseCardinality.maximum" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+9">High</label>
          </div>
          <div class="input-field col l2 m3">
            <input [id]="'RDC-'+formId+10" name="stepUnit" type="number" [min]="-10" [max]="10" required
              [title]="'Number of Decimal'" [(ngModel)]="responseDomain.responseCardinality.stepUnit"
              (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+10">Scale</label>
          </div>
          <div class="input-field col l4 m3">
            <input [id]="'RDC-'+formId+11" name="format" type="text"
              [(ngModel)]="responseDomain.managedRepresentation.format" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+11">Format</label>
          </div>
        </div>

        <qddt-preview-responsedomain [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>

      </ng-container>
      <ng-container *ngSwitchCase="domainTypeDef.TEXT">

        <qddt-input required name="label" label="Label" [(ngModel)]="responseDomain.managedRepresentation.label"
          (ngModelChange)="buildPreviewResponseDomain()" data-length="100">
        </qddt-input>

        <div class="row hoverable">
          <div class="input-field col l2">
            <input [id]="'RDC-'+formId+11+formId" name="minimum" type="number" [min]="0" required
              [max]="subtract(+responseDomain.responseCardinality.maximum,1)"
              [(ngModel)]="responseDomain.responseCardinality.minimum" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+11">Low</label>
          </div>
          <div class="input-field col l2">
            <input [id]="'RDC-'+formId+12+formId" name="maximum" type="number" required
              [min]=addition(+responseDomain.responseCardinality.minimum,1)
              [(ngModel)]="responseDomain.responseCardinality.maximum" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+12">High</label>
          </div>
        </div>

        <qddt-preview-responsedomain [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>

      </ng-container>
      <ng-container *ngSwitchCase="domainTypeDef.DATETIME">

        <qddt-input required name="label" label="Label" [(ngModel)]="responseDomain.managedRepresentation.label"
          (ngModelChange)="buildPreviewResponseDomain()" data-length=" 50">
        </qddt-input>

        <div class="row hoverable">
          <div class="input-field col s2">
            <input [id]="'RDC-'+formId+13" name="minimum" type="number" placeholder="low" required
              [max]="responseDomain.responseCardinality.maximum - 1"
              [(ngModel)]="responseDomain.responseCardinality.minimum" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+13">From</label>
          </div>
          <div class="input-field col s2">
            <input [id]="'RDC-'+formId+14+formId" name="maximum" type="number" placeholder="high" required
              [min]="responseDomain.responseCardinality.minimum + 1"
              [(ngModel)]="responseDomain.responseCardinality.maximum" (ngModelChange)="buildPreviewResponseDomain()">
            <label [for]="'RDC-'+formId+14">To</label>
          </div>
          <div class="col s4">
            <qddt-select required name="format" label="Date format" [lockups]="DATE_FORMATS"
              [(ngModel)]="responseDomain.managedRepresentation.format" (ngModelChange)="buildPreviewResponseDomain()">
            </qddt-select>
          </div>

          <div class="infoText col s4" style="padding-top: 2rem;">
            {{responseDomain.managedRepresentation.format}}
          </div>
        </div>
        <qddt-preview-responsedomain [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>
      </ng-container>
      <ng-container *ngSwitchCase="domainTypeDef.MIXED">
        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <ul class="dropleft">
                <li *ngIf="responseDomain.basedOn">
                  <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
                    (click)="onGotoEdit($event,responseDomain.basedOn?.id)">
                    <i class="material-icons" title="Edit source">edit</i>
                  </a>
                </li>
                <li *ngIf="responseDomain">
                  <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
                    (click)="onResponsedomainSelect()">
                    <i class="material-icons" title="Select version">autorenew</i>
                  </a>
                </li>
              </ul>
              <ng-container>
                <input name="name" type="text" placeholder="select ResponseDomain..." readonly="readonly"
                  [ngModel]="responseDomain.managedRepresentation?.children[0]?.label">
                <label>Response Domain (V <qddt-version [element]="responseDomain.managedRepresentation?.children[0]">
                  </qddt-version>)
                </label>
              </ng-container>
            </div>
          </div>
          <div class="col s12">
            <div class="input-field">
              <ul class="dropleft">
                <li>
                  <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
                    (click)="onMissingSelect()">
                    <i class="material-icons" title="Select missing & version">autorenew</i>
                  </a>
                <li *ngIf="responseDomain.missing">
                  <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red"
                    (click)="confirmDialog.showConfirmDeleting($event, responseDomain)">
                    <i class="material-icons" title="Remove">remove</i>
                  </a>
                </li>
                <li *ngIf="responseDomain.missing">
                </li>
              </ul>
              <ng-container>
                <!-- <div *ngIf="responseDomain.missing" class="input-field"> -->
                <input name="missing-name" type="text" placeholder="select Missing..." readonly="readonly"
                  [ngModel]="responseDomain.missing?.label">
                <label>Missing representation (V <qddt-version [element]="responseDomain.missing"></qddt-version>)
                </label>
              </ng-container>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <ul class="row">
          <li class="hoverable minirow"
            *ngFor="let category of responseDomain.missing?.children; let idx=index;trackBy:trackByIndex">
            <div class="input-field minicol" style="width: 20%;">
              <input name="{{idx}}1-code-value" type="text" (change)="buildPreviewResponseDomain()"
                [(ngModel)]="category.code.value" class="validate" required placeholder="Text or number">
            </div>
            <div class="input-field minicol" style="width: 60%;cursor:not-allowed;">
              <input name="{{idx}}2-code-value" type="text" readonly [(ngModel)]="category.label"
                style="cursor:not-allowed;">
            </div>
          </li>
        </ul>
        <qddt-preview-responsedomain [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>
      </ng-container>
    </ng-container>

    <qddt-rational *ngIf="responseDomain.modified && !readonly" [formName]="'RationalComp'" [element]="responseDomain"
      [config]="{hidden: [4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="responseDomain.modified" [element]="responseDomain"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>

<!-- Modal Structure -->
<!-- <div id="MODAL-{{modalId}}" class="modal modal-fixed-footer">
  <div class="modal-content white black-text">
    <ng-container *ngIf="true">
      <h4>Select Missing & Search</h4>
      <qddt-element-revision-select [source]="referenced" [xmlLang]="responseDomain.xmlLang"
        (revisionSelectedEvent)="onRevisionSelect($event)" (dismissEvent)="onDismiss()">
      </qddt-element-revision-select>
    </ng-container>
  </div>
  <div class="modal-footer">
    <a class="btn-flat waves-effect waves-light red white-text" (click)="onDismiss()">Dismiss</a>
  </div>
</div> -->

<qddt-element-revision [source]="referenced" [xmlLang]="responseDomain?.xmlLang"
  (revSelectEvent)="onRevisionSelect($event)">
</qddt-element-revision>


<qddt-confirm-remove (dialogResult)="onItemRemove()" #confirmDialog>
</qddt-confirm-remove>
