<div *ngIf="responseDomain" class="col s12">
  <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <qddt-input class="col s10" required name="name" label="Name" [(ngModel)]="responseDomain.name" data-length="100">
      </qddt-input>
      <qddt-select class="col s2" required name="xmlLang" label="xmlLang" [(ngModel)]="responseDomain.xmlLang"
        [lockups]="LANGUAGES">
      </qddt-select>
    </div>
    <qddt-textarea name="description" label="Description" [(ngModel)]="responseDomain.description" data-length="255">
    </qddt-textarea>

    <div [ngSwitch]="domainType">
      <div *ngSwitchCase="domainTypeDef.SCALE">

        <div class="row hoverable">
          <div class="col s3 input-field">
            <input class="validate" id="SCALE_START-{{formId}}" name="scale_start" placeholder="starting point"
              type="number" [max]="responseDomain.managedRepresentation.inputLimit.maximum"
              (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.minimum" required>
            <label for="SCALE_START-{{formId}}">Start</label>
          </div>
          <div class="col s3 input-field">
            <input class="validate" id="SCALE_END-{{formId}}" name="scale_end" placeholder="ending point" type="number"
              [min]="responseDomain.managedRepresentation.inputLimit.minimum"
              (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.maximum" required>
            <label for="SCALE_END-{{formId}}">End</label>
          </div>
          <div class="col s3 input-field">
            <input id="SCALE_ANCHOR-{{formId}}" name="scale_anchor" placeholder="number of anchors" type="number"
              [min]="0" [max]="responseDomain.managedRepresentation.inputLimit.maximum" [(ngModel)]="numberOfAnchors"
              (ngModelChange)="changeNumberOfAnchors($event)" required class="validate">
            <label for="SCALE_ANCHOR-{{formId}}">Number of Anchor</label>
          </div>
          <div class="col s3">
            <qddt-select required name="displayLayout" label="Display Layout" [(ngModel)]="responseDomain.displayLayout"
              [lockups]="DISPLAYLAYOUTS" (ngModelChange)="buildPreviewResponseDomain()">
            </qddt-select>
          </div>
        </div>
        <qddt-preview-responsedomain class="row" [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>

        <ul [hidden]="numberOfAnchors === 0">
          <li class="hoverable row"
            *ngFor="let category of responseDomain.managedRepresentation.children; let idx=index;">
            <qddt-anchor-point [category]="category" [inputLimit]="responseDomain.managedRepresentation.inputLimit"
              [formName]="'AP'+idx" (changeEvent)="anchorChanged($event,idx)"
              (createEvent)="onCreateCategory($event,idx)">
            </qddt-anchor-point>
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="domainTypeDef.LIST">
        <div class="row hoverable">
          <div class="col s3 input-field ">
            <input class="validate" id="CN-{{formId}}" name="code_number" type="number" placeholder="#" min=0
              [ngModel]="responseDomain.managedRepresentation.inputLimit.maximum"
              (ngModelChange)="changeNumberOfCategories($event)" required>
            <label for="CN-{{formId}}">Number of Codes</label>
          </div>
          <div class="col s3 offset-m1 input-field">
            <input class="validate" id="RC-MIN-{{formId}}" name="responseCardinality_minimum" type="number"
              placeholder="min" (ngModelChange)="buildPreviewResponseDomain()" [min]="0"
              [max]="responseDomain.responseCardinality.maximum"
              [(ngModel)]="responseDomain.responseCardinality.minimum" required>
            <label for="RC-MIN-{{formId}}">Min # of Response Cardinality</label>
          </div>
          <div class="col s3 offset-m1 input-field">
            <input class="validate" id="RC-MAX-{{formId}}" name="responseCardinality_maximum" type="number"
              placeholder="max" (ngModelChange)="buildPreviewResponseDomain()" [min]="1"
              [max]="responseDomain.managedRepresentation.inputLimit.maximum"
              [(ngModel)]="responseDomain.responseCardinality.maximum" required>
            <label for="RC-MAX-{{formId}}">Max # of Response Cardinality</label>
          </div>
        </div>

        <qddt-preview-responsedomain class="row" [responseDomain]="previewResponseDomain"></qddt-preview-responsedomain>

        <ul>
          <li *ngFor="let category of responseDomain.managedRepresentation.children; let idx=index;" draggable="true"
            (dragstart)="onDragstart($event, category.id)" (dragover)="onDragover($event)"
            (dragleave)="onDragleave($event)" (drop)="onDrop($event, idx)" class="hoverable row">
            <div class="col s2 input-field">
              <input name="{{idx}}-code-value" type="text" (ngModelChange)="buildPreviewResponseDomain()"
                [(ngModel)]="category.code.codeValue" required>
            </div>
            <qddt-element-select class="col s8 input-field" [source]="getSource(category)" [autoCreate]="true"
              (elementSelectedEvent)="onSelectCategory($event,idx)">
            </qddt-element-select>
            <div class="secondary-content">
              <i class="material-icons">menu</i>
            </div>
          </li>
        </ul>

      </div>
      <div *ngSwitchCase="domainTypeDef.NUMERIC">
        <qddt-preview-responsedomain class="row" [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>

        <div class="row hoverable">
          <div class="input-field col l2 m3">
            <input id="representation_low" name="representation_low" type="number" placeholder="low"
              [max]=subtract([responseDomain.managedRepresentation.inputLimit.maximum],power10(+responseDomain.managedRepresentation.format))
              (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.minimum" required>
            <label>Low</label>
          </div>
          <div class="input-field col l2 m3">
            <input id="representation_high" name="representation_high" type="number" placeholder="high"
              [min]=addition([responseDomain.managedRepresentation.inputLimit.minimum],power10(+responseDomain.managedRepresentation.format))
              (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.maximum" required>
            <label>High</label>
          </div>
          <div class="input-field col l2 m3">
            <input id="representation_decimal" name="representation_decimal" type="number" min=0 max=10
              placeholder="num" (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.format" required>
            <label>Number of Decimal</label>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="domainTypeDef.TEXT">
        <qddt-preview-responsedomain class="row" [responseDomain]="previewResponseDomain">
        </qddt-preview-responsedomain>

        <div class="row hoverable">
          <div class="input-field col l2">
            <input id="representation_lowT" name="representation_lowT" type="number" placeholder="low" [min]="0"
              [max]="subtract(+responseDomain.managedRepresentation.inputLimit.maximum,1)"
              (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.minimum" required>
            <label>Low</label>
          </div>
          <div class="input-field col l2">
            <input id="representation_highT" name="representation_highT" type="number" placeholder="high"
              [min]=addition(+responseDomain.managedRepresentation.inputLimit.minimum,1)
              (ngModelChange)="buildPreviewResponseDomain()"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.maximum" required>
            <label>High</label>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="domainTypeDef.DATETIME">
        <qddt-preview-rd-datetime class="row" [managedRepresentation]="responseDomain.managedRepresentation">
        </qddt-preview-rd-datetime>

        <div class="row hoverable">
          <div class="input-field col l2">
            <input id="representation_lowD" name="representation_lowD" type="number" placeholder="low"
              (ngModelChange)="buildPreviewResponseDomain()"
              [max]="+responseDomain.managedRepresentation.inputLimit.maximum - 1"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.minimum" required>
            <label>After</label>
          </div>
          <div class="input-field col l2">
            <input id="representation_highD" name="representation_highD" type="number" placeholder="high"
              (ngModelChange)="buildPreviewResponseDomain()"
              [min]="+responseDomain.managedRepresentation.inputLimit.minimum + 1"
              [(ngModel)]="responseDomain.managedRepresentation.inputLimit.maximum" required>
            <label>Before</label>
          </div>
          <div class="input-field col l4">
            <select id="representation_formatD" name="representation_formatD" placeholder="format"
              (ngModelChange)="buildPreviewResponseDomain()" [(ngModel)]="responseDomain.managedRepresentation.format"
              (change)="onSelectDateFormatChange($event.target.value)">
              <option *ngFor="let option of dateFormatOption" [value]="option.format">{{ option.label }}</option>
            </select>
            <label>Date format</label>
          </div>
        </div>
      </div>
    </div>

    <qddt-rational *ngIf="responseDomain.modified && !readonly" [formName]="'RationalComp'" [element]="responseDomain"
      [config]="{hidden: [4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="responseDomain.modified" [element]="responseDomain"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
