<!--<div class="modal-content white black-text">-->
<!--  <ng-content></ng-content>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--&lt;!&ndash;  <button class="btn btn-default red waves-effect waves-red" (click)="onSave()">Submit</button>&ndash;&gt;-->
<!--  <button (click)="close()"-->
<!--          class="btn btn-default red  waves-effect waves-red">Dismiss</button>-->
<!--</div>-->


<div class="qddt-modal">
  <div class="qddt-modal-body">
    <ng-content></ng-content>
  </div>
</div>
<div class="qddt-modal-background"></div>
