<div class="col s10 offset-s1 card-action white-text">
  <div class="row">
    <h5>Reuse {{ className }}</h5>
    <qddt-element-revision-select
      [source] = "elementKind"
      (revisionSelected)="onRevisionSelect($event)"
      (dismissEvent) ="onDismiss()">
    </qddt-element-revision-select>
    <!-- <div class="row"></div> -->
  </div>
  <div class="row right-align">
    <button type="button" class="btn btn-default waves-effect waves-light red" (click)="onDismiss()" >dismiss</button>
  </div>
</div>
