<div class="row" *ngIf="controlConstruct">
  <label class="active teal-text">Version: <!--
        -->{{controlConstruct?.version?.major}}.<!--
        -->{{controlConstruct?.version?.minor}}</label>
  <div id="{{controlConstruct?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium">history</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()">replay</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
          <i class="material-icons" (click)="onDeleteControlConstructModal()">delete_forever</i>
        </a>
      </div>
    </div>
    <div class="col s10 m10 l10 grey-text text-darken-2">
      <qddt-control-construct-form
        [controlConstruct]="controlConstruct"
        (exceptionEvent)="onExceptionEvent($event)"
        (elementEvent)="onElementEvent($event)">
      </qddt-control-construct-form>

      <qddt-revision [isVisible]="revisionIsVisible"
        [current]="controlConstruct"
        [config]="config"
        [qddtURI]="'audit/controlconstruct/' + controlConstruct.id + '/all'">
      </qddt-revision>

      <div class="row">
        <qddt-comment-list [ownerId]="controlConstruct.id" [comments]="controlConstruct.comments"></qddt-comment-list>
      </div>
    </div>

  </div>
</div>

<div class="modal" materialize [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <span>Are you sure to Control Construct {{controlConstruct?.name}}?</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>