<div *ngIf="controlConstruct" class="col s12">

  <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <qddt-input class="col s11"
        required
        name="name"
        label="Name"
        [(ngModel)]="controlConstruct.name"
        data-length="100">
      </qddt-input>
      <qddt-select class="col s1"
        required
        name="xmlLang"
        label="xmlLang"
        [(ngModel)]="controlConstruct.xmlLang"
        [lockups]="LANGUAGES" >
      </qddt-select>
    </div>

    <qddt-textarea
      placeholder="add description..."
      name="description"
      label="Description"
      [(ngModel)]="controlConstruct.description"
      data-length="255">
    </qddt-textarea>

    <qddt-element-collection [listItems]="controlConstruct.universe" [labelName]="'Universe'" [elementKind]="UNIVERSE" [readonly]="false"
                             (selectEvent)="onAddUniverse($event)" tabindex="2">
    </qddt-element-collection>

    <qddt-download [fileStore]="fileStore" [entity]="controlConstruct" [readonly]="false"></qddt-download>

    <qddt-element-collection [listItems]="controlConstruct.preInstructions" [labelName]="'Pre Instructions'" [elementKind]="INSTRUCTION" [readonly]="false"
                             (selectEvent)="onAddPreInstruction($event)">
    </qddt-element-collection>

    <div class="collection with-header hoverable row">
      <a class="collection-header col s12"  (click)="onQuestionSearch($event)" style="cursor: zoom-in">
        <label><i class="material-icons small">help</i>Question Text</label>
        <a class="secondary-content btn-flat btn-floating btn-small waves-effect waves-light teal">
          <i class="material-icons" title="Add QuestionItem">playlist_add</i>
        </a>
      </a>
      <div class="col s12" style="padding: 1px 1px;">
        <div class="card-panel grey lighten-5 grey-text text-darken-1" style="margin-bottom: 1px;">
          <qddt-version-label class="right" [revisionRef]="controlConstruct.questionItem" ></qddt-version-label>
          <ul *ngIf="!readonly" class="dropleft">
            <li>
              <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green" (click)="onQuestionEdit($event,controlConstruct.questionItem)">
                <i class="material-icons" title="Edit Item">edit</i>
              </a>
            </li>
            <li>
              <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red" (click)="onQuestionRemove($event)">
                <i class="material-icons" title="Remove item">remove</i>
              </a>
            </li>
          </ul>
          <p [innerHtml]="controlConstruct.questionItem?.question" style="font-style: italic"></p>
        </div>
      </div>
    </div>

    <qddt-element-collection [listItems]="controlConstruct.postInstructions" [labelName]="'Post Instructions'" [elementKind]="INSTRUCTION" [readonly]="false"
                             (selectEvent)="onAddPostInstruction($event)">
    </qddt-element-collection>

    <qddt-preview-responsedomain *ngIf="controlConstruct.questionItem && controlConstruct.questionItem.responseDomain"
                                 [responseDomain]="controlConstruct.questionItem.responseDomain">
    </qddt-preview-responsedomain>

    <qddt-conceptref [element]="controlConstruct.questionItem"></qddt-conceptref>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && controlConstruct.id" [element]="controlConstruct"
      [config]="{ hidden: [3, 4] }">
    </qddt-rational>

    <qddt-element-footer *ngIf="controlConstruct.id" [element]="controlConstruct"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>
