<div *ngIf="controlConstruct" class="col s12">

  <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">

    <div class="row">
      <qddt-input class="col s10" required name="name" label="Name" [(ngModel)]="controlConstruct.name"
        data-length="100">
      </qddt-input>
      <qddt-select class="col s2" required name="xmlLang" label="Language" [(ngModel)]="controlConstruct.xmlLang"
        [lockups]="LANGUAGES">
      </qddt-select>
    </div>

    <div class="row">
      <qddt-textarea class="col s12" name="description" label="Description" [(ngModel)]="controlConstruct.description"
        data-length="255">
      </qddt-textarea>
    </div>

    <qddt-element-collection [listItems]="controlConstruct.universe" [labelName]="'Universe'" [elementKind]="UNIVERSE"
      [xmlLang]="controlConstruct.xmlLang" [readonly]="false" (createdEvent)="onAddUniverse($event)"
      (deletedEvent)="onRemoveUniverse($event)">
    </qddt-element-collection>

    <qddt-element-collection [listItems]="controlConstruct.preInstructions" [labelName]="'Pre Instructions'"
      [xmlLang]="controlConstruct.xmlLang" [elementKind]="INSTRUCTION" [readonly]="false"
      (createdEvent)="onAddPreInstruction($event)" (deletedEvent)="onRemovePreInstruction($event)">
    </qddt-element-collection>

    <div class="collection with-header hoverable row" (mouseenter)="showButton = !readonly"
      (mouseleave)="showButton = false">
      <a class="collection-header col s12" (click)="onQuestionSearch()" style="cursor: zoom-in">
        <label>
          <i class="material-icons small">help</i>
          <span [innerHtml]="'Question ➫ ' + controlConstruct?.questionItem?.name"></span>
        </label>
        <a *ngIf="showButton" class="secondary-content btn-flat btn-floating btn-small waves-effect waves-light teal">
          <i class="material-icons" title="add QuestionItem">add</i>
        </a>
        <qddt-version-label *ngIf="!showButton" class="right" [revisionRef]="controlConstruct.questionItem">
        </qddt-version-label>
      </a>
      <div class="col s12" style="padding: 1px 1px;">
        <div class="card-panel grey lighten-5 grey-text text-darken-1" style="margin-bottom: 1px;">
          <ul *ngIf="!readonly" class="dropleft">
            <li>
              <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
                (click)="onQuestionEdit()">
                <i class="material-icons" title="Edit selected">edit</i>
              </a>
            </li>
            <li>
              <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 light-green"
                (click)="onQuestionSync()">
                <i class="material-icons" title="update selected">sync</i>
              </a>
            </li>
            <li><a class="btn-flat btn-small btn-floating waves-effect waves-light blue lighten-2"
                (click)="onQuestionPreview()">
                <i class="material-icons" title="Preview selected">search</i></a>
            </li>
            <li>
              <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red"
                (click)="onQuestionRemove()">
                <i class="material-icons" title="Remove selected">remove</i>
              </a>
            </li>
          </ul>
          <p [innerHtml]="controlConstruct?.questionItem?.question" style="font-style: italic"></p>
        </div>
      </div>
    </div>

    <qddt-preview-responsedomain *ngIf="controlConstruct.questionItem && controlConstruct.questionItem.response"
      [responseDomain]="controlConstruct.questionItem?.response">
    </qddt-preview-responsedomain>

    <qddt-element-collection [listItems]="controlConstruct.postInstructions" [labelName]="'Post Instructions'"
      [xmlLang]="controlConstruct.xmlLang" [elementKind]="INSTRUCTION" [readonly]="false"
      (createdEvent)="onAddPostInstruction($event)" (deletedEvent)="onRemovePostInstruction($event)">
    </qddt-element-collection>

    <qddt-conceptref [element]="controlConstruct.questionItem?.parentRefs"></qddt-conceptref>

    <qddt-download [fileStore]="fileStore" [entity]="controlConstruct" [readonly]="false"></qddt-download>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && controlConstruct.id" [element]="controlConstruct"
      [config]="{ hidden: [3, 4] }">
    </qddt-rational>

    <qddt-element-footer *ngIf="controlConstruct.id" [element]="controlConstruct"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>

<qddt-element-collection-dialog [source]="SOURCE" [xmlLang]="controlConstruct?.xmlLang"
  (revSelectEvent)="onRevisionSelect($event)">
</qddt-element-collection-dialog>
