<div *ngIf="controlConstruct">
  <form #qcform="ngForm" >
    <div class="row input-field">
      <input id="{{formId}}-name" name="{{formId}}-name" type="text" class="validate" required
                [(ngModel)]="controlConstruct.name"
                 data-length="255">
      <label for="{{formId}}-name" class="active" >Name</label>
    </div>
    <div class="row input-field">
      <input id="{{formId}}-description" name="{{formId}}-description" type="text" class="validate"
              [(ngModel)]="controlConstruct.description"
               data-length="255">
      <label for="{{formId}}-description" class="active" >Description</label>
    </div>

    <qddt-collection-search-select
        [listItems] = "controlConstruct.universe"
        [searchItems]="universeList"
        [elementKind]="UNIVERSE"
        (selectEvent)="onAddUniverse($event)"
        (searchEvent)="onUniverseSearch($event)">
    </qddt-collection-search-select>

    <qddt-download  [fileStore]="fileStore"  [entity]="controlConstruct" [readonly]="false"></qddt-download>

    <qddt-collection-search-select
      [listItems] = "controlConstruct.preInstructions"
      [searchItems]="instructionList"
      [labelName]="'Pre Instructions'"
      [elementKind]="INSTRUCTION"
      (selectEvent)="onAddPreInstruction($event)"
      (searchEvent)="onInstructionSearch($event)">
    </qddt-collection-search-select>


    <div class="hoverable" (mouseenter)="showQuestionButton = !readonly" (mouseleave)="showQuestionButton = false">
      <div class="row" (click)="editQuestoinItem = !editQuestoinItem" style="cursor: zoom-in;">
        <div class="col s11">
          <label>Question Text (Version <qddt-version [element]="controlConstruct?.questionItem"></qddt-version>)</label>
        </div>
        <div class="col s1">
          <a [ngClass]="{hide: !showQuestionButton}"
             class="btn-flat btn-floating btn-small waves-effect waves-light teal">
            <i class="material-icons" title="Add QuestionItem">add</i>
          </a>
        </div>
      </div>
      <qddt-item-revision-select  [ngClass]="{hide: !editQuestoinItem}"
                                  [showProgressBar] = "showProgressBar"
                                  [kind] = "QUESTION"
                                  [itemList] = "questionList"
                                  [revisionList] = "revisionResults"
                                  (searchItems)="onQuestionSearch($event)"
                                  (searchRevision)="onRevisionSearch($event)"
                                  (revisionSelected)="onRevisionSelect($event)"
                                  (dismissEvent) ="onDismiss()">
      </qddt-item-revision-select>
      <div class="row">
        <div class="col s11">
          <p [innerHtml]="controlConstruct?.questionItem?.question" style="font-size: larger"></p>
        </div>
        <div class="col s1">
          <a [ngClass]="{hide: !showQuestionButton}"
             class="btn-flat btn-floating btn-small waves-effect waves-light teal"
             (click)="onRemoveQuestionItem()">
            <i class="material-icons" title="Remove QuestionItem">remove</i>
          </a>
        </div>
      </div>
    </div>

    <qddt-collection-search-select
      [listItems] = "controlConstruct.postInstructions"
      [searchItems]="instructionList"
      [labelName]="'Post Instructions'"
      [elementKind]="INSTRUCTION"
      (selectEvent)="onAddPostInstruction($event)"
      (searchEvent)="onInstructionSearch($event)">
    </qddt-collection-search-select>

    <qddt-preview-responsedomain
      *ngIf="controlConstruct.questionItem && controlConstruct.questionItem.responseDomain"
      [responseDomain]="controlConstruct.questionItem.responseDomain">
    </qddt-preview-responsedomain>

    <qddt-conceptref [element]="controlConstruct.questionItem"></qddt-conceptref>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && controlConstruct.id" [element]="controlConstruct" [config]="{hidden: [3,4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="controlConstruct.id" [element]="controlConstruct"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" type="button" class="btn btn-default" [disabled]="!qcform.form.valid"
              (click)="onSaveForm()">Submit</button>
    </div>
  </form>

</div>
