
<div id="modalReset" class="modal" style="width:35%;">
  <div class="modal-content">
    <h4>Reset password</h4>
    <form (ngSubmit)="register(f.value)" #f="ngForm" >
      <div class="row input-field">
        <input class="validate" name="oldPassword" type="password" ngModel (blur)="onChange(ngModel)" required minlength="6">
        <label>Old Password</label>
      </div>
        <div class="row input-field">
          <input class="validate" name="password" type="password" ngModel (blur)="onChange(ngModel)" required minlength="6">
          <label>New password</label>
        </div>
        <div class="row input-field">
            <input class="validate" name="confirm" type="password" (blur)="onChange($event)" ngModel required>
            <label>Repeat new password</label>
        </div>
      <div>
      </div>
      <div class="row">
        <!--<button class="btn btn-primary waves-effect right" (click)="onClose()">Cancel</button>-->
        <button [disabled]="f.invalid || loading" class="btn btn-primary waves-effect right" (click)="onClose()">Reset</button>
        <qddt-spinner *ngIf="loading" ></qddt-spinner>
      </div>
    </form>
  </div>
</div>
