
<div id="modalReset" class="modal" style="width:35%;">
  <div class="modal-content">
    <h4>Reset password</h4>
    <form (ngSubmit)="register()" #f="ngForm">
      <div class="row input-field">
        <input class="validate" name="oldPassword" type="password" [(ngModel)]="formData.oldPassword" required minlength="6">
        <label >Old Password</label>
      </div>
        <div class="row input-field">
          <input  class="validate" name="password" type="password" [(ngModel)]="formData.password" required minlength="6">
            <!-- validateEqual="confirm" reverse="true"> -->
          <label  >New password</label>
        </div>
        <div class="row input-field">
            <input class="validate" name="confirm" type="password"  [(ngModel)]="formData.confirm" required> 
             <!-- validateEqual="password"> -->
            <label >Repeat new password</label>
        </div>
      <div>
      </div>
      <div class="row">
        <button [disabled]="f.invalid || loading" data-target="modalReset" class="btn btn-primary modal-action modal-close waves-effect right">Reset</button>
        <qddt-spinner *ngIf="loading" ></qddt-spinner>
      </div>
    </form>
  </div>  
  <div class="modal-footer"></div>
</div>
