<div class="row">
  <div class="col s4 offset-s4" >
    <form (ngSubmit)="register()" #f="ngForm" novalidate>
      <div class="row input-field">
        <input class="validate" name="oldPassword" type="password" [(ngModel)]="model.oldPassword" required minlength="6">
        <label for="oldPassword">Old Password</label>
      </div>
      <div ngModelGroup="passGroup" validatePwdEqual #passGroup="ngModelGroup">
        <div class="row input-field">
          <input class="validate" name="password" type="password" [(ngModel)]="model.password" required minlength="6">
          <label for="password" data-error="Length > 6" >New password</label>
        </div>
        <div class="row input-field">
            <!-- <div *ngIf="passGroup.invalid && confirm.touched" class="alert alert-danger">Password Mismatch</div> -->
            <input class="validate" name="confirm" type="password" >
            <label for="confirm" data-error="Password Mismatch">Repeat new password</label>
        </div>
      </div>
      <div>
          <p>Password valid: {{passGroup.valid}} - {{passGroup.pristine}}</p>
          <p>Password errors: {{passGroup.errors | json }}</p>
          <!-- <p>Confirm Password invalid status: {{confirm.invalid}}</p> -->
      </div>
      <div class="row">
        <button [disabled]="f.invalid" class="btn btn-primary">Reset</button>
        <div *ngIf="loading" class="spinner-layer spinner-green">
          <div class="circle-clipper left"><div class="circle"></div></div>
          <div class="gap-patch"><div class="circle"></div></div>
          <div class="circle-clipper right"><div class="circle"></div></div>
        </div>
      </div>
    </form>
  </div>
</div>
