<div *ngIf="rows" class="row">
  <div class="white grey-text text-darken-1" style="overflow-x:auto; margin:0.5rem">
    <form (ngSubmit)="onSearch(f.form.value)"  #f="ngForm">
        <div class="row" *ngIf="!advanced" >
          <div class="input-field col s11 m10 l9">
            <i class="material-icons prefix" >search</i>
            <input id="search1" name="simplesearch" type="search" required ngModel >
            <!--[ngModelOptions]="{updateOn: 'blur'}"-->
            <label for="search1" >{{placeholder}}</label>
            <i class="material-icons" (click)="onClearKeywords(0)">close</i>
          </div>
          <a class="waves-effect waves-light btn" (click)="advanced=!advanced" ><i class="material-icons left">arrow_drop_down</i>Advanced search</a>
        </div>
        <div class="row" *ngIf="advanced">
          <div class="col s{{ (10-10%fields.length)/fields.length}} input-field" *ngFor="let field of fields; let idx=index;">
            <i class="material-icons prefix" >search</i>
            <input id="field-{{idx}}" type="search" name="{{field}}" ngModel  >
            <label for="field-{{idx}}" >{{field}}</label>
            <i class="material-icons" (click)="onClearKeywords(idx)">close</i>
          </div>
          <a class="waves-effect waves-light btn" (click)="advanced=!advanced" ><i class="material-icons left">arrow_drop_up</i>Simple search</a>
        </div>
    </form>
    <table class="highlight">
      <thead>
        <tr>
          <th><i class="material-icons tiny">add_circle_outline</i></th>
          <th *ngFor="let column of columns" >
            <span *ngIf="column.sortable" (click)="sortRows(column)" [ngStyle]="{'cursor': 'pointer'}">{{ column.label }} {{ directionSign[column.direction] }}
            </span>
            <span *ngIf="!column.sortable" >{{ column.label }} </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="{{row.id}}" *ngFor="let row of rows;"  [ngStyle]="{'cursor': 'pointer'}" (mouseenter)="row.showbutton = true" (mouseleave)="row.showbutton = false">
        <td style="padding:0">
          <div >
            <i class="material-icons small teal-text" >keyboard_arrow_right</i>
            <ul *ngIf="row.showbutton" style="position: fixed; display: inline-flex; margin-top: 0px; margin-bottom: 0px; z-index: 1; opacity: 0.9;">
            <!-- <ul  style="position: fixed; display: inline-flex; margin-top: 0px; margin-bottom: 0px; z-index: 1;"> -->
                    <!-- <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light blue" (click)="row.revisionIsVisible=!row.revisionIsVisible">
                <i class="material-icons left medium" title="Revision history">history</i></a>
              </li> -->
              <li><a class="btn-flat btn-floating waves-effect waves-light red" >
               <i class="material-icons" (click)="onRemoveItem(row.Object)" title="Delete" >delete_forever</i></a>
              </li>
              <li><a class="btn-flat btn-floating waves-effect waves-light orange darken-1">
                <i class="material-icons" (click)="onGetPdf(row.Object)" title="Get as Pdf">picture_as_pdf</i></a>
              </li>
              <li><a class="btn-flat btn-floating waves-effect waves-light green darken-1">
                <i class="material-icons" (click)="onDetail(row)" title="Edit">edit</i></a>
              </li>
            </ul>
          </div>
        </td>
        <td  *ngFor="let column of columns">{{ row[column.label] }}</td>

        <td *ngIf="row.revisionIsVisible" colspan="columns.length"><qddt-revision  [current]="item"> </qddt-revision></td>

      </tr>
      </tbody>
    </table>
    <qddt-pagination
      [collectionSize]="pageSearch.page.totalElements"
      [page]="pageSearch.page.number"
      [pageSize]="pageSearch.page.size"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="pageChange($event)">
    </qddt-pagination>
  </div>

</div>

