<div class="row hoverable"
     (mouseenter)="showbutton = true"
     (mouseleave)="showbutton = false">
  <div class="row"><label>Missing</label></div>
  <div class="row">
    <button *ngIf="!getMissing() && !readonly"
       [ngClass]="{hide: !showbutton}"
       [ngClass]="{disabled:responseDomain === null || responseDomain === undefined}"
       (click)="onAddMissing()" data-target=modalId
       class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
      <i class="material-icons" title="response domain add">add</i>
    </button>
    <span *ngIf="getMissing()">{{ getMissing().name }}</span>
  </div>

  <div id="{{modalId}}" class="modal" materialize="modal" [materializeActions]="findMissingAction">
    <form  #missingForm="ngForm" class="black-text">
      <div class="modal-content minHeight">
        <div class="row">
          <qddt-auto-complete
            [items]="missingGroups" 
            [elementKind]="CATEGORY_KIND"
            [autoCreate]="false"
            (enterEvent)="onSearchCategories($event)"
            (selectEvent)="setMissing($event)">
          </qddt-auto-complete>
        </div>
        <table *ngIf="missingRd">
          <thead><tr><td>Code</td><td>Category</td></tr></thead>
          <tbody>
          <tr *ngFor="let category of getMissing().children; let idx=index">
            <td><input id="{{category?.id}}-code-value"
                       name="{{category?.id}}-code-value"
                       type="text" [(ngModel)]="category.code.codeValue" required></td>
            <td>{{ category?.label }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default green waves-green" (click)="onSave()">Submit</button>
        <button id="questionItem-missing-modal-close" (click)="onDismiss()"
                class="btn btn-default red modal-action modal-close waves-effect waves-red">Dismiss</button>
      </div>
    </form>
  </div>
</div>
