<div>
  <a *ngIf="showbutton && !readOnly && !responseDomain" class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal" href="#{{formId}}">
      <i class="material-icons" title="response domain edit" (click)="openModal()">add</i>
  </a>
  <a *ngIf="!showbutton || readOnly " class="btn-flat btn-floating btn-medium" style="background-color: transparent; color: transparent;" ></a>
  <span style="min-height:max-content;" *ngIf="getMissing()">{{ getMissing().name }}</span>

  <div id="{{formId}}" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

    <div class="modal-content white black-text">
      <div class="row">
        <qddt-auto-complete
          [items]="missingGroups" 
          [elementKind]="CATEGORY_KIND"
          [autoCreate]="false"
          (enterEvent)="onSearchCategories($event)"
          (selectEvent)="setMissing($event)">
        </qddt-auto-complete>
      </div>
      <table *ngIf="missingRd">
        <thead><tr><td>Code</td><td>Category</td></tr></thead>
        <tbody>
        <tr *ngFor="let category of getMissing().children; let idx=index">
          <td><input id="{{category?.id}}-code-value"
                      name="{{category?.id}}-code-value"
                      type="text" [(ngModel)]="category.code.codeValue" required></td>
          <td>{{ category?.label }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn btn-default red waves-effect waves-red" (click)="closeModal()">Dismiss</button>
    </div>
  </div>
</div>
