<div class="col s12" *ngIf="instrument">
  <form (ngSubmit)="onUpdateInstrument()" #instrumentform="ngForm">
    <div class="row">
      <qddt-input [readonly]="readonly" class="col s10" required name="name" label="Name" [(ngModel)]="instrument.name"
        data-length="100">
      </qddt-input>
      <qddt-select [readonly]="readonly" class="col s2" required name="xmlLang" label="Language"
        [(ngModel)]="instrument.xmlLang" [lockups]="languageMap">
      </qddt-select>
    </div>

    <qddt-input [readonly]="readonly" required name="label" label="Label" [(ngModel)]="instrument.label"
      data-length="255">
    </qddt-input>
    <qddt-textarea [readonly]="readonly" required name="description" label="Description"
      [(ngModel)]="instrument.description" data-length="1000">
    </qddt-textarea>
    <div class="row">
      <qddt-select [readonly]="readonly" class="col s5" required name="instrumentKind" label="Instrument type"
        [(ngModel)]="instrument.instrumentKind" [lockups]="instrumentMap">
      </qddt-select>
      <div class="col s7 infoText">{{getDescription(instrument.instrumentKind)}}</div>
    </div>

    <qddt-parameter [inParameters]="inParameters" [showParameters]="true">
    </qddt-parameter>

    <qddt-instrument-treenode [readonly]="readonly" [treeNodes]="instrument.sequence"
      [inParameters]="instrument.parameters" [xmlLang]="instrument.xmlLang" [selectOptions]="CONSTRUCT"
      (actionEvent)="onDoAction($event)">
    </qddt-instrument-treenode>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && instrument.id" [element]="instrument"
      [config]="{hidden: [3,4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="instrument.id" [element]="instrument"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!instrumentform.form.valid" type="submit" class="btn btn-default">Submit
      </button>
    </div>
  </form>
</div>


<!-- Modal Structure -->
<div id="MODAL-{{formId}}" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Select version</h4>
    <div class="card-action">
      <div class="row">
        <div class="col left" *ngFor="let option of constructMap">
          <label>
            <input name="DOMAIN-TYPE-GROUP" type="radio" [checked]="selectId === option.id"
              (click)="onSelectOption(option.value)" />
            <span>{{ option.label }}</span>
          </label>
        </div>
      </div>
    </div>
    <qddt-element-revision-select [source]="SOURCE" [xmlLang]="instrument?.xmlLang"
      (revisionSelectedEvent)="onRevisionSelect($event)" (dismissEvent)="onDismiss()">
    </qddt-element-revision-select>
  </div>
  <div class="modal-footer">
    <a class="btn red waves-effect waves-red" (click)="onDismiss()">Dismiss</a>
  </div>
</div>
