<ul class="collapsible">
  <li *ngFor="let cqi of subSequence;let idx = index;" (mouseenter)="showButton = !readonly"
    (mouseleave)="showButton = false" (click)="onOpenBody(cqi)">

    <div class="collapsible-header ">
      <ul class="dropleft">
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onItemEdit($event, cqi)">
            <i class="material-icons tiny" title="Edit selected">edit</i>
          </a>
        </li>
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
            (click)="onItemUpdate($event, cqi)">
            <i class="material-icons tiny" title="update selected">sync</i>
          </a>
        </li>
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onItemNew($event, cqi)">
            <i class="material-icons tiny" title="insert above">playlist_add</i>
          </a>
        </li>
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red"
            (click)="onItemRemove($event, cqi)">
            <i class="material-icons tiny" title="Remove selected">remove</i>
          </a>
        </li>
      </ul>
      <i class="material-icons small teal-text text-lighten-3">{{getMatIcon(cqi.elementRef?.elementKind)}}</i>
      <div class="col s9 m10 grey-text text-darken-1" [innerHtml]=cqi.elementRef?.name></div>
      <qddt-version-label class="col s3 m2 " [revisionRef]="cqi.elementRef"></qddt-version-label>
    </div>
    <div class="collapsible-body">
      <ul *ngIf="cqi.parameters.length > 0">
        <li class="collection-item"><label>Parameters</label></li>
        <li class="collection-item">
          <div class="chip" *ngFor="let parameter of cqi.parameters">{{getParam(parameter)}} </div>
        </li>
      </ul>
      <qddt-preview-element [element]="cqi.elementRef.element" [showDetail]="false">
      </qddt-preview-element>
      <ng-container *ngIf="isSequence(cqi.elementRef.elementKind)">
        <label>Description</label>
        <span>{{cqi.elementRef?.element?.description}}</span>
      </ng-container>
    </div>

    <qddt-instrument-sequence-tree *ngIf="cqi.sequence?.length >0" [subSequence]="cqi.sequence" [level]="level+1"
      (actionEvent)="doPassEvent($event)">
    </qddt-instrument-sequence-tree>
  </li>
</ul>
