<div class="col s12" *ngIf="element">
  <form (ngSubmit)="onUpdateInstrument()" #instrumentform="ngForm">
    <div class="row">
      <qddt-input [readonly]="readonly" class="col s10" required name="name" label="Name" [(ngModel)]="element.name"
        data-length="100">
      </qddt-input>
      <qddt-select [readonly]="readonly" class="col s2" required name="xmlLang" label="xmlLang"
        [(ngModel)]="element.xmlLang" [lockups]="languageMap">
      </qddt-select>
    </div>

    <qddt-input [readonly]="readonly" required name="label" label="Label" [(ngModel)]="element.label" data-length="255">
    </qddt-input>
    <qddt-textarea [readonly]="readonly" required name="description" label="Description"
      [(ngModel)]="element.description" data-length="1000">
    </qddt-textarea>
    <div class="row">
      <qddt-select [readonly]="readonly" class="col s5" required name="instrumentKind" label="Instrument type"
        [(ngModel)]="element.instrumentKind" [lockups]="instrumentMap">
      </qddt-select>
      <div class="col s7 grey-text">{{getDescription(element.instrumentKind)}}</div>
    </div>

    <qddt-instrument-sequence-tree [readonly]="readonly" [subSequence]="element.sequence" class="section row"
      (actionEvent)="onDoAction($event)">
    </qddt-instrument-sequence-tree>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && element.id" [element]="element"
      [config]="{hidden: [3,4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="element.id" [element]="element"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!instrumentform.form.valid" type="submit" class="btn btn-default">Submit
      </button>
    </div>
  </form>
</div>


<!-- Modal Structure -->
<div id="MODAL-{{formId}}" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Select version</h4>
    <div class="card-action">
      <div class="row">
        <div class="col left" *ngFor="let option of constructMap">
          <label>
            <input name="DOMAIN-TYPE-GROUP" type="radio" [checked]="selectId === option.id"
              (click)="onSelectOption(option.value)" />
            <span>{{ option.label }}</span>
          </label>
        </div>
      </div>
    </div>
    <qddt-element-revision-select [source]="SOURCE" (revisionSelectedEvent)="onRevisionSelect($event)"
      (dismissEvent)="onDismiss()">
    </qddt-element-revision-select>
  </div>
  <div class="modal-footer">
    <a class="btn red waves-effect waves-red" (click)="onDismiss()">Dismiss</a>
  </div>
</div>
