<div class="col s12" *ngIf="element">
  <form (ngSubmit)="onUpdateInstrument()" #instrumentform="ngForm">
    <div class="row">
      <qddt-input class="col s10" required name="name" label="Name" [(ngModel)]="element.name" data-length="100">
      </qddt-input>
      <qddt-select class="col s2" required name="xmlLang" label="xmlLang" [(ngModel)]="element.xmlLang"
        [lockups]="LANGUAGES">
      </qddt-select>
    </div>

    <qddt-input required name="label" label="Label" [(ngModel)]="element.label" data-length="255">
    </qddt-input>
    <qddt-textarea required name="description" label="Description" [(ngModel)]="element.description" data-length="1000">
    </qddt-textarea>

    <qddt-select required name="instrumentKind" label="Instrument type" [(ngModel)]="element.instrumentKind"
      [lockups]="instrumentKinds">
    </qddt-select>

    <qddt-instrument-sequence [(sequence)]="element.sequence"></qddt-instrument-sequence>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && element.id" [element]="element"
      [config]="{hidden: [3,4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="element.id" [element]="element"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!instrumentform.form.valid" type="submit" class="btn btn-default">Submit
      </button>
    </div>
  </form>
</div>
<div *ngIf="!element!">NO element here... </div>
