<div class="row">
  <form (ng-submit)="login()">
    <div class="row">
      <div class="input-field col">
        <input id="username" type="text" [(ng-model)]="loginForm.username" required>
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col">
        <input id="password" type="text" [(ng-model)]="loginForm.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <button type="submit" class="btn"><i class="material-icons right">lock_open</i>Login</button>
  </form>
</div>
