<div class="col s12 m9">

  <div class="card-panel row white-text teal">
    <i class="material-icons large right">looks_one</i>
    <h4>Studies for {{ survey?.name }}</h4>

    <a *ngIf="!survey.archived && !readonly" class="btn" (click)="showEditForm = !showEditForm; initComp();">
      <i class="material-icons right" *ngIf="!showEditForm">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="showEditForm">keyboard_arrow_up</i>
      New
    </a>

    <div *ngIf="showEditForm" class="col s10 offset-s1 card-action">
      <form id="form1" #hf="ngForm">
        <div class="row input-field white-text">
          <input id="name11" name="name" class="validate white-text" type="text" ngModel required data-length="250" />
          <label for="name11" class="white-text">Name</label>
        </div>
        <div class="row input-field white-text">
          <textarea id="desc11" name="description" class="materialize-textarea validate  white-text" ngModel required
            data-length="20000"></textarea>
          <label for="desc11" class="white-text">Description</label>
        </div>
        <div class="row right-align">
          <button type="button" (click)="onNewSave(hf.value)" class="btn btn-default" [disabled]="!hf.form.valid">
            Submit
          </button>
        </div>
      </form>
    </div>

  </div>

  <div class="row card section scrollspy card-toc white grey-text text-darken-2" id="{{ study.id }}"
    *ngFor="let study of survey?.studies" [ngClass]="{'editGreen': edit.isVisible}">
    <div class="col s1">
      <ul class="dropdownmenu">
        <li *ngIf="!study.archived && !readonly">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light green lighten-2"
            (click)="edit.isVisible = !edit.isVisible; ">
            <i class="material-icons" title="Edit Concept">mode_edit</i>
          </a>
        </li>
        <li *ngIf="!edit.isVisible">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light blue lighten-2"
            (click)="edit.showRevision = !edit.showRevision">
            <i class="material-icons left medium" title="Revision history">history</i>
          </a>
        </li>
        <li *ngIf="!edit.isVisible">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="onShowTopic(study)">
            <i class="material-icons left medium" title="Go to child elements">play_arrow</i></a>
        </li>
        <li *ngIf="!edit.isVisible && !study.archived  && canDelete">
          <qddt-confirm-delete [element]="study" (confirmAction)="onRemoveStudy($event)"></qddt-confirm-delete>
        </li>
      </ul>
    </div>

    <div class="col s10">
      <div class="row">
        <div class="col s10">
          <h5>{{ study.name }}</h5>
        </div>
        <div class="col s2">
          <qddt-version-label class="right" [element]="study"></qddt-version-label>
        </div>
      </div>

      <qddt-study-edit [study]="study" #edit (savedEvent)="onStudySaved($event)">
      </qddt-study-edit>

      <ng-container *ngIf="!edit.isVisible">
        <div class="row">
          <div class="col s12">
            <p [innerHtml]="study.description"></p>
            <qddt-author-chip [authors]="study.authors"></qddt-author-chip>
          </div>
        </div>

        <qddt-download [entity]="study" [readonly]="true"></qddt-download>

        <qddt-revision *ngIf="edit.showRevision" [current]="study"></qddt-revision>
      </ng-container>
      <qddt-comment-list [hidden]="edit.isVisible" [ownerId]="study.id" [comments]="study.comments">
      </qddt-comment-list>
    </div>
  </div>
</div>

<qddt-toc [elements]="survey?.studies" [path]="'study'" (hierarchyChanged)="onHierarchyChanged($event)"></qddt-toc>
