<header>
  <ul id="nav-mobile" class="side-nav fixed" style="width:240px;">
    <user-login (logoutEvent)="logoutEvent()"></user-login>
    <div *ngIf="user">
        <li><a class="teal-text" [routerLink]="['/Home']"><i class="material-icons left medium">store</i>Home</a></li>
        <li><a class="teal-text" [routerLink]="['/Questions']"><i class="material-icons left medium">help</i>Questions</a></li>
        <li><a class="teal-text" [routerLink]="['/Responses']"><i class="material-icons left medium">subject</i>Responses</a></li>
        <li><a class="teal-text" [routerLink]="['/Schemes']"><i class="material-icons left medium">subject</i>Managed Rep</a></li>
        <li><a class="teal-text" [routerLink]="['/Responsedomains']"><i class="material-icons left medium">dashboard</i>Domains</a></li>
    </div>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>


