.fib {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.fi:before {
  content: '\00a0';
}
.fi.fis {
  width: 1em;
}
.fi-ar {
  background-image: url(../flags/4x3/ar.svg);
}
.fi-ar.fis {
  background-image: url(../flags/1x1/ar.svg);
}
.fi-de {
  background-image: url(../flags/4x3/de.svg);
}
.fi-de.fis {
  background-image: url(../flags/1x1/de.svg);
}
.fi-dk {
  background-image: url(../flags/4x3/dk.svg);
}
.fi-dk.fis {
  background-image: url(../flags/1x1/dk.svg);
}
.fi-es {
  background-image: url(../flags/4x3/es.svg);
}
.fi-es.fis {
  background-image: url(../flags/1x1/es.svg);
}
.fi-fi {
  background-image: url(../flags/4x3/fi.svg);
}
.fi-fi.fis {
  background-image: url(../flags/1x1/fi.svg);
}
.fi-fr {
  background-image: url(../flags/4x3/fr.svg);
}
.fi-fr.fis {
  background-image: url(../flags/1x1/fr.svg);
}
.fi-gb {
  background-image: url(../flags/4x3/gb.svg);
}
.fi-gb.fis {
  background-image: url(../flags/1x1/gb.svg);
}

.fi-ni {
  background-image: url(../flags/4x3/ni.svg);
}
.fi-ni.fis {
  background-image: url(../flags/1x1/ni.svg);
}
.fi-nl {
  background-image: url(../flags/4x3/nl.svg);
}
.fi-nl.fis {
  background-image: url(../flags/1x1/nl.svg);
}
.fi-no {
  background-image: url(../flags/4x3/no.svg);
}
.fi-no.fis {
  background-image: url(../flags/1x1/no.svg);
}
.fi-es-ct {
  background-image: url(../flags/4x3/es-ct.svg);
}
.fi-es-ct.fis {
  background-image: url(../flags/1x1/es-ct.svg);
}
.fi-es-ga {
  background-image: url(../flags/4x3/es-ga.svg);
}
.fi-es-ga.fis {
  background-image: url(../flags/1x1/es-ga.svg);
}

.fi-gb-eng {
  background-image: url(../flags/4x3/gb-eng.svg);
}
.fi-gb-eng.fis {
  background-image: url(../flags/1x1/gb-eng.svg);
}
.fi-gb-nir {
  background-image: url(../flags/4x3/gb-nir.svg);
}
.fi-gb-nir.fis {
  background-image: url(../flags/1x1/gb-nir.svg);
}
.fi-gb-sct {
  background-image: url(../flags/4x3/gb-sct.svg);
}
.fi-gb-sct.fis {
  background-image: url(../flags/1x1/gb-sct.svg);
}
.fi-gb-wls {
  background-image: url(../flags/4x3/gb-wls.svg);
}
.fi-gb-wls.fis {
  background-image: url(../flags/1x1/gb-wls.svg);
}

