<div class="card row white-text" style=" margin-right: 15px; padding-left: 10px;">
<form #hf="ngForm">
    <h3 class="teal-text ">Reuse {{ getElementClass(elementKind).label }}</h3>
    <div class="row black-text">
      <qddt-auto-complete [items]="items"
                    [elementtype]="getElementClass(elementKind)"
                    (enterEvent)="onSearchItems($event)"
                    (selectEvent)="onSelectItem($event)">
      </qddt-auto-complete>
    </div>
</form>
<div class="row" *ngIf="selectedElement && parentId">
  <div class="col s11 grey-text text-darken-2">
    <div *ngIf="selectedElement">
      <div class="row card">
        <div class="input-field col s5" *ngIf="elementRevisions.length > 0">
          <label class="active black-text">business version</label>
          <select class="black-text" name="element-revision" materialize="material_select"
                [(ngModel)]="elementRevision"
                (ngModelChange)="onSelectElementRevisions($event)">
            <option *ngFor="let revision of elementRevisions"
                    [selected]="revision.revisionNumber === elementRevision"
                    [value]="revision.revisionNumber">{{ revision?.entity?.version?.major }}.{{ revision?.entity?.version?.minor }}
                    {{ revision?.entity?.version?.versionLabel}}
            </option>
          </select>
        </div>
        <div class="input-field col s6 right">
          <!--<a class="waves-effect waves-light btn red right" (click)="closeReuseModal()">Dismiss</a>-->
          <a class="waves-effect waves-light btn green right" (click)="onUseElement()">Use this</a>
        </div>
      </div>
      <div class="row teal-text">Name</div>
      <div class="row"> {{ selectedElement?.name }}</div>
      <qddt-preview-element [element]="selectedElement"></qddt-preview-element>
    </div>
  </div>
</div>
</div>
