<div class="row hoverable ">
  <div class="col s7">
    <div class="input-field">
      <ul *ngIf="canEdit" class="dropleft">
        <li *ngIf="!responseDomain">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onItemEdit($event,null)">
            <i class="material-icons" title="Add element">add</i>
          </a>
        </li>
        <li *ngIf="responseDomain">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onItemEdit($event,responseDomain)">
            <i class="material-icons" title="Edit question">edit</i>
          </a>
        </li>
        <li *ngIf="responseDomain">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
            (click)="onItemGetLatest()">
            <i class="material-icons" title="Get latest">autorenew</i>
          </a>
        </li>
        <li *ngIf="canDelete && responseDomain">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red" (click)="onItemRemove()">
            <i class="material-icons" title="Remove">remove</i>
          </a>
        </li>
      </ul>
      <input name="name" type="text" placeholder="select responseDomain" readonly="true"
        [ngModel]="responseDomain?.name">
      <label>Response Domain (V <qddt-version [element]="responseDomain"></qddt-version>) </label>
    </div>
  </div>
  <div class="col s5">
    <div class="input-field">
      <ul *ngIf="canEdit" class="dropleft">
        <li *ngIf="responseDomain && !responseDomain.missing">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onMissingEdit($event)">
            <i class="material-icons" title="Add element">add</i>
          </a>
        </li>
        <li *ngIf="responseDomain && responseDomain.missing">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
            (click)="onMissingEdit($event)">
            <i class="material-icons" title="Edit">edit</i>
          </a>
        </li>
        <li *ngIf="canDelete && responseDomain?.missing">
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red" (click)="onMissingRemove()">
            <i class="material-icons" title="Remove">remove</i>
          </a>
        </li>
      </ul>
      <input name="missing" type="text" placeholder="select missing" readonly="true"
        [ngModel]="responseDomain?.missing?.label">
      <label>Missing</label>
      <div>
      </div>
    </div>
  </div>
  <label class="descLabel">{{responseDomain?.description}}</label>
</div>
<!-- Modal Structure -->
<div id="MODAL-{{modalId}}" class="modal modal-fixed-footer">
  <div class="modal-content white black-text">
    <ng-container *ngIf="showResponseDomain">
      <h4>Select Domain and Search</h4>
      <qddt-element-revision-select [source]="RESPONSEDOMAIN" [xmlLang]="xmlLang"
        (revisionSelectedEvent)="onRevisionSelect($event)" (dismissEvent)="onDismiss()">
      </qddt-element-revision-select>
    </ng-container>
    <ng-container *ngIf="!showResponseDomain">
      <qddt-element-select *ngIf="!responseDomain?.missing" [source]="MISSING_GROUP" [xmlLang]="responseDomain?.xmlLang"
        (elementSelectedEvent)="onMissingSelect($event)">
      </qddt-element-select>
      <form #missingForm="ngForm" *ngIf="responseDomain?.missing">
        <table>
          <thead>
            <tr>
              <td>Code</td>
              <td>Category</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of responseDomain.missing.children;trackBy:trackByCategoryId">
              <td contenteditable=true [(contenteditableModel)]="category.code.value" required>
              </td>
              <td>{{ category?.label }}</td>
            </tr>
          </tbody>
        </table>
        <div class="right-align">
          <a class="btn btn-flat waves-effect waves-light green white-text" (click)="onOkMissing($event)">
            ok
          </a>
          <a class="btn btn-flat btn-medium waves-effect waves-light red white-text" (click)="onDismiss($event)">
            cancel
          </a>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn red modal-action waves-effect waves-red" (click)="onDismiss()">
      Dismiss
    </button>
  </div>
</div>
