<div class="col s12" *ngIf="publication">
  <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onUpdatePublication()">

    <qddt-input [disabled]="readonly" required name="name" label="Name" [(ngModel)]="publication.name" data-length="255">
    </qddt-input>

    <qddt-textarea [disabled]="readonly" required name="purpose" label="Purpose" [(ngModel)]="publication.purpose"
      data-length="255">
    </qddt-textarea>

    <div class="row" *ngIf="statusMap">
        <qddt-select id="ps-{{formId}}" class="col s6 m5 l4 "
                     name="statusId" label="Publication status" required
                     (change)="getDescription(publication.statusId)"
                     [(ngModel)]="publication.statusId" [lockups]="statusMap" [readonly]="readonly">
        </qddt-select>
        <div class="col s6 m7 l8 grey-text">{{publication?.status?.description}}</div>
    </div>
    <label>Content list</label>
    <qddt-element-revision-ref  class="row"
                                [readonly]="readonly"
                                [elementRevisions]="publication.publicationElements"
                                [selectOptions]="PUBLICATION"
                                (actionEvent)="onDoAction($event)">
    </qddt-element-revision-ref>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && publication.id" [element]="publication"
      [config]="{hidden: [3,4]}"></qddt-rational>

    <qddt-element-footer *ngIf="publication.id" [element]="publication"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
