<div class="col s12" *ngIf="publication">
  <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onUpdatePublication()">
    <qddt-input required name="name" label="Name" [(ngModel)]="publication.name" data-length="255">
    </qddt-input>
    <qddt-textarea required name="purpose" placeholder="add purpose" label="Purpose" [(ngModel)]="publication.purpose"
      data-length="255">
    </qddt-textarea>
    <div class="row" *ngIf="SELECT_OPTIONS">
      <div class="col s6 m5 l4 ">
        <qddt-select required name="status" label="Publication status" [lockups]="SELECT_OPTIONS"
          [(ngModel)]="statusId">
        </qddt-select>
      </div>
      <div class="col s6 m7 l8 card-content ">
        <p>{{ publication?.status?.description }}</p>
      </div>
    </div>
    <div class="row">
      <label for="{{formId}}-ppe">Content list</label>
      <ul id="{{formId}}-ppe" class="collapsible popout">
        <li class="collapsible-header grey lighten-2" style="color: black">
          <div class="col s2">Element type</div>
          <div class="col s7">Element name</div>
          <div class="col s2 right-align">Version</div>
        </li>
        <li *ngFor="let element of publication.publicationElements; let idx=index;">
          <div class="collapsible-header grey lighten-5" style="color: #323232" (click)="onShowDetail(idx)">
            <i class="material-icons small">{{getMatIcon(element.elementKind)}}</i>
            <div class="col s2">{{ getLabelByElement(element?.elementKind) }}</div>
            <div class="col s7" [innerHtml]="element?.name"></div>
            <div class="col s2 right-align">
              <qddt-version [element]="element"></qddt-version>
            </div>
          </div>
          <div class="collapsible-body white">
            <qddt-preview-element [element]="element.element"></qddt-preview-element>
          </div>
        </li>
        <li>
          <qddt-publication-reuse (selectedEvent)="onElementAdd($event)"></qddt-publication-reuse>
        </li>
      </ul>
    </div>
    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && publication.id" [element]="publication"
      [config]="{hidden: [3,4]}"></qddt-rational>

    <qddt-element-footer *ngIf="publication.id" [element]="publication"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
