<div class="hoverable white text-darken-2" (mouseenter)="showButton = true" (mouseleave)="showButton = false">
  <div class="teal-text" (click)="onToggleAddElement()" style="cursor: zoom-in;">
    <div class="">Add element</div>
  </div>
  <div class="row" *ngIf="showAddElement">
    <div class="col s12 teal-text"><span>Element Type</span></div>
    <div class="col s12" >
		  <div class="left" *ngFor="let element of publicationTypes;">
        <label>
          <input name="elementtypegroup" type="radio" [checked]="selectedElementKind === element.id"
            (click)="onSelectElementKind(element.id)" />
          <span>{{ element.label }}</span>
        </label>
      </div>
    </div>
    <qddt-element-revision-select
      [source] = "selectedElementKind"
      (revisionSelected)="onRevisionSelect($event)"
      (dismissEvent) ="onDismiss()">
    </qddt-element-revision-select>
  </div>
</div>

