<div class="col s12" *ngIf="publication">
  <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onUpdatePublication()">

    <div class="row">
      <qddt-input [readonly]="readonly" class="col s10" required name="name" label="Name" [(ngModel)]="publication.name"
        data-length="100">
      </qddt-input>
      <qddt-select [readonly]="readonly" class="col s2" required name="xmlLang" label="Language"
        [(ngModel)]="publication.xmlLang" [lockups]="languageMap">
      </qddt-select>
    </div>

    <qddt-textarea [readonly]="readonly" required name="purpose" label="Purpose" [(ngModel)]="publication.purpose"
      data-length="255">
    </qddt-textarea>

    <div class="row" *ngIf="statusMap">
      <qddt-select id="ps-{{formId}}" class="col s6 m5 l4 " name="statusId" label="Publication status" required
        (change)="getDescription(publication.statusId)" [(ngModel)]="publication.statusId" [lockups]="statusMap"
        [readonly]="readonly">
      </qddt-select>
      <div class="col s6 m7 l8 infoText">{{publication._embedded?.status?.description}}</div>
    </div>
    <label>Content list</label>
    <qddt-element-revision-ref class="row" [readonly]="readonly" [elementRevisions]="publication.publicationElements"
      [inParameters]="inParameters" [xmlLang]="publication.xmlLang" [selectOptions]="PUBLICATION"
      (actionEvent)="onDoAction($event)">
    </qddt-element-revision-ref>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && publication.id" [element]="publication"
      [config]="{hidden: [3,4]}"></qddt-rational>

    <qddt-element-footer *ngIf="publication.id" [element]="publication"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
