<div class="hoverable white text-darken-2" (mouseenter)="showButton = true" (mouseleave)="showButton = false">
  <div class="teal-text" (click)="onToggleAddElement()" style="cursor: zoom-in;">
    <div class="">Add element</div>
  </div>
  <div class="card-action" *ngIf="showAddElement">
    <span class="teal-text">Element Type</span>
    <div class="row">
      <div class="col left" *ngFor="let element of publicationTypes;">
        <label>
          <input name="PUP-TYPE-GROUP" type="radio" (click)="onSelectElementKind(element.id)"
            [checked]="selectedElementKind === element.id" />
          <span>{{ element.label }}</span>
        </label>
      </div>
    </div>
    <qddt-element-revision-select [source]="{ element:'', elementKind: selectedElementKind}"
      (revisionSelectedEvent)="onRevisionSelect($event)" (dismissEvent)="onToggleAddElement()">
    </qddt-element-revision-select>
  </div>
</div>
