<div class="row">
  <div class="col m10 l9">
    <div class="card white white-text text-lighten-2">
      <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
        <i class="material-icons large right">comment</i><h4>Category Scheme</h4>

        <a class="btn" (click)="onToggleCategoryForm()">
        <i class="material-icons right" *ngIf="!showCategoryForm">keyboard_arrow_down</i>
        <i class="material-icons right" *ngIf="showCategoryForm">keyboard_arrow_up</i>
        New</a>

        <div *ngIf="showCategoryForm">
          <div class="card-action">
            <form (ngSubmit)="onSave()" #hf="ngForm">
              <div class="row">
                <div class="input-field col s4">
                  <input id="label" type="text" [(ngModel)]="category.label" required (ngModelChange)="category.name = category.label.toUpperCase()">
                  <label for="label" class="white-text">Label</label>
                </div>
                <div class="input-field col s4">
                  <label for="categoryType" class="active white-text">Category Kind</label>
                  <select id="categoryType" [(ngModel)]="category.categoryType" materialize="material_select" required>
                    <option value="" disabled selected>Select reason</option>
                    <option *ngFor="#change of categoryEnums" [value]="change[0]">{{change[1]}}</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input id="name" type="text" [(ngModel)]="category.name" required>
                  <label for="name" class="white-text">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <textarea id="description" class="materialize-textarea" [(ngModel)]="category.description"
                            required></textarea>
                  <label for="description" class="white-text">Description</label>
                </div>
              </div>
              <div class="row">
				<div *ngIf="isTemplate" class="range-field">
					<input type="range" min="0" max="20"
						(input)="setCategoryNumber($event)" />
				</div>
				<div class="row"><table *ngIf="isTemplate && category.children">
				  <thead><tr><td>Category</td></tr></thead>
                  <tbody>
                    <tr *ngFor="#cat of category.children;#idx=index">
                      <td><autocomplete [items]="categories" class="black-text"
                        [searchField]="'label'"
                        (autocompleteFocusEvent)="selectedCategoryIndex=idx;"
                        [initialValue]="cat?.label"
                        (autocompleteSelectEvent)="select($event)"></autocomplete></td>
                    </tr>
                   </tbody>
				 </table></div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="categories">
        <div class="row" *ngFor="#category of templateCategories" style="padding-left:2%">
          <div id="{{category.id}}" class="scrollspy">
            <div class="col s1 m1 l1">
              <br/>
              <div class="row">
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="edit.isVisible = !edit.isVisible"><i class="material-icons">mode_edit</i></a>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="revision.isVisible = !revision.isVisible"><i class="material-icons left medium">history</i></a>
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="onSelectCategory(category)"><i class="material-icons left medium">add</i></a>
              </div>
            </div>

            <div class="col s10 m10 l10 grey-text text-darken-2">
              <h5>{{category.name}}</h5>
              {{category.modified | localDate}} by <strong>{{category?.modifiedBy?.username}}@{{category?.modifiedBy?.agency?.name}}</strong>
            </div>

            <div class="col s10 m10 l10 white grey-text text-darken-1">
              <div class="row">
                <p>{{category.description}}</p>
              </div>

              <category-edit [isVisible]="edit.isVisible" [category]="category" [categories]="categories" #edit></category-edit>

              <category-revision [isVisible]="revision.isVisible" [categoryId]="category.id" #revision ></category-revision>

              <div class="row">
                <comment-list [ownerId]="category.id"></comment-list>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col hide-on-small-only m1 l1">
    <div style="top: 55;" class="toc-wrapper pinned">
      <h5>Scheme Toc</h5>
      <ul class="section table-of-contents">
        <li><a href="#topMenu">To the top </a> </li>
        <li *ngFor="#category of templateCategories"><a href="/categoryScheme#{{category.id}}">{{category.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
