<form (ngSubmit)="onSaveSequence()" #sequenceform="ngForm" card>

  <div class="row input-field">
    <input name="{{sequence?.id}}-name" type="text" class="validate" required
      [(ngModel)]="sequence.name" materialize="characterCounter" data-length="255">
    <label [attr.for]="sequence.id + '-name'" class="teal-text">Name</label>
  </div>

  <div class="row input-field">
    <input name="{{sequence?.id}}-label" type="text" class="validate" required
           [(ngModel)]="sequence.label" materialize="characterCounter" data-length="255">
    <label [attr.for]="sequence.id + '-label'" class="teal-text">Label</label>
  </div>

  <div class="row input-field ">
    <textarea [attr.id]="sequence.id + '-description'"
              name="{{sequence.id}}-description" class="materialize-textarea"
              [(ngModel)]="sequence.description"
              materialize="characterCounter" data-length="255">
    </textarea>
    <label [attr.for]="sequence.id + '-description'" class="active teal-text">Description</label>
  </div>

  <qddt-item-revision-select
    [showProgressBar] = "showProgressBar"
    [kind] = "QUESTION"
    [itemList] = "questionConstrucs"
    [revisionList] = "revisions"
    (enterEvent) = "onSearchElements($event)"
    (revisionEvent) = "onRevisonSearch($event)"
    (selectEvent) = "onRevisionSelected($event)"
    (dismissEvent) ="onSelectCanceled()">
  </qddt-item-revision-select>

  <P> -----> </P>

  <qddt-sequence-content [sequence]="sequence.sequence"></qddt-sequence-content>

  <div class="row" *ngIf="!readonly && sequence.id">
    <qddt-rational [formName]="'RationalComp'" [element]="sequence" [config]="{hidden: [4]}"></qddt-rational>
  </div>

  <div class="row" *ngIf="sequence.id">
    <qddt-element-footer [element]="sequence"></qddt-element-footer>
  </div>

  <div class="row right-align">
    <button *ngIf="!readonly" type="button"
            class="btn btn-default" [disabled]="!sequenceform.form.valid">Submit</button>
  </div>


</form>
