<div *ngIf="concept" class="row card">
  <div id="{{concept?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br />
      <div class="row">
        <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="onToggleEdit(edit)"><i class="material-icons" title="Edit Concept">mode_edit</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="edit.showRevision = !edit.showRevision"><i class="material-icons left medium" title="Revision history">history</i></a>
        <qddt-questionitem-reuse *ngIf="!readonly" [parentId]="concept.id"
                                 (createdEvent)="addQuestionItem($event)"></qddt-questionitem-reuse>
        <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="onCreateConcept(concept)"><i class="material-icons left medium" title="Add sub concept">add</i></a>
        <!-- <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
          <i class="material-icons" (click)="getPdf(concept)" title="Get as Pdf">picture_as_pdf</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" title="Get as XML">
            <svg (click)="getXml(concept)" style="position: relative; left: 20%; top:20%;" >
                <path fill="#FFFFFF" d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M6.12,15.5L9.86,19.24L11.28,17.83L8.95,15.5L11.28,13.17L9.86,11.76L6.12,15.5M17.28,15.5L13.54,11.76L12.12,13.17L14.45,15.5L12.12,17.83L13.54,19.24L17.28,15.5Z" />
            </svg>
        </a> -->
        <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="onDeleteConcept(concept)"><i class="material-icons left medium" title="Delete" >delete_forever</i></a>
      </div>
    </div>

    <div class="col s11 grey-text text-darken-2">
      <h5 class="row">
        <div class="col s10">{{ concept?.name }}</div>
        <div class="col s2">
          <qddt-version-label class="right" [element]="concept"></qddt-version-label>
        </div>
      </h5>
    </div>

    <div class="col s11  white grey-text text-darken-1">
      <div class="row" *ngIf="!edit.isVisible">
        <p [innerHtml]="concept?.description" ></p>
        <qddt-author-chip [authors]="concept.authors" ></qddt-author-chip>
      </div>
      <div *ngIf="showConceptChildForm">
        <div class="card-action">
          <form (ngSubmit)="onChildSave()" #newchildConcept="ngForm">
            <div class="row">
              <div class="input-field col s11">
                <input id="name" name="name" type="text" [(ngModel)]="newchild.name" required>
                <label for="name" class="blue-text">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s11">
                <textarea id="description" name="description"
                 class="materialize-textarea"
                 [(ngModel)]="newchild.description" required>
                </textarea>
                <label for="description" class="blue-text">Description</label>
              </div>
            </div>
            <div class="row right-align">
              <button type="submit" class="btn btn-default" [disabled]="!newchildConcept.form.valid" >Submit</button>
            </div>
          </form>
        </div>
      </div>
      <qddt-concept-edit [isVisible]="edit.isVisible" [concept]="concept"
                         (conceptSavedEvent)="onConceptSavedEvent($event)" #edit>
      </qddt-concept-edit>

      <qddt-revision *ngIf = "edit.showRevision" [current]="concept"></qddt-revision>

      <div *ngIf="concept.conceptQuestionItems?.length > 0 && !edit.isVisible" >
        <ul class="collection with-header hoverable"
            (mouseenter)="showbutton = true"
            (mouseleave)="showbutton = false">
          <li class="collection-header"><label>Question Items</label></li>
          <a class="collection-item grey-text text-darken-1" *ngFor="let cqi of concept.conceptQuestionItems.sort()"
            style="padding-bottom: 5pt;">
            <div class="row" style="min-height: 3rem;">
              <div [innerHtml]="cqi?.element?.question" class="col s11" (click)="onClickQuestionItem(cqi.element)" style="cursor: pointer;">
              </div>
              <div class="col s1">
                <a *ngIf="!readonly" class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                  [ngClass]="{hide: !showbutton}" (click)="removeQuestionItem(cqi)">
                  <i class="material-icons" title="Remove selected">remove</i>
                </a>
              </div>
            </div>
          </a>
        </ul>
      </div>

      <qddt-download *ngIf="!edit.isVisible" [entity]="concept" [readonly]="true"></qddt-download>


      <qddt-comment-list
        *ngIf="!edit.isVisible"
        [ownerId]="concept.id"
        [comments]="concept.comments">
      </qddt-comment-list>

      <div class="tree-children">
        <qddt-concept-treenode *ngFor="let child of concept.children"
           [concept]="child"
           [readonly]="child.archived"
           (deleteEvent)="onDeleteConcept($event)"
           (updatedEvent)="onConceptUpdated($event)">
        </qddt-concept-treenode>
      </div>

    </div>
  </div>

</div>
