<div *ngIf="universe" class="col s12">
  <form id="UNI{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <qddt-input class="col s11"
        required
        name="name"
        label="Name"
        [(ngModel)]="universe.name"
        data-length="100">
      </qddt-input>
      <qddt-select class="col s1"
        required
        name="xmlLang"
        label="xmlLang"
        [(ngModel)]="universe.xmlLang"
        [enum]="LANGUAGES" >
      </qddt-select>
    </div>
    <qddt-textarea
      required
      name="description"
      placeholder="describe universe"
      label="Description"
      [(ngModel)]="universe.description"
      data-length="1000">
    </qddt-textarea>


    <qddt-rational  *ngIf="!readonly && universe.id" [formName]="'RationalComp'" [element]="universe" [config]="{hidden: [4]}"></qddt-rational>

    <qddt-element-footer  *ngIf="universe.id" [element]="universe"></qddt-element-footer>

    <div class="row right-align">
        <button  *ngIf="!readonly" type="submit" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
    </div>
  </form>
</div>
