<form >
  <div class="input-field row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="password1">Email</label>
    <input id="password1" type="password" name="passwordEn" [(ngModel)]="model.password1" #email="ngModel" required />
    <div *ngIf="f.submitted && !password1.valid" class="help-block">password is required</div>
  </div>
  <div class="input-field row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="password2">Email</label>
    <input id="password2" type="password" name="passwordTn" [(ngModel)]="model.password2" #email="ngModel" required />
    <div *ngIf="f.submitted && !password2.valid" class="help-block">password is required</div>
  </div>
  <div class="row">
    <button class="btn btn-primary">Reset</button>

  </div>
</form>
<p> <a routerLink="/login"  >Login? </a>  &nbsp; &nbsp; <a routerLink="register">Register</a></p>

