<mat-card class="example-form">
	<mat-card-title> Reset password </mat-card-title>
<form >

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm Password" required>
    </mat-form-field>
</form>
<button mat-raised-button color="primary">Reset</button>
<button mat-raised-button color="accent">Cancel</button>
<p> <a routerLink="/login"  >Login? </a>  &nbsp; &nbsp; <a routerLink="register">Register</a></p>
	
</mat-card>