<div class="card white white-text text-lighten-2">
  <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
    <i class="material-icons large right">comment</i><h4>Topics for {{study.name}}</h4>
    <topic-create [study]="study"></topic-create>
  </div>

<div class="white white-text text-lighten-2" *ngIf="!showTopic">
  <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
    <i class="material-icons large right">assignment</i><h2>Topic header</h2>
  </div>
</div>

<div class="col s12 m6 " *ngIf="showTopic">

  <div class="card white white-text text-lighten-2" *ngIf="showTopic">
    <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
      <i class="material-icons large right">assignment</i><h4>Topic new header</h4>

      <a class="btn" (click)="toggleTopicForm()">
        <i class="material-icons right" *ngIf="!showTopicForm">keyboard_arr1ow_down</i>
        <i class="material-icons right" *ngIf="showTopicForm">keyboard_arrow_up</i>
        New</a>

      <div *ngIf="showTopicForm">
        <div class="card-action">
          <form (ngSubmit)="save()" #hf="ngForm">
            <div class="row">
              <div class="input-field col">
                <input id="name" type="text" [(ngModel)]="model.name" required>
                <label for="name" class="white-text">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10">
                <textarea id="description" class="materialize-textarea" [(ngModel)]="model.description" required></textarea>
                <label for="description" class="white-text">Description</label>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="input-field col s12">-->
        <!--<select>-->
          <!--<option value="" disabled selected>Choose your option</option>-->
          <!--<option value="1">Option 1</option>-->
          <!--<option value="2">Option 2</option>-->
          <!--<option value="3">Option 3</option>-->
        <!--</select>-->
        <!--<label>Materialize Select</label>-->
      <!--</div>-->
    <!--</div>-->

    <div *ngIf="topics">
      <div class="row" *ngFor="#topic of topics" style="padding-left:2%">
        <div class="col s1 m1 l1">
          <br />
          <div class="row">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="edit.isVisible = !edit.isVisible"><i class="material-icons">mode_edit</i></a>
          <!--<a class="btn-flat btn-floating btn-medium waves-effect waves-li1ght teal" (click)="revision.isVisible = !revision.isVisible"><i class="material-icons left medium">history</i></a>-->
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="create(topic)"><i class="material-icons left medium">add</i></a>
          </div>
        </div>

        <div class="col s10 m10 l10 grey-text text-darken-2">
          <h5>{{topic.name}}</h5>
          {{topic.created | localDate}} by <strong>{{topic.createdBy.username}}@{{topic.createdBy.agency.name}}</strong>
          <!--<div class="chip" ><img src="http://coraljs.com/example/contact/john-doe.jpeg">{{topic.createdBy.username}}@{{topic.createdBy.agency.name}} </div>-->
        </div>

        <div class="col s10 m10 l10 white grey-text text-darken-1">
          <div class="row">
            <p>
              {{topic.description}}
            </p>
          </div>

          <topic-edit [isVisible]="edit.isVisible" [topic]="topic" #edit></topic-edit>

          <topic-revision  [isVisible]="revision.isVisible" [topicId]="topic.id" #revision></topic-revision>

          <div class="row">
            <comment-list [ownerId]="topic.id"></comment-list>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
