<div class="row">
  <div class="input-field col s11">
    <label class="teal-text active">Name</label>
    <P [innerHtml]="publication?.name"></P>
  </div>
</div>
<div class="row">
  <div class="input-field col s11">
    <label class="teal-text active">Purpose</label>
    <P [innerHtml]="publication?.purpose"></P>
  </div>
</div>
<div class="row">
  <div class="input-field col s11">
    <label class="teal-text active">Status</label>
    <P [innerHtml]="publication?.status"></P>
  </div>
</div>

<div class="row">
  <div *ngIf="publication?.publicationElements && publication?.publicationElements?.length > 0" class="section">
    <ul *ngIf="publication?.publicationElements" materialize="collapsible" class="collapsible popout"
        data-collapsible="expandable" style="padding: 5pt;">
      <li *ngFor="let cqi of publication.publicationElements;" (click)="onViewDetail(cqi)">
        <div class="collapsible-header green lighten-5" >
          <div class="col s2">[{{ getQueryInfo(cqi?.elementKind).label }}]</div>
          <div class="col s8">{{ cqi?.name }}</div>
          <div class="col s2"><qddt-version-label [element]="cqi"></qddt-version-label></div>
        </div>
        <div class="collapsible-body">
          <qddt-preview-element *ngIf="cqi.element" [element]="cqi.element">
          </qddt-preview-element>
        </div>
      </li>
    </ul>
  </div>
</div>  <div class="row">
  <qddt-element-footer  [element]="publication"></qddt-element-footer>
</div>
<div class="row">
  <qddt-comment-list [ownerId]="publication.id" [comments]="publication.comments"></qddt-comment-list>
</div>
