<div class="row card-action">
  <form *ngIf="publication"  id="{{publication.id}}" #hf="ngForm" >
    <div class="row">
      <div class="col s10 input-field">
        <input id="{{publication?.id}}-name" name="{{publication?.id}}-name" type="text"
          class="validate" required
          materialize="characterCounter" data-length="255"
          [(ngModel)]="publication.name" >
        <label [attr.for]="publication.id + '-element-name'" class="{{textColor}}">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col s10  input-field ">
        <textarea
          id="{{publication?.id}}-purpose" name="{{publication?.id}}-purpose"
          class="materialize-textarea validate" required
          materialize="characterCounter" data-length="255"
          [(ngModel)]="publication.purpose">
        </textarea>
        <label [attr.for]="publication.id + '-publication-purpose'" class="{{textColor}}">Purpose</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m4 l3">
        <select materialize="material_select" name="status-value"
                materializeSelectOptions="selectOptions"
                [ngModel]="selectedOptionValue"
                (ngModelChange)="onSelectChange($event)">
                <optgroup *ngFor="let parent of selectOptions" label="{{parent.label}}">
                  <option *ngFor="let child of parent.children" [value]="child.id" >{{child.label}}</option>
              </optgroup>
        </select>
        <label class="{{textColor}}">Publication status</label>
      </div>
      <div class="input-field col s6 m8 l9">
        <label class="{{textColor}}">{{ selectedPublicationStatusOption }}</label>
      </div>
    </div>
    <div class="row">
      <div class="row {textColor}">Content list</div>
      <ul *ngIf="publication.publicationElements" materialize="collapsible"
          class="collapsible popout" data-collapsible="expandable">
        <li class="row collapsible-header grey lighten-2" style="color: black">
          <div class="col s2">Element type</div>
          <div class="col s7">Element name</div>
          <div class="col s2 right-align">Version</div>
          <div class="col s1">Delete</div>
        </li>
        <li *ngFor="let element of publication.publicationElements; let idx=index">
          <div class="collapsible-header grey lighten-5" style="color: #323232">
              <div class="col s2">{{ getLabelByElement(element?.elementKind) }}</div>
              <div class="col s7">{{ element?.name }}</div>
              <div class="col s2 right-align"><qddt-version [element]="element.element"></qddt-version></div>
              <div class="col s1">
                <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                   (click)="deleteElement(idx)">
                  <i class="material-icons medium" [ngStyle]="{'width': 'inherit', 'line-height': '37px'}" title="Delete" >delete_forever</i>
                </a>
              </div>
          </div>
          <div class="collapsible-body white" >
            <qddt-preview-element [element]="element.element"></qddt-preview-element>
          </div>
        </li>
        <li>
          <qddt-publication-reuse (publicationElement)="addElement($event)"></qddt-publication-reuse>
        </li>
      </ul>
    </div>
    <div class="row" *ngIf="publication?.id">
      <qddt-rational [formName]="'RationalComp'" [element]="publication" [config]="{hidden: [4]}"></qddt-rational>
    </div>
    <div class="row" *ngIf="publication?.id">
      <qddt-element-footer [element]="publication"></qddt-element-footer>
    </div>
    <div class="row right-align">
      <button *ngIf="!readonly" type="button" (click)="onSavePublication()" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
    </div>
  </form>
</div>
