<div>
  <a *ngIf="showbutton && !readOnly && !responseDomain" class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal" href="#{{formId}}">
      <i class="material-icons" title="response domain edit" (click)="openModal()">add</i>
  </a>
  <a *ngIf="showbutton && !readOnly && responseDomain" class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
    <i class="material-icons" title="response domain remove" (click)="removeResponseDomain()">remove</i>
  </a>
  <a *ngIf="!showbutton || readOnly " class="btn-flat btn-floating btn-medium" style="background-color: transparent; color: transparent;" ></a>
  <span style="min-height:max-content; "> {{ responseDomain?.name }}</span>

  <div id="{{formId}}" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

    <div class="modal-content white black-text">

      <div class="row">
        <h4>Reuse Domain</h4>
        <div class="response-domain-title"><span name="text">Domain Type</span></div>
        <div class="col left" *ngFor="let domain of domainTypeDescription">
          <input name="domaintypegroup" type="radio" id="rdomain-type-{{domain.id}}" (click)="selectDomainType(domain.id)" [checked]="currentdomainKind === domain.id" >
          <label for="rdomain-type-{{domain.id}}">{{ domain.label }}</label>
        </div>
      </div>

      <qddt-auto-complete
        [items]="responseDomainList"
        [elementKind]="ELEMENT_KIND"
        (enterEvent)="searchResponseDomains($event)"
        (selectEvent)="onResponseDomainSelected($event)">
      </qddt-auto-complete>

      <qddt-revision-select *ngIf="revisionList"
        [elementRevisions]="revisionList"
        (selectEvent)="onRevisionSelected($event)"
        (dismissEvent)="closeModal()">
      </qddt-revision-select>
    </div>

    <div class="modal-footer">
      <button class="btn btn-default red waves-effect waves-red" (click)="closeModal()">Dismiss</button>
    </div>
  </div>
</div>
