<div class="row" *ngIf="user">

  <surveyprogram></surveyprogram>

  <div class="col s12 m6">

    <agency></agency>

    <div class="card white white-text text-lighten-2">
      <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
        <i class="material-icons large right">comment</i><h4 style="font-weight:300;">Latest comments</h4>
        This is a gather of all comments made in the system
      </div>
      <div class="row" style="padding-left:2%">
        <div class="col s12 m6 l6 grey-text text-darken-2">
          <p>A comment in [data] [link]</p>
          <p>A comment in [data] [link]</p>
          <p>A comment in [data] [link]</p>
        </div>

      </div>

    </div>

  </div>

</div>


<div class="row" *ngIf="!user">

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><i class="material-icons large right">new_releases</i>Welcome QDDT</span>
        Welcome to the prototype client for QDDT. This client will change a lot, and some features are likely to be broken
        from time to time. Expect features to change, appear and disappear quickly and without notice.
        <blockquote>
          Please report any bugs, tips or ideas to us on <a href="mailto:qddt@nsd.no">qddt@nsd.no</a>
        </blockquote>
        More info at <br />
          <a href="https://github.com/DASISH/qddt-client/"><img src="images/GitHub_Logo.png" height="20%" width="20%"></a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><i class="material-icons large right">announcement</i>Latest changes</span>
        <p>
          <commit-list></commit-list>
        </p>
      </div>
    </div>
  </div>

</div>
