<div class="row" *ng-if="user">

  <surveyprogram></surveyprogram>

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><i class="material-icons large right">business</i>My Agency</span>

        <p>Agency is ---- data about agency</p>
      </div>
      <div class="card-action">
        <a href="#">Edit</a>
        <a href="#">More info</a>
      </div>
    </div>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><i class="material-icons large right">comment</i>Latest comments</span>
        <p>A comment in [data] [link]</p>
        <p>A comment in [data] [link]</p>
        <p>A comment in [data] [link]</p>
      </div>
    </div>
  </div>

</div>





<div class="row" *ng-if="!user">

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><i class="material-icons large right">new_releases</i>Welcome QDDT</span>
        <p>
        Welcome to the prototype client for QDDT. This client will change a lot, and some features are likely to be broken
        from time to time. Expect features to change, appear and disappear quickly and without notice.
        <blockquote>
          Please report any bugs, tips or ideas to us on <a href="mailto:qddt@nsd.no">qddt@nsd.no</a>
        </blockquote>
        More info at <br />
          <a href="https://github.com/DASISH/qddt-client/"><img src="images/GitHub_Logo.png" height="20%" width="20%"></a>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><i class="material-icons large right">announcement</i>Latest changes</span>
        <p>
          <commit-list></commit-list>
        </p>
      </div>
    </div>
  </div>

</div>
