<div *ngIf="questionitem"  class="white grey-text text-darken-1">
  <qddt-preview-responsedomain
    *ngIf="questionitem?.responseDomain"
    [responseDomain]="questionitem.responseDomain">
  </qddt-preview-responsedomain>

  <qddt-conceptref [element]="questionitem"></qddt-conceptref>

  <form  (ngSubmit)="onSaveQuestionItem()" #questionEditForm="ngForm">
    <div class="row input-field">
      <label [attr.for]="questionitem.id + '-name'" class="teal-text">Name</label>
      <input
        name="{{questionitem?.id}}-name"
        type="text"
        class="validate" required
        [(ngModel)]="questionitem.name"
        materialize="characterCounter" data-length="255">
    </div>
    <div class="row input-field">
      <label [attr.for]="questionitem.id + '-textarea'" class="teal-text">Question text</label>
      <textarea id="{{questionitem?.id}}-textarea"
                name="{{questionitem?.id}}-textarea" [(ngModel)]="questionitem.question"
                class="materialize-textarea validate" required minlength="5"
                materialize="characterCounter" data-length="1500">
      </textarea>
    </div>
    <div class="row input-field">
        <label [attr.for]="questionitem.id + '-intent'" class="teal-text">Question intent</label>
        <textarea id="{{questionitem?.id}}-intent"
                  name="{{questionitem?.id}}-intent" [(ngModel)]="questionitem.intent"
                  class="materialize-textarea validate"
                  materialize="characterCounter" data-length="2000">
        </textarea>
    </div>
    <div class="row hoverable"
         (mouseenter)="showbutton = true"
         (mouseleave)="showbutton = false">
      <div class="col s8">
        <div class="row teal-text">
          <span>Response Domain (V <qddt-version [element]="questionitem?.responseDomain?.managedRepresentation"></qddt-version>)
          </span>
        </div>
        <div class="row">
          <qddt-responsedomain-reuse
             [readOnly] = "readonly"
             [modalId] = "'reuse-2'"
             [showbutton] = "showbutton"
             [responseDomain]="questionitem?.responseDomain"
             (selectedEvent)="onResponseDomainSelected($event)"
             (removeEvent)="onResponsedomainRemove($event)">
          </qddt-responsedomain-reuse>
        </div>
      </div>
      <div class="col s4">
          <qddt-responsedomain-select-missing
            *ngIf="!readonly && questionitem?.responseDomain"
            [modalId] = "'select-missing-2'"
            [responseDomain]="questionitem.responseDomain"
            (selectedEvent)="onResponseDomainSelected($event)"
            (removeEvent)="onResponsedomainRemove($event)">
          </qddt-responsedomain-select-missing>
      </div>
    </div>
    <qddt-rational
      *ngIf="!readonly"
      [element]="questionitem"
      [config]="{hidden: [4]}">
    </qddt-rational>
    <qddt-element-footer [element]="questionitem"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly"
              [disabled]="!questionEditForm.form.valid"
              type="submit" class="btn btn-default">Submit
      </button>
    </div>
  </form>
</div>


