<qddt-template-component>

  <div *ngIf="questionItem"  class="qddt-edit">
        <qddt-preview-responsedomain
          *ngIf="questionItem?.responseDomain"
          [responseDomain]="questionItem.responseDomain">
        </qddt-preview-responsedomain>

        <qddt-conceptref [element]="questionItem"></qddt-conceptref>

        <form  (ngSubmit)="onSaveQuestionItem()" #questionEditForm="ngForm">
          <div class="row input-field">
            <label for="-name" >Name</label>
            <input id="-name" name="-name" type="text" class="validate" required
              [(ngModel)]="questionItem.name"
              materialize="characterCounter" data-length="255">
          </div>
          <div class="row input-field">
            <label [attr.for]="questionItem.id + '-textarea'" >Question text</label>
            <textarea id="-textarea"
                      name="-textarea" [(ngModel)]="questionItem.question"
                      class="materialize-textarea validate" required minlength="5"
                      materialize="characterCounter" data-length="1500">
            </textarea>
          </div>
          <div class="row input-field">
              <label [attr.for]="questionItem.id + '-intent'" >Question intent</label>
              <textarea id="-intent"
                        name="-intent" [(ngModel)]="questionItem.intent"
                        class="materialize-textarea validate"
                        materialize="characterCounter" data-length="2000">
              </textarea>
          </div>
          <div class="row hoverable"
               (mouseenter)="showbutton = true"
               (mouseleave)="showbutton = false">
            <div class="col s8">
              <div class="row teal-text">
                <span>Response Domain (V <qddt-version [element]="questionItem?.responseDomain?.managedRepresentation"></qddt-version>)
                </span>
              </div>
              <div class="row">
                <qddt-responsedomain-reuse class="formWhite"
                   [readOnly] = "readonly"
                   [modalId] = "'reuse-2'"
                   [showbutton] = "showbutton"
                   [responseDomain]="questionItem?.responseDomain"
                   (selectedEvent)="onResponseDomainSelected($event)"
                   (dismissEvent)= "onCloseModal()"
                   (removeEvent)="onResponsedomainRemove($event)">
                </qddt-responsedomain-reuse>
              </div>
            </div>
            <div class="col s4">
                <qddt-responsedomain-select-missing
                  *ngIf="!readonly && questionItem?.responseDomain"
                  [modalId] = "'select-missing-2'"
                  [responseDomain]="questionItem.responseDomain"
                  (selectedEvent)="onResponseDomainSelected($event)"
                  (removeEvent)="onResponsedomainRemove($event)">
                </qddt-responsedomain-select-missing>
            </div>
          </div>

          <div class="row right-align">
            <button *ngIf="!readonly" [disabled]="!questionEditForm.form.valid"
                    type="submit" class="btn btn-default">Submit
            </button>
          </div>
        </form>
      </div>

  <router-outlet></router-outlet>

</qddt-template-component>

