<div *ngIf="user" >
  <form #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <div class="col m6">
        <div class="row input-field">
          <input id="{{formId}}-name" type="text" class="validate"  name="name" required [(ngModel)]="user.name"
                data-length="25" materialize="characterCounter">
          <label>Name</label>
        </div>

        <div class="row input-field">
          <input id="{{formId}}-email" type="email" class="validate" name="email"  required [(ngModel)]="user.email"
                data-length="128" materialize="characterCounter">
          <label>Email</label>
        </div>

        <div class="row input-field">
          <select id="{{formId}}-agency" name="{{formId}}-agency" materialize="material_select" class="validate" required
                  [ngModel]="selectedAgencyId"
                  (ngModelChange)="onSelectChange($event)">
                  <!--id="{{formId}}-agency" class="validate" name="agency" required materialize="material_select"-->
                  <!--[ngModel]="selectedAgencyId" (ngModelChange)="onSelectChange($event)">-->
                  <!--[(ngModel)]="user.agency">-->
            <option *ngFor="let agency of agencies" [value]="agency.id" >{{agency.name}}</option>
          </select>
          <label>Agency</label>
        </div>
      </div>

      <div class="col m3 offset-m1">
        <label>Authority</label>
        <div  class="card-action">
          <div *ngFor="let authority of (authorities)">
            <input id="{{formId}}-auth{{authority.id}}" name="{{formId}}-autGroup" type="radio"
              (click)="onSelectRadio(authority)" [checked]="user.authorities[0].id === authority.id"/>
            <label for="{{formId}}-auth{{authority.id}}">{{ authority?.name }}</label>
          </div>
        </div>
        <div class="row">
          <div class="switch">
            <label>
              <input id="{{formId}}-enabled" type="checkbox"  name="enabled" [(ngModel)]="user.enabled" />
              <span class="lever"></span>Enabled
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row right-align">
        <button *ngIf="!readonly" type="submit" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
    </div>
  </form>
</div>
