
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 1px;
  }
}

@media only screen and (min-width: 993px) {
  header,
  main,
  footer {
    padding-left: 200px;
  }
  nav .nav-wrapper {
    width: calc(100% - 200px);
  }
}

.ng-invalid:not(form) {
  border-bottom: 1px solid red; /* red */
}

p {
  text-align: justify;
  text-justify: auto;
  white-space: pre-line;
}

form p {
  text-justify: auto;
  white-space: pre-line;
}


.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}

.noItemFound { border: thick solid dodgerblue; }
.itemInvalid { border: thick solid red; }
.infoText { font-style: italic; color: grey; }

input {
  margin: auto auto 0px;
}


.collapsible.popout > li  {
  margin: 0 !important;
}


.collection { border:none; }

/*.collection.with-header {*/
/*  border-bottom: none;*/
/*  padding: 5px 10px 5px 0px;*/
/*  min-height: 3rem;*/
/*}*/

.collection.with-header .collection-header {
  border-bottom: none;
  padding: 5px 10px 5px 0px ;
  min-height: 3rem;
}

.collection a.collection-item {
  min-height: 3rem;
  border-bottom: none;
  padding: 5px 10px 5px 10px;
}

.collection a.collection-item { cursor: pointer; padding-left: 10px;}

.collapsible-header .col {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.collection-item:hover > ul.dropleft { display:block; }

ul.dropleft { position: absolute; display: none; margin-top: 0px; margin-bottom: 0px;  margin-right: 10px; z-index: 1;}

ul.dropleft li { display:inline-flex; padding: 0 10px 0  5px; }

.qddtSearchCursor { cursor: zoom-in; }

.question { white-space: nowrap; overflow: hidden;text-overflow: ellipsis; display: flow-root; line-height:30px; color: gray; }

.codeValue { width: 30px; float: left;}

