<div class="row">
	<div class="row">
		<div class="card white white-text text-lighten-2">
			<div class="row teal z-depth-1" style="padding-left: 2%; padding-top: 1%; padding-bottom: 1%;">
				<i class="material-icons large right">comment</i>
				<h4>Response Domains</h4>
				<a class="btn" (click)="onToggleResponseDomainForm()">
					<i class="material-icons right" *ngIf="!showResponseDomainForm">keyboard_arrow_down</i>
					<i class="material-icons right" *ngIf="showResponseDomainForm">keyboard_arrow_up</i> New
				</a>
			</div>
		</div>
    <div *ngIf="!isDetail" class="row card">
			<div class="response-domain-title">
				<span name="text">Domain Type:</span>
			</div>
			<div class="col left" *ngFor="let domain of domainTypeDescription">
				<input name="domaintypegroup" type="radio" id="domain-type-{{domain.id}}"
          (click)="selectDomainType(domain.id)" [checked]="domainType === domain.id"
				/> <label [attr.for]="'domain-type-' + domain.id">{{domain.label}}</label>
			</div>
		</div>
		<div *ngIf="showResponseDomainForm" class="row">
			<qddt-responsedomain-form
        (formChange)="formCreate($event)" [responsedomain]="responseDomain" [domainType]="domainType">
      </qddt-responsedomain-form>
		</div>
    <div *ngIf="showProgressBar && !isDetail" class="progress">
      <div class="indeterminate"></div>
    </div>
		<qddt-table *ngIf="!isDetail" [items]="responseDomains" [page]="page" [columns]="columns"
          [searchFromServer]="true"
					(enterEvent)="searchResponseDomains($event)"
          (detailEvent)="onDetail($event)" (pageChangeEvent)="onPage($event)"></qddt-table>
	</div>

<div class="row" *ngIf="isDetail">

  <div id="{{selectedResponseDomain?.id}}" class="scrollspy">

    <div class="fixed-action-btn vertical click-to-toggle">
      <a class="btn-floating btn-large cyan"><i class="large material-icons">menu</i></a>
      <ul>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light blue" (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium" title="Revision history">history</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="onDeleteResponseDomainModal()" title="Delete" >delete_forever</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light green darken-1">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a></li>
      </ul>
    </div>

    <div class="col s1">
      <a class="btn-flat btn-floating btn-medium waves-effect waves-light  green darken-1">
        <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
      </a>
    </div>

    <div class="col s9 grey-text text-darken-2">
      <div class="flow-text">{{selectedResponseDomain?.name}}</div>
    </div>

    <div class="col s1">
      <label class="active teal-text text-align: right">Version: {{selectedResponseDomain?.version?.major}}.{{selectedResponseDomain?.version?.minor}}
        <i *ngIf="selectedResponseDomain.workinprogress"
           class="material-icons white yellow-text tiny">
          error
        </i>
      </label>
    </div>



    <div class="col s10  white grey-text text-darken-1">
        <qddt-responsedomain-form
          (formChange)="formChange($event)" [responsedomain]="selectedResponseDomain"
          [domainType]="domainType">
        </qddt-responsedomain-form>
        <qddt-revision [isVisible]="revisionIsVisible"
          [current]="selectedResponseDomain"
          [qddtURI]="'audit/responsedomain/' + selectedResponseDomain.id + '/all'"
          [config]="selectedResponseDomain.config">
        </qddt-revision>
        <div class="row">
          <qddt-comment-list [ownerId]="selectedResponseDomain.id" [comments]="selectedResponseDomain.comments"></qddt-comment-list>
        </div>
      </div>
  </div>
</div>

</div>

<div class="modal" materialize="modal" [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <span>Are you sure to delete Response Domain {{selectedResponseDomain?.name}}?</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>

<div class="modal" materialize="modal" [materializeActions]="errorAction">
  <div class="modal-content">
    <div class="row">
      <h4>Message</h4>
      <span>{{error}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
