<div>
	<div *ngIf="responsedomain" class="card" id="{{responsedomain.id}}">
    <qddt-preview-responsedomain [isVisible]="true"
      [responseDomain]="previewResponseDomain">
		</qddt-preview-responsedomain>

		<form (ngSubmit)="onSave()" #hf="ngForm">
			<div class="row">
				<div class="col s12">
					<label for="name" class="active teal-text">Name</label>
					<input id="name" name="name" type="text" [(ngModel)]="responsedomain.name" required>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<label for="description" class="active teal-text">Description</label>
					<textarea class="materialize-textarea"
					  id="description" name="description"
						[(ngModel)]="responsedomain.description"></textarea>
				</div>
			</div>
			<div class="row">
				<div [ngSwitch]="domainType">
					<div *ngSwitchCase="domainTypeDef.SCALE">
						<div class="row">
              <div class="col l3">
                <label for="scale_start" class="active">Start</label>
                <input id="scale_start" name="scale_start" type="number"
								  (ngModelChange)="buildPreviewResponseDomain()"
					        [(ngModel)]="responsedomain.managedRepresentation.inputLimit.minimum" required>
              </div>
              <div class="col l3">
                <label for="scale_end" class="active">End</label>
                <input id="scale_end" name="scale_end" type="number"
								  (ngModelChange)="buildPreviewResponseDomain()"
					        [(ngModel)]="responsedomain.managedRepresentation.inputLimit.maximum" required>
              </div>
              <div class="col l3">
                <label for="scale_anchor" class="active">Number of Anchor</label>
                <input id="scale_anchor" name="scale_anchor" type="number" [(ngModel)]="numberOfAnchors"
                       min="0"
                       [attr.max]="responsedomain.managedRepresentation.inputLimit.maximum - responsedomain.managedRepresentation.inputLimit.minimum + 1"
                       (ngModelChange)="changeNumberOfAnchors($event)" required>
              </div>
							<div class="col l3 input-field">
							  <label for="scale_DisplayLayout" class="active">Display Layout</label>
								<select id="scale_DisplayLayout" name="scale_DisplayLayout"
								   [ngModel]="responsedomain.displayLayout"
									 (ngModelChange)="onChangeDegreeSlope($event)"
						       materialize="material_select" required>
						       <option [value]="0">horizontal</option>
						       <option [value]="90">vertical</option>
   					    </select>
						  </div>
            </div>

						<table *ngIf="numberOfAnchors > 0">
						  <thead><tr><td>Code</td><td>Anchor Alignment</td><td>Category</td></tr></thead>
							<tbody>
								<tr *ngFor="let category of responsedomain.managedRepresentation.children; let idx=index">
									<td><input name="{{idx}}-code-value" type="text"
									  (ngModelChange)="buildPreviewResponseDomain()"
									  [(ngModel)]="category.code.codeValue" required></td>
                  <td>
                    <div class="input-field">
                      <select id="{{idx}}placeholderAlignment" name="{{idx}}placeholderAlignment" materialize="material_select"
                              (ngModelChange)="buildPreviewResponseDomain()"
                              [(ngModel)]="category.code.alignment" required>
                        <option value="text-left">Left</option>
                        <option value="text-center">Center</option>
                        <option value="text-right">Right</option>
                      </select>
                    </div>
                  </td>
									<td>
										<div [ngClass]="{ noItemFound: (category.isNew && category.label.length > 0 && categories.length === 0) }">
										  <autocomplete [items]="categories" class="black-text"
                        [searchField]="'label'"
												[searchFromServer]="true"
                        (autocompleteFocusEvent)="selectedCategoryIndex=idx;"
                        [initialValue]="category?.label"
                        (autocompleteSelectEvent)="select($event)"
												(enterEvent)="searchCategories($event)">
											</autocomplete>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div *ngSwitchCase="domainTypeDef.LIST" class="row">
						<div class="col s2 input-field">
							<input id="code_number" name="code_number" type="number"
							  min="0"
							  [ngModel]="responsedomain.managedRepresentation.inputLimit.maximum"
								(ngModelChange)="changeNumberOfCategories($event)" required>
							<label for="code_number" class="active">Number of Codes</label>
						</div>

						<table *ngIf="responsedomain.managedRepresentation.inputLimit.maximum > 0">
						  <thead><tr><td>Code</td><td>Category</td><td></td></tr></thead>
							<tbody>
								<tr *ngFor="let category of responsedomain.managedRepresentation.children; let idx=index">
									<td><input name="{{idx}}-code-value" type="text"
									  (ngModelChange)="buildPreviewResponseDomain()"
									  [(ngModel)]="category.code.codeValue" required></td>
									<td>
										<div [ngClass]="{ noItemFound: (category.isNew && category.label.length > 0 && categories.length === 0) }">
										  <autocomplete [items]="categories" class="black-text"
                        [searchField]="'label'"
                        (autocompleteFocusEvent)="selectedCategoryIndex=idx;"
                        [initialValue]="category?.label"
												[searchFromServer]="true"
												(enterEvent)="searchCategories($event)"
                        (autocompleteSelectEvent)="select($event)">
											</autocomplete>
										</div>
									</td>
									<td>
										<div class="row">
                      <a class="btn-floating red right" (click)="onClickClear(idx)">
												<i class="material-icons">clear</i></a>
                      <a class="btn-floating yellow darken-1 right" (click)="onClickUp(idx)">
												<i class="material-icons">keyboard_arrow_up</i></a>
                      <a class="btn-floating yellow darken-1 right" (click)="onClickDown(idx)">
												<i class="material-icons">keyboard_arrow_down</i></a>
                    </div>
									</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="responsedomain.managedRepresentation.inputLimit.maximum > 0" class="row card">
							<div class="row input-field col s5">
							  <input id="responseCardinality_minimum" name="responseCardinality_minimum" type="number"
								  (ngModelChange)="buildPreviewResponseDomain()"
							    [(ngModel)]="responsedomain.responseCardinality.minimum" required>
							  <label for="responseCardinality_minimum">Min of Response Cardinality</label>
						  </div>
							<div class="row input-field col s5">
							  <input id="responseCardinality_maximum" name="responseCardinality_maximum" type="number"
								  (ngModelChange)="buildPreviewResponseDomain()"
							    [(ngModel)]="responsedomain.responseCardinality.maximum" required>
							  <label for="responseCardinality_maximum">Max of Response Cardinality</label>
						  </div>
						</div>
					</div>
					<div *ngSwitchCase="domainTypeDef.NUMERIC">
						<table *ngIf="responsedomain.managedRepresentation">
						  <thead><tr><td>Numeric Range</td><td>Value</td></tr></thead>
							<tbody>
								<tr>
								  <td><label>Low</label></td>
								  <td><input id="representation_low" name="representation_low" type="text"
									  (ngModelChange)="buildPreviewResponseDomain()"
									  [(ngModel)]="responsedomain.managedRepresentation.inputLimit.minimum" required></td>
								</tr>
								<tr>
								  <td><label>High</label></td>
								  <td><input id="representation_high" name="representation_high" type="text"
									  (ngModelChange)="buildPreviewResponseDomain()"
									  [(ngModel)]="responsedomain.managedRepresentation.inputLimit.maximum" required></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div *ngSwitchCase="domainTypeDef.TEXT">
						<table *ngIf="responsedomain.managedRepresentation">
						  <thead><tr><td>TEXT Range</td><td>Value</td></tr></thead>
							<tbody>
								<tr>
								  <td><label>Minimum length</label></td>
								  <td><input id="text_representation_min" name="text_representation_min" type="number"
									  (ngModelChange)="buildPreviewResponseDomain()"
									  [(ngModel)]="responsedomain.managedRepresentation.inputLimit.minimum" required></td>
								</tr>
								<tr>
								  <td><label>Maximum length</label></td>
								  <td><input id="text_representation_max" name="text_representation_max" type="number"
									  (ngModelChange)="buildPreviewResponseDomain()"
									  [(ngModel)]="responsedomain.managedRepresentation.inputLimit.maximum" required></td>
								</tr>
							</tbody>
						</table>
					</div>
          <div *ngSwitchCase="domainTypeDef.DATETIME">
					  <autocomplete [items]="suggestions"
											[searchField]="'label'"
											(autocompleteFocusEvent)="selectedCategoryIndex=idx;"
											[initialValue]="''"
											(autocompleteSelectEvent)="select($event)"></autocomplete>
						<table *ngIf="responsedomain.managedRepresentation">
						  <thead><tr><td>DATETIME Range</td><td>Value</td></tr></thead>
							<tbody>
								<tr>
								  <td><label>Start</label></td>
								  <td><input id="datetime_representation_start" name="datetime_representation_start" type="text" [(ngModel)]="responsedomain.managedRepresentation.inputLimit.minimum" required></td>
								</tr>
								<tr>
								  <td><label>End</label></td>
								  <td><input id="datetime_representation_end" name="datetime_representation_end" type="text" [(ngModel)]="responsedomain.managedRepresentation.inputLimit.maximum" required></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
      <div *ngIf="!responsedomain.isNew && !readonly" class="row">
        <qddt-rational [element]="responsedomain"></qddt-rational>
      </div>
			<div *ngIf="!responsedomain.isNew" class="row">
				<qddt-element-footer [element]="responsedomain"
				  (BasedonObjectDetail)="onBasedonObjectDetail($event)"
				  [type]="'responsedomain'"></qddt-element-footer>
			</div>
      <div class="row right-align">
			  <button *ngIf="!readonly" type="submit" class="btn btn-default">Submit</button>
      </div>
		</form>
	</div>
</div>


<div class="modal modal-fixed-footer"
  materialize="modal" [materializeActions]="basedonActions">
  <div class="modal-content">
		<h4>Basedon Object Detail</h4>
    <div class="row" *ngIf="basedonObject">
			<qddt-responsedomain-form [readonly]="true"
			  [responsedomain]="basedonObject"
				[domainType]="domainType">
			</qddt-responsedomain-form>
    </div>
  </div>
  <div class="modal-footer">
    <button id="controlConstructs-modal-close"
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
