<div *ngIf="responseDomains" class="row">
  <div class="row" *ngFor="let responseDomain of responseDomains" style="padding-left:2%">
    <div id="{{responseDomain.id}}" class="scrollspy">
      <div class="col s1 m1 l1">
        <br />
        <div class="row">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
            (click)="onEdit(responseDomain)"><i class="material-icons"title="Edit element">mode_edit</i></a>
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
            (click)="revision.isVisible = !revision.isVisible"><i class="material-icons left medium" title="Revision history">history</i></a>
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
            (click)="preview.isVisible = !preview.isVisible" title="Preview">
            <i class="material-icons left medium">turned_in</i></a>
        </div>
      </div>

      <div class="col s10 m10 l10 grey-text text-darken-2">
        <h5>{{responseDomain?.name}}</h5>
        {{responseDomain?.modified | localDate}} by <strong>{{responseDomain.modifiedBy?.username}}@{{responseDomain?.modifiedBy?.agency?.name}}</strong>
      </div>

      <div class="col s10 m10 l10 white grey-text text-darken-1">
        <div class="row">
          <p>{{responseDomain?.description}}</p>
          <qddt-author-chip [authors]="responseDomain.authors"></qddt-author-chip>
        </div>
        <qddt-responsedomain-form *ngIf="editIsVisible && selectedDomainId === responseDomain.id"
          (formChange)="formChange($event)" [responsedomain]="responseDomain"
          [domainType]="domainType">
        </qddt-responsedomain-form>
        <qddt-revision [isVisible]="revision.isVisible"
          [current]="responseDomain"
          [qddtURI]="'audit/responsedomain/' + responseDomain.id + '/all'" #revision></qddt-revision>
        <qddt-responsedomain-preview [isVisible]="preview.isVisible"
          [responseDomain]="responseDomain" #preview></qddt-responsedomain-preview>
        <div class="row">
          <qddt-comment-list [ownerId]="responseDomain.id" [comments]="responseDomain.comments"></qddt-comment-list>
        </div>
      </div>

    </div>
  </div>
</div>
