<div class="row" *ngIf="instrument">
  <qddt-version-label [element]="instrument"></qddt-version-label>
  <!--<label class="active teal-text">Version &lt;!&ndash;-->
        <!--&ndash;&gt;{{instrument?.version?.major}}.&lt;!&ndash;-->
        <!--&ndash;&gt;{{instrument?.version?.minor}}</label>-->
  <div id="{{instrument?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium" title="Revision history">history</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light green darken-1">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <form (ngSubmit)="onUpdateInstrument()" #instrumentform="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <label [attr.for]="instrument.id + '-name'" class="active">Name</label>
            <textarea [attr.id]="instrument.id + '-name'"
              name="{{instrument.id}}-name" class="materialize-textarea"
              [(ngModel)]="instrument.name" [attr.maxlength]="255"
              required autosize>
            </textarea>
          </div>
          <div class="input-field col s12">
            <label [attr.for]="instrument.id + '-description'" class="active">Description</label>
            <textarea [attr.id]="instrument.id + '-description'"
              name="{{instrument.id}}-description" class="materialize-textarea"
              [(ngModel)]="instrument.description" [attr.maxlength]="255" autosize>
            </textarea>
          </div>
          <div class="input-field col s12">
            <label [attr.for]="instrument.id + '-instrumentType'" class="active">Instrument Type</label>
            <input [attr.id]="instrument.id + '-instrumentType'"
              name="{{instrument.id}}-instrumentType"
              [(ngModel)]="instrument.instrumentType">
          </div>
        </div>

      <div class="section">
        <ul class="collection with-header">
          <li class="collection-header">
            <div class="row">
              <div class="col s11">ControlConstruct</div>
              <div class="col s1">
                <a
                  class="btn-flat btn-floating btn-small waves-effect waves-light teal"
                  (click)="onAddControlConstruct()">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </div>
          </li>
          <li class="collection-item" *ngFor="let c of instrument.controlConstructs; let idx=index">
            <div class="row">
              <div class="col s1">
                <a
                  class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                  (click)="onClickControlConstruct(idx)">
                  <i class="material-icons">search</i>
                </a>
              </div>
              <div class="col s10">{{c?.description}}</div>
              <div class="col s1">
              <a
                class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                (click)="onDeleteControlConstruct(idx)">
                <i class="material-icons">remove</i>
              </a>
              </div>
            </div>
          </li>
        </ul>
      </div>

        <div class="row">
		      <qddt-rational [element]="instrument" [config]="{hidden: [4]}"></qddt-rational>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <qddt-revision
        [isVisible]="revisionIsVisible"
        [current]="instrument"
        [qddtURI]="'audit/instrument/' + instrument.id + '/all'">
      </qddt-revision>

        <qddt-comment-list [ownerId]="instrument.id" [comments]="instrument.comments"></qddt-comment-list>

    </div>

  </div>
</div>

<div [attr.id]="'instrument-control-construct-modal'"
  class="modal modal-fixed-footer"
  materialize="modal" [materializeActions]="controlConstructsActions">
  <div class="modal-footer">
    <button id="questionitem-modal-close"
      class="btn btn-default red modal-action modal-close waves-effect waves-red">
      <i class="close material-icons">close</i>
    </button>
  </div>
  <div class="modal-content">
    <h2>Control Construct</h2>
    <span>The backend cannot support for searching Control Construct.</span>
  </div>
</div>
