<div cdkDropList cdkDrop [cdkDropListData]="elementRevisions" (cdkDropListDropped)="onItemDrop($event)">
  <ul class="collapsible row">
    <li *ngFor="let cqi of elementRevisions;let idx = index;" cdkDrag (mouseenter)="showButton = !readonly"
      (mouseleave)="showButton = false" (click)="onOpenBody(cqi)">
      <div class="collapsible-header">
        <ul class="dropleft" *ngIf="!readonly">
          <li>
            <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
              (click)="onItemEdit($event, cqi)">
              <i class="material-icons tiny" title="Edit selected">edit</i>
            </a>
          </li>
          <li>
            <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
              (click)="onItemUpdate($event, cqi)">
              <i class="material-icons tiny" title="update selected">sync</i>
            </a>
          </li>
          <li>
            <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red"
              (click)="onItemRemove($event, cqi)">
              <i class="material-icons tiny" title="Remove selected">remove</i>
            </a>
          </li>
        </ul>
        <i *ngIf="showIcon" class="material-icons small teal-text text-lighten-3">{{getMatIcon(cqi.elementKind)}}</i>
        <div class="col s9 m10 grey-text text-darken-1" [innerHtml]=cqi.name></div>
        <qddt-version-label class="col s3 m2 right-align" [revisionRef]="cqi"></qddt-version-label>
        <div class="minicol" cdkDragHandle style="width: 2rem; position: relative; cursor: grab;" title="Grab...">
          <i class="material-icons blue-text text-lighten-2" style=" display: inline; ">reorder</i>
        </div>
      </div>
      <div class="collapsible-body">
        <qddt-preview-element [element]="cqi.element" [showDetail]="false" [inParameters]="inParameters">
        </qddt-preview-element>
      </div>

    </li>
    <li>
      <div class="collapsible-header " (click)="onItemNew($event)">
        <i class="material-icons small teal-text text-lighten-3">vertical_align_top</i>
        <div class="col s12 blue-text text-lighten-2" [innerHtml]="'Add New Element'"></div>
      </div>
    </li>
  </ul>
</div>

<!-- Modal Structure -->
<div id="MODAL-{{modalId}}" class="modal modal-fixed-footer">
  <div class="modal-content">

    <h4>Select version</h4>
    <div class="card-action">
      <span class="teal-text">Element Type</span>
      <div class="row">
        <div class="col left" *ngFor="let element of selectOptions">
          <label>
            <input name="DOMAIN-TYPE-GROUP" type="radio" (click)="onSelectElementKind(element.id)"
              [checked]="selectedElementKind === element.id" />
            <span>{{ element.label }}</span>
          </label>
        </div>
      </div>
    </div>
    <qddt-element-revision-select [source]="SOURCE" [xmlLang]="xmlLang"
      (revisionSelectedEvent)="revisionSelectedEvent($event)" (dismissEvent)="onDismiss()">
    </qddt-element-revision-select>
  </div>
  <div class="modal-footer">
    <a class="btn red waves-effect waves-red" (click)="onDismiss($event)">Dismiss</a>
  </div>
</div>