<div cdkDropList cdkDrop [cdkDropListData]="elementRevisions" (cdkDropListDropped)="onItemDrop($event)">
<ul class="collapsible row">
  <li *ngFor="let cqi of elementRevisions;let idx = index;" cdkDrag (mouseenter)="showButton = !readonly"
    (mouseleave)="showButton = false" (click)="onOpenBody(cqi)">

    <div class="collapsible-header ">
      <ul class="dropleft" *ngIf="!readonly">
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onItemEdit($event, cqi)">
            <i class="material-icons tiny" title="Edit selected">edit</i>
          </a>
        </li>
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
            (click)="onItemUpdate($event, cqi)">
            <i class="material-icons tiny" title="update selected">sync</i>
          </a>
        </li>
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
            (click)="onItemNew($event, cqi)">
            <i class="material-icons tiny" title="insert above">playlist_add</i>
          </a>
        </li>
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red"
            (click)="onItemRemove($event, cqi)">
            <i class="material-icons tiny" title="Remove selected">remove</i>
          </a>
        </li>
      </ul>
      <i *ngIf="showIcon" class="material-icons small teal-text text-lighten-3">{{getMatIcon(cqi.elementKind)}}</i>
      <div class="col s9 m10 grey-text text-darken-1" [innerHtml]=cqi.name></div>
      <qddt-version-label class="col s3 m2 right-align" [revisionRef]="cqi"></qddt-version-label>
      <div class="minicol" cdkDragHandle style="width: 2rem; position: relative; cursor: grab;"
        title="Grab...">
        <i class="material-icons" style="display: inline; ">menu</i>
      </div>
    </div>
    <div class="collapsible-body">
      <qddt-preview-element [element]="cqi.element" [showDetail]="false">
      </qddt-preview-element>
    </div>

  </li>
  <li (mouseenter)="showButton = !readonly" (mouseleave)="showButton = false">
    <div class="collapsible-header ">
      <ul class="dropleft" *ngIf="!readonly">
        <li>
          <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
             (click)="onItemNew($event, null)">
            <i class="material-icons tiny" title="insert above">playlist_add</i>
          </a>
        </li>
      </ul>
      <i class="material-icons small teal-text text-lighten-3">vertical_align_top</i>
      <div class="col s12 blue-text text-lighten-1" [innerHtml]="'Add New Element'"></div>

    </div>
  </li>
</ul>
</div>
