<div *ngIf="element" [ngSwitch]="getElementKind(element)" style="color: dimgrey" #preview>
  <div *ngSwitchCase=instanceRefEnum.CONCEPT>
    <qddt-preview-concept [concept]="element"></qddt-preview-concept>
  </div>
  <div *ngSwitchCase=instanceRefEnum.CONDITION_CONSTRUCT>
    <qddt-preview-conditionconstruct [condition]="element" [inParameters]="inParameters" [showDetail]="showDetail">
    </qddt-preview-conditionconstruct>
  </div>
  <div *ngSwitchCase=instanceRefEnum.QUESTION_CONSTRUCT>
    <qddt-preview-questionconstruct [controlConstruct]="element" [inParameters]="inParameters"
      [showDetail]="showDetail">
    </qddt-preview-questionconstruct>
  </div>
  <div *ngSwitchCase=instanceRefEnum.SEQUENCE_CONSTRUCT>
    <span>{{ element?.description }}</span>
    <ul *ngIf="element?.outParameter">
      <li><label>Parameters</label></li>
      <li class="chip" title="Out parameter" *ngFor="let parameter of element.outParameter">
        {{getParam(parameter, '🢨')}} </li>
    </ul>

    <qddt-preview-sequenceconstruct [sequenceConstruct]="element" [inParameters]="element.outParameter"
      [showDetail]="showDetail">
    </qddt-preview-sequenceconstruct>
  </div>
  <div *ngSwitchCase=instanceRefEnum.STATEMENT_CONSTRUCT>
    <qddt-preview-statementconstruct [statement]="element" [inParameters]="inParameters" [showDetail]="showDetail">
    </qddt-preview-statementconstruct>
  </div>
  <div *ngSwitchCase=instanceRefEnum.INSTRUMENT>
    <qddt-preview-instrument [instrument]="element"></qddt-preview-instrument>
  </div>
  <div *ngSwitchCase=instanceRefEnum.PUBLICATION>
    <qddt-preview-publication [publication]="element"></qddt-preview-publication>
  </div>
  <div *ngSwitchCase=instanceRefEnum.QUESTION_GRID>
    <qddt-preview-questionitem-grid [questionItem]="element"></qddt-preview-questionitem-grid>
  </div>
  <div *ngSwitchCase=instanceRefEnum.QUESTION_ITEM>
    <qddt-preview-questionitem [questionItem]="element"></qddt-preview-questionitem>
  </div>
  <div *ngSwitchCase=instanceRefEnum.RESPONSEDOMAIN>
    <qddt-preview-responsedomain [responseDomain]="element">
    </qddt-preview-responsedomain>
  </div>
  <div *ngSwitchCase=instanceRefEnum.STUDY>
    <qddt-preview-study [study]="element"></qddt-preview-study>
  </div>
  <div *ngSwitchCase=instanceRefEnum.SURVEY_PROGRAM>
    <qddt-preview-survey [survey]="element"></qddt-preview-survey>
  </div>
  <div *ngSwitchCase=instanceRefEnum.TOPIC_GROUP>
    <qddt-preview-topic [topic]="element"></qddt-preview-topic>
  </div>
  <div *ngSwitchCase=instanceRefEnum.INSTRUCTION>
    <li class="collection-item" *ngIf="element['description']">
      <p [innerHtml]="element['description']"></p>
    </li>
  </div>
  <!-- <div *ngSwitchCase=instanceRefEnum.STATEMENT_CONSTRUCT>
    <li class="collection-item" *ngIf="element['description']">
      <p [innerHtml]="element['description']"></p>
    </li>
  </div> -->
  <div *ngSwitchDefault>
    <!--CATEGORY = 0,-->
    <!--...-->
    <!--PUBLICATION,-->
    <!--...-->
    <!--INSTRUCTION,-->
    <!--UNIVERSE-->
    <ul class=" grey-text text-darken-3">
      <li class="collection-item"><label>ClassKind</label></li>
      <li class="collection-item">
        <p>{{ element?.classKind }}</p>
      </li>
      <li class="collection-item" *ngIf="element['description']"><label>Description</label></li>
      <li class="collection-item" *ngIf="element['description']">
        <p [innerHtml]="element['description']"></p>
      </li>
      <li class="collection-item">
        <qddt-element-footer [element]="element"></qddt-element-footer>
      </li>
    </ul>

  </div>

  <qddt-download *ngIf="hideElement(element)" [entity]="element" [readonly]="true">
  </qddt-download>

  <ul class="hoverable" *ngIf="showDetail">
    <li (click)="revisionIsVisible=!revisionIsVisible" style="cursor: zoom-in !important;">
      <label>Revisions</label>
    </li>
    <li class="collection-item" *ngIf="revisionIsVisible">
      <qddt-revision [current]="element"> </qddt-revision>
    </li>
  </ul>
</div>
