<div class="row" *ngIf="category">
  <label class="active teal-text">Version: {{category?.version?.major}}.{{category?.version?.minor}}</label>
  <div id="{{category?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="revisionIsVisible = !revisionIsVisible"><i class="material-icons left medium">history</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <h5>{{category?.label}}</h5>
    
      <div class="row">
        <p>{{category?.description}}</p>
      </div>

      <category-edit [isVisible]="true" [category]="category" [categories]="categories"
        (editDetailEvent)="hideDetail()"
        #edit></category-edit>

      <qddt-revision [isVisible]="revisionIsVisible"
        [current]="category"
        [qddtURI]="'audit/category/' + category.id + '/all'"></qddt-revision>

      <div class="row">
        <comment-list [ownerId]="category.id" [comments]="category.comments"></comment-list>
      </div>
    </div>

  </div>
</div>