<div class="row card">
  <ul>
    <li *ngIf="sequence">
      <span [ngSwitch]="sequence.controlConstructKind">
				<span *ngSwitchCase="'SEQUENCE_CONSTRUCT'">Sequence</span>
        <span *ngSwitchCase="'CONDITION_CONSTRUCT'">Condition</span>
        <span *ngSwitchCase="'STATEMENT_CONSTRUCT'">Statement</span>
        <span *ngSwitchCase="'QUESTION_CONSTRUCT'">Question Construct</span>
      </span>
      <a (click)="onSelectedElement(sequence)">{{ sequence?.name }}</a>
    </li>
  </ul>
  <ul class="control-children" *ngIf="sequence">
    <li *ngFor="let item of sequence.children">
    <qddt-sequence-content
      *ngIf="item"
      [sequence]="item">
    </qddt-sequence-content>
    </li>
  </ul>
</div>

<div [attr.id]="'sequence-content-modal'"
  class="modal modal-fixed-footer"
  materialize="modal" [materializeActions]="sequenceContentActions">
  <div class="modal-footer">
    <button
      (click)="false"
      class="btn btn-default red modal-action modal-close waves-effect waves-red">
      <i class="close material-icons">close</i>
    </button>
  </div>
  <div class="modal-content">
    <qddt-preview-controlconstruct [construct]="selectedElement"></qddt-preview-controlconstruct>
  </div>
</div>
