<div class="row card">
  <div class="col s10 black-text">
    <label>Description</label>
    <div [ngClass]="{ noItemFound: (isInstructionNew && instruction.description.length > 0 && instructionList.length === 0) }">
      <qddt-auto-complete
        [items]="instructionList" class="black-text"
        [elementKind]="INSTRUCTION"
        [initialValue]="instruction?.description"
        (selectEvent)="onSelectInstruction($event)"
        (enterEvent)="onSearchInstructions($event)">
      </qddt-auto-complete>
    </div>
  </div>
  <div class="col s2 right">
    <a class="waves-effect waves-light btn" (click)="onAddInstruction()">add</a>
  </div>
</div>
