<div class="row card">
  <ul>
    <li *ngIf="sequence">
      <span [ngSwitch]="sequence.controlConstructKind">
				<span *ngSwitchCase="'SEQUENCE_CONSTRUCT'">Sequence:</span>
        <span *ngSwitchCase="'CONDITION_CONSTRUCT'">Condition:</span>
        <span *ngSwitchCase="'STATEMENT_CONSTRUCT'">Statement:</span>
        <span *ngSwitchCase="'QUESTION_CONSTRUCT'">Question Construct:</span>
      </span> 
      <a (click)="onSelectedElement(sequence)">{{sequence?.name}}</a>
    </li>
  </ul>
  <ul class="control-children" *ngIf="sequence">
    <li *ngFor="let item of sequence.children">
    <qddt-sequence-content 
      *ngIf="item"
      [sequence]="item">
    </qddt-sequence-content>
    </li>
  </ul>
</div>

<div [attr.id]="'sequence-content-modal'"
  class="modal modal-fixed-footer"
  materialize [materializeActions]="sequenceContentActions">
  <div class="modal-footer">
    <button
      (click)="false"
      class="btn btn-default red modal-action modal-close waves-effect waves-red">
      <i class="close material-icons">close</i>
    </button>
  </div>
  <div class="modal-content">
    <div *ngIf="selectedElement">
      <div [ngSwitch]="selectedElement.controlConstructKind">
				<div *ngSwitchCase="'SEQUENCE_CONSTRUCT'"><h2>Sequence:</h2>
          <qddt-sequence-preview [sequence]="selectedElement"></qddt-sequence-preview>
        </div>
        <div *ngSwitchCase="'CONDITION_CONSTRUCT'"><h2>Condition:</h2>
          <qddt-condition-preview [condition]="selectedElement"></qddt-condition-preview>
        </div>
        <div *ngSwitchCase="'STATEMENT_CONSTRUCT'"><h2>Statement:</h2>
          <qddt-statement-preview [statement]="selectedElement"></qddt-statement-preview>
        </div>
        <div *ngSwitchCase="'QUESTION_CONSTRUCT'"><h2>Question Construct:</h2>
          <qddt-control-construct-preview [controlConstruct]="selectedElement">
          </qddt-control-construct-preview>
        </div>
      </div>
    </div>
  </div>
</div>