<div class="row" *ngIf="sequence">
  <label class="active teal-text">Version: <!--
    -->{{sequence?.version?.major}}.<!--
    -->{{sequence?.version?.minor}}
  </label>
  <div id="{{sequence?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium" title="Revision history">history</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <form (ngSubmit)="onUpdateSequence()" #sequenceform="ngForm" card>
        <div class="row">
          <div class="input-field col s12">
            <label [attr.for]="sequence.id + '-name'" class="active teal-text">Name</label>
            <textarea [attr.id]="sequence.id + '-name'"
              name="{{sequence.id}}-name" class="materialize-textarea"
              [(ngModel)]="sequence.name" [attr.maxlength]="255"
              required>
            </textarea>
          </div>
          <div class="input-field col s12">
            <label [attr.for]="sequence.id + '-description'" class="active teal-text">Description</label>
            <textarea [attr.id]="sequence.id + '-description'"
              name="{{sequence.id}}-description" class="materialize-textarea"
              [(ngModel)]="sequence.description" [attr.maxlength]="255">
            </textarea>
          </div>
        </div>

        <div class="row">
          <qddt-sequence-reuse (element)="onGetElement($event)"></qddt-sequence-reuse>
		    </div>

        <div class="row">
          <h5>Sequence content</h5>
          <qddt-sequence-content [sequence]="sequence"></qddt-sequence-content>
        </div>

        <div class="row">
		      <qddt-rational [element]="sequence"></qddt-rational>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <qddt-revision [isVisible]="revisionIsVisible"
        [current]="sequence"
        [qddtURI]="'audit/controlconstruct/' + sequence.id + '/all'">
      </qddt-revision>

      <div class="row">
        <qddt-comment-list [ownerId]="sequence.id" [comments]="sequence.comments"></qddt-comment-list>
      </div>
    </div>

  </div>
</div>

<div [attr.id]="'sequence-modal'"
  class="modal modal-fixed-footer"
  materialize="modal" [materializeActions]="sequenceActions">
  <div class="modal-footer">
    <button
      class="btn btn-default red modal-action modal-close waves-effect waves-red">
      <i class="close material-icons">close</i>
    </button>
  </div>
  <div class="modal-content">
    <h2>Sequence detail</h2>
    <span>error</span>
  </div>
</div>
