<a class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
   (click)="openModal()">
  <i class="material-icons left medium" title="Add QuestionItem to element">playlist_add</i>
</a>
<div class="modal modal-fixed-footer">
  <div class="modal-content white black-text" >
    <qddt-item-revision-select
        [showProgressBar] = "showProgressBar"
        [kind] = "QUESTION"
        [itemList] = "questionList"
        [revisionList] = "revisionResults"
        (searchItems)="onQuestionSearch($event)"
        (searchRevision)="onRevisonSearch($event)"
        (revisionSelected)="onRevisionSelect($event)"
        (dismissEvent) ="onDismiss()">
    </qddt-item-revision-select>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-default red modal-action modal-close waves-effect waves-red" (click)="onDismiss()" >Dismiss</button>
  </div>
</div>
