<div *ngIf="missing">
  <form  #hf="ngForm">
    <div class="row">
      <div class="col s12 input-field">
        <input name="{{formId}}-label" id="{{formId}}-label" type="text" class="validate" required
               [(ngModel)]="missing.label" data-length="255"   minlength="1">
        <label>Label</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 input-field">
        <input name="{{formId}}-name" id="{{formId}}-name" type="text" class="validate" required
               [(ngModel)]="missing.name" data-length="255"   minlength="3">
        <label>Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea validate" required
             data-length="1000" maxlength="1000"
            name="{{formId}}-decs" id ="{{formId}}-desc"
            [(ngModel)]="missing.description" >
        </textarea>
        <label>Description</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4 l2 input-field">
        <input class="validate" id="{{formId}}-name_number" name="{{formId}}-name_number"
           type="number" min="1" max="25"
           [(ngModel)]="missing.children.length" >
        <label for="{{formId}}-name_number"># Missing Codes</label>
      </div>
      <div class="col s8 l10">
        <div class="row"  *ngFor="let cat of missing.children; let idx=index">
          <div class="col s8 input-field">
            <qddt-auto-complete  [formName]="'autocomplete'+idx"
                                 [items]="missingList"
                                 [elementKind]="CATEGORY"
                                 [initialValue]="cat?.label"
                                 (focusEvent)="missingIndex=idx;"
                                 (enterEvent)="onSearchMissing($event)"
                                 (selectEvent)="onSelect($event)">
            </qddt-auto-complete>
          </div>
        </div>
      </div>
    </div>

    <qddt-rational *ngIf="!readonly && missing.id"  [formName]="'RationalComp'" [element]="missing" [config]="{hidden: [4]}"></qddt-rational>

    <qddt-element-footer *ngIf="missing.id" [element]="missing"></qddt-element-footer>

    <div class="row right-align">
      <button  *ngIf="!readonly" type="submit" class="btn btn-default" [disabled]="hf.form.invalid" (click)="onSave()">Submit</button>
    </div>

  </form>
</div>
