<div *ngIf="agency">

  <form id="CAT{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">

    <div class="row">
      <qddt-input class="col s10" required name="name" label="Name" type="text" [(ngModel)]="agency.name"
        data-length="250">
      </qddt-input>
      <qddt-select class="col s2" required name="xmlLang" label="Default Language" [(ngModel)]="agency.xmlLang"
        [lockups]="LANGUAGES">
      </qddt-select>
      <!-- <qddt-element-footer *ngIf="agency.id" [element]="agency"></qddt-element-footer> -->
    </div>
    <qddt-textarea name="description" label="Description" [(ngModel)]="agency.description" data-length="250">
    </qddt-textarea>
    <ul>
      <li class="row" *ngFor="let user of agency._embedded.users">
        <div class="col s3">
          <div class="chip">
            <img *ngIf="user.email" class="gravatar" gravatar [email]="user.email" [size]="32" aria-label="avatar">
            <a [routerLink]="['/user/'+user.id]" [title]="user.username |titlecase">
              {{user.username |titlecase }}
            </a>
          </div>
        </div>
        <div class="col s4">
          <a href="mailto:{{user.email}}">{{user.email}}</a>
        </div>
        <div class=" col s2">{{user.modified | localDate}}</div>
      </li>
      <li class="row" *ngFor="let survey of agency._embedded.surveyPrograms">
        <div class="col s3">
          <a class="teal-text waves-effect waves-teal" [routerLink]="['/survey']">
            <i class="material-icons teal-text left smal">store</i>{{survey.name}}
            V{{survey.version?.major}}.{{survey.version?.minor}}</a>
        </div>
        <div class="col s4">
          <a class="teal-text waves-effect waves-teal" [routerLink]="['/study/'+ survey.id]">
            <i class="material-icons teal-text left smal">looks_one</i>Studies for {{survey.name}} </a>

        </div>

        <div class="col s2">{{survey.modified | localDate}}</div>
      </li>
    </ul>
    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
