<ul class="hoverable"
  (mouseenter)="showButton = !readonly"
  (mouseleave)="showButton = false">
  <li>
    <div class="row" (click)=onShowItems() style="cursor: zoom-in;">
      <div class="col s11"><label>{{labelName}}</label></div>
      <div class="col s1">
        <a [ngClass]="{hide: !showButton}"
          class="btn-flat btn-floating btn-small waves-effect waves-light teal">
          <i class="material-icons" title="Add {{labelName}}">add</i>
        </a>
      </div>
    </div>
  </li>
  <li class="collection-item" *ngIf="showAddItem">
    <div class="row">
      <div class="col s8 text-darken-2">
        <!--<div [ngClass]="{ noItemFound: notFound()  }">-->
          <qddt-auto-complete
            [items]="searchItems" class="text-darken-2"
            [elementKind]="elementKind"
            (selectEvent)="onSelectItem($event)"
            (enterEvent)="onSearchElements($event)">
          </qddt-auto-complete>
        <!--</div>-->
      </div>
      <div class="col s2">
        <a class="waves-effect waves-light btn" (click)="onAddItem()">add</a>
      </div>
    </div>
  </li>
  <li class="collection-item" *ngFor="let element of listItems; let idx=index">
    <div class="row">
      <div class="col s11 text-darken-2">{{ element[searchField] }}</div>
      <div class="col s1">
        <a [ngClass]="{hide: !showButton}"
          class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="onDeleteItem(idx)">
          <i class="material-icons" title="Remove {{labelName}}">remove</i>
        </a>
      </div>
    </div>
  </li>
</ul>
