<div *ngIf="sequence" class="col s12">
  <form [id]="formId" #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <qddt-input class="col s10" required name="name" label="Name" [(ngModel)]="sequence.name" data-length="100">
      </qddt-input>

      <qddt-select class="col s2" required name="xmlLang" label="Language" [(ngModel)]="sequence.xmlLang"
        [lockups]="LANGUAGES">
      </qddt-select>
    </div>

    <qddt-input required name="label" label="Label" [(ngModel)]="sequence.label" data-length="255">
    </qddt-input>

    <qddt-textarea required name="description" label="Description" [(ngModel)]="sequence.description" data-length="255">
    </qddt-textarea>

    <qddt-select required name="SequenceKind" label="SequenceKind" [(ngModel)]="sequence.sequenceKind"
      [lockups]="SEQUENCE_MAP">
    </qddt-select>

    <ng-container *ngIf="sequence.sequence">
      <div class="collection-item"><label>Parameters</label></div>
      <div class="chip" [ngClass]="{'green lighten-5': isParamTrueRef(parameter) }" title="Out parameter"
        *ngFor="let parameter of sequence.outParameter">
        {{getParam(parameter, '🢨')}} - {{parameter.referencedId}}
      </div>
    </ng-container>
    <qddt-element-revision-ref class="row" [readonly]="readonly" [elementRevisions]="sequence.sequence"
      [inParameters]="sequence.outParameter" [xmlLang]="sequence.xmlLang" [selectOptions]="CONSTRUCT"
      (actionEvent)="onDoAction($event)">
    </qddt-element-revision-ref>

    <!--    <qddt-constructs [revisionRefs]="sequence.sequence" [readonly]="readonly" (actionEvent)="onDoAction($event)">-->
    <!--    </qddt-constructs>-->

    <qddt-rational *ngIf="!readonly && sequence.modified" [formName]="'RationalComp'" [element]="sequence"
      [config]="{hidden: [4]}"></qddt-rational>

    <qddt-element-footer *ngIf="sequence.id" [element]="sequence"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>