<div *ngIf="sequence" class="col s12" >
    <form id="{{formId}}" #hf="ngForm" (ngSubmit)="onSave()">
      <div class="row">
        <qddt-input class="col s11"
          required
          name="name"
          label="Name"
          [(ngModel)]="sequence.name"
          data-length="100">
        </qddt-input>
        <qddt-select class="col s1"
          required
          name="xmlLang"
          label="xmlLang"
          [(ngModel)]="sequence.xmlLang"
          [enum]="LANGUAGES" >
        </qddt-select>
      </div>
    <qddt-input
      required
      name="label"
      label="Label"
      [(ngModel)]="sequence.label"
      data-length="255">
    </qddt-input>
    <qddt-textarea
      required
      name="description"
      placeholder="add description"
      label="Description"
      [(ngModel)]="sequence.description"
      data-length="255">
    </qddt-textarea>
    <qddt-select
      required
      name="SequenceKind"
      label="SequenceKind"
      [(ngModel)]="sequence.sequenceKind"
      [enum]="sequenceKinds" >
    </qddt-select>

    <!-- <div class="row">
      <div class="col s4 input-field">
        <select class="validate" name="{{formId}}-sequenceKind" [ngModel]="currentSequenceKind"
          (ngModelChange)="onSelectChange($event)" disabled>
          <option *ngFor="let item of sequenceKinds" [value]="item.id">{{[item.name]}}</option>
        </select>
        <label>SequenceKind</label>
      </div>
    </div> -->


    <qddt-element-revision-collection [elementKind]="QUESTION" [revisionRefs]="sequence.sequence" [labelName]="'Question Constructs'"
      (searchItems)="onSearchElements($event)" >
    </qddt-element-revision-collection>

    <qddt-rational *ngIf="!readonly && sequence.modified" [formName]="'RationalComp'" [element]="sequence"
      [config]="{hidden: [4]}"></qddt-rational>

    <qddt-element-footer *ngIf="sequence.id" [element]="sequence"></qddt-element-footer>

    <div class="row right-align">
        <button *ngIf="!readonly" [disabled]="!hf.form.valid" type="submit" class="btn btn-default">Submit</button>
      </div>

  </form>
</div>
