<div *ngIf="user" >
  <form (ngSubmit)="onSave()" #hf="ngForm">
    <div class="row input-field">
      <input id="name2" name="name2" type="text" class="validate" required [(ngModel)]="user.username"
             data-length="50" materialize="characterCounter">
      <label for="name2">UserName</label>
    </div>
    <div class="row input-field">
      <input id="email" name="email" type="email" class="validate" required [(ngModel)]="user.email"
             data-length="128" materialize="characterCounter">
      <label for="email">Email</label>
    </div>
    <div class="row input-field">
      <input id="agency" name="agency" type="text" class="validate" required [(ngModel)]="user.agency"
             data-length="255" materialize="characterCounter">
      <label for="agency">Agency</label>
    </div>
    <div class="row input-field">
      <input id="authorities" name="authorities" type="text" class="validate" required [(ngModel)]="user.authorities"
             data-length="255" materialize="characterCounter">
      <label for="authorities">Authorities</label>
    </div>
    <div class="row right-align">
      <button type="submit" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
    </div>
  </form>
</div>
