<div class="row" *ngIf="questionitem">
  <label class="active teal-text">Version: {{questionitem?.version?.major}}.{{questionitem?.version?.minor}}</label>
  <div id="{{questionitem?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="revisionIsVisible = !revisionIsVisible"><i class="material-icons left medium">history</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hidDetail()">replay</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
          <i class="material-icons" (click)="onDeleteQuestionItemModal()">delete_forever</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <h5>{{questionitem?.question?.question}}</h5>
    </div>

    <div class="col s10 m10 l10 white grey-text text-darken-1">
      <div class="row">
        <p>{{questionitem?.description}}</p>
      </div>

      <qddt-questionitem-edit [isVisible]="true"
        [editResponseDomain]="true"
        (editQuestionItem)="onEditQuestionItem($event)"
        [questionitem]="questionitem"></qddt-questionitem-edit>

      <qddt-revision [isVisible]="revisionIsVisible"
        [current]="questionitem"
        [qddtURI]="'audit/questionitem/' + questionitem.id + '/all'"
        [config]="config"></qddt-revision>
      
      <div class="row">
        <comment-list [ownerId]="questionitem.id" [comments]="questionitem.comments"></comment-list>
      </div>
    </div>

  </div>
</div>

<div class="modal" materialize [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <span>Are you sure to delete Question item {{questionitem?.question?.question}}?</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>