<div *ngIf="isVisible" class="card white grey-text text-darken-1">
  <div *ngIf="questionitem">
    <qddt-preview-responsedomain *ngIf="privewResponseDomain"
                                 [isVisible]="true" [responseDomain]="privewResponseDomain">
    </qddt-preview-responsedomain>

    <div class="row" *ngIf="questionitem.conceptRefs && questionitem.conceptRefs.length > 0" >
      <div class="hoverable" style="margin: 1%">
        <table class="highlight">
          <caption class="teal-text"  (click)="showRefs = !showRefs" style="cursor: zoom-in;">Used by ({{questionitem.conceptRefs.length}})</caption>
          <thead class="teal-text" >
          <tr><th>Study</th><th>Module</th><th>Concept names</th></tr>
          </thead>
          <tbody *ngIf="showRefs">
          <tr *ngFor="let ref of questionitem.conceptRefs" >
            <td>
              <a  style="cursor: pointer;" (click)="onClickStudy(ref.topicRef.studyRef.id)">{{ref?.topicRef?.studyRef?.name}}</a>
            </td>
            <td>
              <a  style="cursor: pointer;" (click)="onClickTopic(ref.topicRef.id)">{{ref?.topicRef?.name}}</a>
            </td>
            <td>
              <a  style="cursor: pointer;" (click)="onClickConcept(ref.id)">{{ref?.name}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-action">
      <form  (ngSubmit)="onEditQuestionItem()" #hf="ngForm">
        <div class="row">
          <label [attr.for]="questionitem.id + '-question-name'" class="active teal-text">Name</label>
          <input name="{{questionitem?.id}}-question-name" type="text" [(ngModel)]="questionitem.name">
        </div>
        <div class="row">
          <div class="row">
            <div class="col s12">
              <label [attr.for]="questionitem.id + '-question-textarea'" class="active teal-text">Question text</label>
              <textarea id="{{questionitem?.id}}-question-textarea"
                        name="{{questionitem?.id}}-question-textarea" [(ngModel)]="questionitem.question.question"
                        class="materialize-textarea" [attr.maxlength]="1500"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <label [attr.for]="questionitem.id + '-question-intent'" class="active teal-text">Question intent</label>
              <textarea id="{{questionitem?.id}}-question-intent"
                        name="{{questionitem?.id}}-question-intent" [(ngModel)]="questionitem.question.intent"
                        class="materialize-textarea" [attr.maxlength]="1500"></textarea>
            </div>
          </div>
        </div>
        <div *ngIf="editResponseDomain" class="hoverable row">
          <div class="col s6"
               (mouseenter)="showbutton = true"
               (mouseleave)="showbutton = false">
            <div class="row teal-text"><span>Response Domain<span *ngIf="mainResponseDomain && mainResponseDomain.managedRepresentation">
                (V{{mainResponseDomain?.managedRepresentation?.version?.major}}<!--
                -->.{{mainResponseDomain?.managedRepresentation?.version?.minor}})</span></span></div>
            <div class="row">
              <qddt-responsedomain-reuse *ngIf="!mainResponseDomain && !readonly" [ngClass]="{hide: !showbutton}"
                 (ResponseDomainCreatedEvent)="responseDomainReuse($event)">
              </qddt-responsedomain-reuse>
              <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                 [ngClass]="{hide: !showbutton}"
                 (click)="onRemoveResponsedomain(questionitem)">
                <i class="material-icons left medium" title="remove response domain">remove</i>
              </a>
              <span *ngIf="mainResponseDomain">{{mainResponseDomain?.name}}</span>
            </div>
          </div>
          <div class="col s6">
            <div name="edit-missing-responsedomain" *ngIf="editResponseDomain" class="row">
              <qddt-questionitem-edit-missing [missing]="secondCS"
                                              [readonly]="readonly"
                                              [mainResponseDomain]="mainResponseDomain"
                                              (editMissing)="onEditMissing($event)"></qddt-questionitem-edit-missing>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!readonly">
          <qddt-rational [element]="questionitem"></qddt-rational>
        </div>
        <div class="row">
          <qddt-element-footer [element]="questionitem" [type]="'questionitem'"
                                (BasedonObjectDetail)="onBasedonObjectDetail($event)"></qddt-element-footer>
        </div>
        <div class="row right-align">
          <button *ngIf="!readonly" type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>

    <!--<div class="modal modal-fixed-footer"-->
         <!--materialize="modal" [materializeActions]="editResponseDomainActions">-->
      <!--<div class="modal-content" *ngIf="editResponseDomain">-->
        <!--<div *ngIf="showResponseDomainForm" class="row">-->
          <!--<qddt-responsedomain-reuse [isVisible]="showResponseDomainForm"-->
                                     <!--[responseDomain]="mainResponseDomain"-->
                                     <!--(responseDomainReuse)="responseDomainReuse($event)">-->
          <!--</qddt-responsedomain-reuse>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button-->
          <!--class="btn btn-default red modal-action modal-close waves-effect waves-red">-->
          <!--<a><i class="close material-icons medium white-text">close</i></a>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

<div [attr.id]="'usedby-detail-modal'" class="modal modal-fixed-footer"
     materialize="modal" [materializeActions]="usedbyModalAction">
  <div class="modal-content" *ngIf="selectedElement">
    <h5 align="center">Preview of {{selectedElement.name}}</h5>
    <qddt-preview-concept *ngIf="selectedType === 'concept'" [concept]="selectedElement"></qddt-preview-concept>
    <qddt-preview-topic *ngIf="selectedType === 'topic'" [topic]="selectedElement"></qddt-preview-topic>
    <qddt-preview-study *ngIf="selectedType === 'study'" [study]="selectedElement"></qddt-preview-study>
  </div>
  <div class="modal-footer">
    <button id="concept-modal-close"
            class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>


