<div class="row" *ngIf="questionitem">
  <label class="active teal-text">Version: {{questionitem?.version?.major}}.{{questionitem?.version?.minor}}</label>
  <div id="{{questionitem?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="revisionIsVisible = !revisionIsVisible"><i class="material-icons left medium">history</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hidDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <h5>{{questionitem?.question?.question}}</h5>
    </div>

    <div class="col s10 m10 l10 white grey-text text-darken-1">
      <div class="row">
        <p>{{questionitem?.description}}</p>
      </div>

      <div class="row card" *ngIf="questionitem.conceptRefs && questionitem.conceptRefs.length > 0" >
        <div class="red-text">
          <h5>Used by:</h5>
        </div>
        <table class="striped">
        <thead>
          <tr><th>Study</th><th>Module</th><th>Question Item Version</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let ref of questionitem.conceptRefs" >
            <td>
              <a [ngStyle]="{'text-decoration': 'underline'}" (click)="onClickStudy(ref.topicRef.studyRef.id)">
                {{ref?.topicRef?.studyRef?.name}}
              </a>
            </td>
            <td>
              <a [ngStyle]="{'text-decoration': 'underline'}" (click)="onClickTopic(ref.topicRef.id)">
                {{ref?.topicRef?.name}}
              </a>
            </td>
            <td>
              <a [ngStyle]="{'text-decoration': 'underline'}" (click)="onClickQuestion(questionitem.id)">
                {{questionitem?.version?.major}}.{{questionitem?.version?.minor}}
              </a>
            </td>
          </tr>
        </tbody>
        </table>
      </div>

      <qddt-questionitem-edit [isVisible]="true"
        [editResponseDomain]="true"
        (editQuestionItem)="onEditQuestionItem($event)"
        [questionitem]="questionitem"></qddt-questionitem-edit>

      <qddt-revision [isVisible]="revisionIsVisible"
        [qddtURI]="'audit/questionitem/' + questionitem.id + '/all'"
        [config]="config"></qddt-revision>
      
      <div class="row">
        <comment-list [ownerId]="questionitem.id"></comment-list>
      </div>
    </div>

  </div>
</div>

<div [attr.id]="'study-detail-readonly-modal'" class="modal modal-fixed-footer"
  materialize [materializeActions]="studyActions">
  <div class="modal-content">
    <div class="row" *ngIf="selectedId && selectedType === 'study'">
      <qddt-study-usedby [id]="selectedId">
      </qddt-study-usedby>
    </div>
    <div class="row" *ngIf="selectedId && selectedType === 'topic'">
      <qddt-topic-usedby [id]="selectedId">
      </qddt-topic-usedby>
    </div>
    <div class="row" *ngIf="selectedId && selectedType === 'question'">
      <qddt-question-usedby [id]="selectedId">
      </qddt-question-usedby>
    </div>
  </div>
  <div class="modal-footer">
    <button id="controlConstructs-modal-close"
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>