<div class="row" *ngIf="questionitem">
  <div id="{{questionitem?.id}}" class="scrollspy">

    <div class="col s1">
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="revisionIsVisible = !revisionIsVisible"><i class="material-icons left medium" title="Revision history">history</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
          <i class="material-icons" (click)="onDeleteQuestionItemModal()" title="Delete" >delete_forever</i>
        </a>
      </div>
    </div>

    <div class="col s9 m9 l9 grey-text text-darken-2">
      <div class="flow-text">{{questionitem?.question?.question}}</div>
    </div>

    <div class="col s1">
      <label class="active teal-text text-align: right">Version: {{questionitem?.version?.major}}.{{questionitem?.version?.minor}}
        <i *ngIf="questionitem.workinprogress"
           class="material-icons white yellow-text tiny">
          error
        </i>
      </label>
    </div>

    <div class="col s10 m10 l10 white grey-text text-darken-1">
      <div class="row">
        <p>{{questionitem?.description}}</p>
      </div>

      <qddt-questionitem-edit [isVisible]="true"
        [editResponseDomain]="true"
        (editQuestionItem)="onEditQuestionItem($event)"
        [questionitem]="questionitem"></qddt-questionitem-edit>

      <qddt-revision [isVisible]="revisionIsVisible"
        [current]="questionitem"
        [qddtURI]="'audit/questionitem/' + questionitem.id + '/all'"
        [config]="config"></qddt-revision>

      <div class="row">
        <qddt-comment-list [ownerId]="questionitem.id" [comments]="questionitem.comments"></qddt-comment-list>
      </div>
    </div>

  </div>
</div>

<div class="modal" materialize="modal" [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <div *ngIf="candelete > 1" class="progress"><div class="indeterminate"></div></div>
      <span *ngIf="candelete === 1">Are you sure to delete Question item {{questionitem?.question?.question}}?</span>
      <span *ngIf="candelete === 0">Please detach question item from module/concept and question construct before deleting!</span>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="candelete === 1"
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
