<div class="row" cdkDropList cdkDrop [cdkDropListData]="treeNodes" (cdkDropListDropped)="onItemDrop($event)">

  <ng-container>
    <!-- <qddt-parameter [outParameters]="treeNodes.parameters" [showParameters]="false"></qddt-parameter> -->
    <ng-container *ngTemplateOutlet="treeNodesImpl; context:{ nodes: treeNodes, level:1 }"></ng-container>

    <ng-template #treeNodesImpl let-nodes="nodes" let-level="level">
      <ul *ngIf="nodes" class="collapsible" data-collapsible="accordion">
        <li *ngFor="let node of nodes; trackBy:trackById;" (click)="onOpenBody(node)" cdkDrag>
          <div class="collapsible-header">
            <ul class="dropleft" *ngIf="!readonly && level==1">
              <li>
                <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 green"
                  (click)="onItemEdit($event, node)">
                  <i class="material-icons tiny" title="Edit selected">edit</i>
                </a>
              </li>
              <li>
                <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 blue"
                  (click)="onItemUpdate($event, node)">
                  <i class="material-icons tiny" title="update selected">sync</i>
                </a>
              </li>
              <li>
                <a class="btn-flat btn-floating btn-small waves-effect waves-light lighten-2 red"
                  (click)="onItemRemove($event, node)">
                  <i class="material-icons tiny" title="Remove selected">remove</i>
                </a>
              </li>
            </ul>
            <i *ngIf="showIcon"
              class="material-icons small teal-text text-lighten-3">{{getMatIcon(node.elementKind)}}</i>
            <div class="col s9 m10 grey-text text-darken-1" [innerHtml]=node.name></div>
            <qddt-version-label class="col s3 m2 right-align" [revisionRef]="node"></qddt-version-label>
            <div *ngIf="level==1" class="minicol" cdkDragHandle style="width: 2rem; position: relative; cursor: grab;"
              title="Grab...">
              <i class="material-icons blue-text text-lighten-2" style=" display: inline; ">reorder</i>
            </div>
          </div>
          <div class="collapsible-body">
            <ng-container *ngIf="isSequence(node)">
              <label>Description</label>
              <span>{{node.element?.description}}</span>
            </ng-container>
            <qddt-preview-element *ngIf="!isSequence(node)" [element]="node.element" [showDetail]="false"
              [inParameters]="inParameters">
            </qddt-preview-element>
          </div>
          <ng-container *ngTemplateOutlet="treeNodesImpl; context:{ nodes: node.children, level:level+1 }">
          </ng-container>
        </li>
        <li *ngIf="level==1">
          <div class="collapsible-header " (click)="onItemNew($event)">
            <i class="material-icons small teal-text text-lighten-3">vertical_align_top</i>
            <div class="col s12 blue-text text-lighten-2" [innerHtml]="'Add New Element'"></div>
          </div>
        </li>
      </ul>
    </ng-template>
  </ng-container>
</div>

<!-- Modal Structure -->
<div id="MODAL-{{modalId}}" class="modal modal-fixed-footer">
  <div class="modal-content">

    <h4>Select construct</h4>
    <span class="teal-text">Construct Type</span>
    <div class="row">
      <div class="col left" *ngFor="let element of selectOptions">
        <label>
          <input name="DOMAIN-TYPE-GROUP" type="radio" (click)="onSelectElementKind(element.id)"
            [checked]="selectedElementKind === element.id" />
          <span>{{ element.label }}</span>
        </label>
      </div>
    </div>
    <qddt-element-revision-select [source]="SOURCE" [xmlLang]="xmlLang"
      (revisionSelectedEvent)="revisionSelectedEvent($event)" (dismissEvent)="onDismiss()">
    </qddt-element-revision-select>
  </div>
  <div class="modal-footer">
    <a class="btn red waves-effect waves-red" (click)="onDismiss($event)">Dismiss</a>
  </div>
</div>
