<div *ngIf="topic" class="col s12 m9">
  <div class="card-panel row white-text teal">
    <i class="material-icons large right">looks_3</i>
    <h4>Concepts for {{ topic.name }}</h4>
    <a *ngIf="!topic.archived && canCreate" class="btn" (click)="showConceptForm = !showConceptForm; showReuse=false">
      <i class="material-icons right" *ngIf="!showConceptForm">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="showConceptForm">keyboard_arrow_up</i>
      New
    </a>
    <a *ngIf="!topic.archived && canCreate" class="btn" (click)="showReuse = !showReuse; showConceptForm=false">
      <i class="material-icons right" *ngIf="!showReuse">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="showReuse">keyboard_arrow_up</i>
      reuse
    </a>
    <qddt-copy-select *ngIf="showReuse" [parentId]="topic.id" [elementKind]="CONCEPT" (dismissEvent)="showReuse=false;"
      (itemSelected)="onSelectedRevision($event)">
    </qddt-copy-select>

    <div *ngIf="showConceptForm">
      <div class="row card-action">
        <div class="col s10 offset-s1">
          <form #hf="ngForm">
            <div class="row input-field">
              <input name="name" class="white-text" type="text" ngModel required data-length="100">
              <label class="white-text">Name</label>
            </div>
            <div class="row input-field white-text">
              <textarea name="description" class="materialize-textarea white-text" ngModel required
                data-length="10000"></textarea>
              <label class="white-text">Description</label>
            </div>
            <div class="row right-align">
              <button type="button" (click)="onNewSave(hf.value)" class="btn btn-default"
                [disabled]="!hf.form.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showProgressBar" class="progress">
    <div class="indeterminate"></div>
  </div>

  <qddt-concept-treenode *ngFor="let child of topic.concepts" [concept]="child" (deleteEvent)="onDeleteConcept($event)"
    (updatedEvent)="onConceptUpdated($event)">
  </qddt-concept-treenode>
</div>

<div *ngIf="topic" class="col m3 hide-on-small-only ">
  <qddt-concept-toc [topic]="topic" (hierarchyChanged)="onHierarchyChanged($event)"></qddt-concept-toc>
</div>

<div class="modal" #modalconceptdelete>
  <div class="modal-content">
    <h4>Warning!</h4>
    <div class="row" *ngIf="canDelete(toDeletedConcept)">
      <span>Are you sure you want to delete Concept [{{ toDeletedConcept?.name }}]?</span>
    </div>
    <div class="row" *ngIf="!canDelete(toDeletedConcept)">
      <span>Please delete all question items of Concept [{{ toDeletedConcept?.name }}] first.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="canDelete(toDeletedConcept)" class="btn green waves-effect" (click)="onConfirmDeleteConcept()">
      <a><i class="material-icons medium white-text">done</i></a>
    </button>
    <button class="btn btn-default red waves-effect" (click)="onCancel()">
      <a><i class="material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
