
.card {
  padding-right: 20pt;
}

.tree-children { padding-left: 5px; }
.tree-node {
  border: solid green;
}
:host /deep/ .collection-item .row {
  min-height: 3rem;
  margin-bottom: 0px;
  border-bottom: none;
}
.collection .collection-item {
  border-bottom: none;
}
.collection.with-header .collection-header {
  border-bottom: none;
  padding: 0px;
}
.collection {
  border: none;
}
