<div class="row">
  <div class="col s12 m9">
    <div class="card white white-text text-lighten-2">
      <div class="row teal z-depth-1" style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
        <i class="material-icons large right">store</i><h4>Concepts for {{ topic?.name }}</h4>

        <a class="btn" (click)="onToggleConceptForm()" *ngIf="!topic.archived && !readonly">
          <i class="material-icons right" *ngIf="!showConceptForm">keyboard_arrow_down</i>
          <i class="material-icons right" *ngIf="showConceptForm">keyboard_arrow_up</i>
          New</a>
        <a class="btn" (click)="onToggleReuse()" *ngIf="!topic.archived && !readonly">
          <i class="material-icons right" *ngIf="!showReuse">keyboard_arrow_down</i>
          <i class="material-icons right" *ngIf="showReuse">keyboard_arrow_up</i>
          reuse</a>

        <qddt-copy-select
          *ngIf="showReuse"
          [parentId]="topic.id"
          [elementKind]="conceptKind"
          (dismissEvent)="showReuse=false;"
          (itemSelected)="onSelectedRevsion($event)">
        </qddt-copy-select>

        <div *ngIf="showConceptForm">
          <div class="row card-action">
            <div class="col s10 offset-s1">
              <form #hf="ngForm">
                <div class="row input-field">
                  <input id="name" name="name" type="text" [(ngModel)]="concept.name" required>
                  <label for="name" class="white-text">Name</label>
                </div>
                <div class="row input-field">
                  <textarea id="description" name="description" class="materialize-textarea"
                            [(ngModel)]="concept.description" required ></textarea>
                  <label for="description" class="white-text">Description</label>
                </div>
                <div class="row right-align">
                  <button type="button" (click)="onNewSave()" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showProgressBar" class="progress">
        <div class="indeterminate"></div>
      </div>
      <div *ngIf="concepts">
         <qddt-concept-treenode *ngFor="let child of concepts"
            [concept]="child"
            [readonly]="child.archived || readonly"
            (deleteEvent)="onDeleteConcept($event)"
            (updatedEvent)="onConceptUpdated($event)">
         </qddt-concept-treenode>
      </div>
    </div>
  </div>

  <div class="col hide-on-small-only m3">
    <div style="height: 800px; overflow-y: auto;" class="row toc-wrapper pinned">
      <h5>Concept Toc</h5>
      <ul class="section table-of-contents">
        <li><a href="concept#topMenu">To the top </a> </li>
        <qddt-concept-toc [concepts]="concepts" [level]="0" (conceptMoved)="onMoveConcept($event)"></qddt-concept-toc>
      </ul>
    </div>
  </div>

  <div id="'delete-concept-modal'" class="modal"
       materialize="modal" [materializeActions]="confirmDeleteActions">
    <div class="modal-content">
      <h4>Warning!</h4>
      <div class="row" *ngIf="toDeletedConcept && toDeletedConcept.conceptQuestionItems && toDeletedConcept.conceptQuestionItems.length === 0">
        <span>Are you sure you want to delete Concept [{{ toDeletedConcept?.name }}]?</span>
      </div>
      <div class="row" *ngIf="toDeletedConcept && toDeletedConcept.conceptQuestionItems && toDeletedConcept.conceptQuestionItems.length > 0">
        <span>Please delete all question items of Concept [{{ toDeletedConcept?.name }}] first.</span>
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="toDeletedConcept && toDeletedConcept.conceptQuestionItems && toDeletedConcept.conceptQuestionItems.length === 0"
        (click)="onConfirmDeleteConcept()"
        class="btn btn-default green waves-green modal-close waves-effect">
        <a><i class="material-icons left medium white-text">check</i></a>
      </button>
      <button id="concept-modal-close"
        class="btn btn-default red modal-action modal-close waves-effect">
        <a><i class="close material-icons medium white-text">close</i></a>
      </button>
    </div>
  </div>
</div>
