<ng-container>
  <ng-container *ngTemplateOutlet="conceptTemplateRef; context:{ children: concepts, level:1 }"></ng-container>

  <ng-template #conceptTemplateRef let-concepts="children" let-level="level">
    <ul *ngIf="concepts">
      <li *ngFor="let concept of concepts; trackBy:trackByIndex;" class="scrollspy" [id]="concept.id">
        <div class="card section row grey-text text-darken-2" [ngClass]="{'editGreen': edit.isVisible}"
          style="margin-left: -0.6rem;">
          <div class="col s1">
            <ul class="dropdownmenu">
              <li *ngIf="canUpdate && !(concept.isArchived)">
                <a class="btn-flat btn-floating btn-medium  green lighten-2" (click)="onToggleEdit(edit,concept)">
                  <i class="material-icons" title="Edit Concept">mode_edit</i></a>
              </li>
              <li *ngIf="!edit.isVisible">
                <a class="btn-flat btn-floating btn-medium  blue lighten-2"
                  (click)="edit.showRevision = !edit.showRevision">
                  <i class="material-icons" title="Revision history">history</i></a>
              </li>
              <li *ngIf="canUpdate && !(concept.isArchived) && !edit.isVisible">
                <a class="btn-flat btn-floating btn-medium  teal" (click)="edit.showNew=!edit.showNew">
                  <i class="material-icons" title="Add sub concept">add</i></a>
              </li>
              <li *ngIf="canDelete && !(concept.isArchived) && !edit.isVisible">
                <a class="btn-flat btn-floating btn-medium red lighten-2" (click)="onDeleteConcept(concept)">
                  <i class="material-icons" title="Delete">delete_forever</i></a>
              </li>
            </ul>
          </div>
          <div class="col s10">
            <div class="row">
              <div class="col s10">
                <h5>{{ concept.name }}</h5>
                {{ concept.label }}
              </div>
              <div class="col s2">
                <qddt-version-label class="right" [element]="concept"></qddt-version-label>
              </div>
            </div>

            <div *ngIf="edit.showNew" class="col s12">
              <form #hf="ngForm">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">Add Concept</span>
                    <div class="row">
                      <qddt-input class="col s10" name="name" label="Name" required ngModel data-length="100">
                      </qddt-input>
                      <qddt-select class="col s2" name="xmlLang" label="Language" [lockups]="LANGUAGES" required
                        ngModel>
                      </qddt-select>
                      <qddt-textarea class="col s12" name="description" label="Description" required ngModel
                        data-length="10000">
                      </qddt-textarea>
                    </div>
                  </div>
                  <div class="card-action right-align">
                    <button type="button" (click)="onChildSave(hf.value, concept); edit.showNew=false;"
                      class="btn btn-default " [disabled]="!hf.form.valid">submit</button>
                  </div>
                </div>
              </form>

            </div>

            <qddt-concept-edit [concept]="concept" #edit (conceptChanged)="onConceptUpdated($event)">
            </qddt-concept-edit>

            <ng-container *ngIf="!edit.isVisible">
              <p [innerHtml]="concept?.description"></p>

              <qddt-question-items [revisionRefs]="concept.questionItems" [readonly]="concept.isArchived || !canUpdate"
                [xmlLang]="concept.xmlLang" (createdEvent)="onQuestionItemAdded($event,concept)"
                (deletedEvent)="onQuestionItemRemoved($event,concept)"
                (modifiedEvent)="onQuestionItemModified($event,concept)">
              </qddt-question-items>

              <qddt-author-chip [authors]="concept.authors||concept._embedded?.authors" ></qddt-author-chip>

              <qddt-download [entity]="concept" [readonly]="true"></qddt-download>

              <qddt-comment-list [ownerId]="concept.id" [comments]="concept._embedded?.comments">
              </qddt-comment-list>
              <qddt-revision *ngIf="edit.showRevision" [current]="concept"></qddt-revision>

            </ng-container>

          </div>
        </div>
        <ng-container *ngTemplateOutlet="conceptTemplateRef; context:{ children: subConcepts(concept), level:level+1 }">
        </ng-container>
      </li>
    </ul>
  </ng-template>
</ng-container>
