<div class="row" *ngIf="questionitem">
  <div class="row">
    <div class="col s10">
      <label class="active teal-text flow-text">Version: {{questionitem?.version?.major}}.{{questionitem?.version?.minor}}</label>
    </div>
  </div>
  <div id="{{questionitem?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="revisionIsVisible = !revisionIsVisible"><i class="material-icons left medium">history</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal" (click)="conceptIsVisible = !conceptIsVisible">
          <i class="material-icons left medium">toll</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hidDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <h5>{{questionitem?.question?.question}}</h5>
    </div>

    <div class="col s10 m10 l10 white grey-text text-darken-1">
      <div class="row">
        <p>{{questionitem?.description}}</p>
      </div>

      <qddt-questionitem-edit [isVisible]="true"
        [editResponseDomain]="true"
        (editQuestionItem)="onEditQuestionItem($event)"
        [questionitem]="questionitem"></qddt-questionitem-edit>
      <div class="row card" *ngIf="conceptIsVisible">
        <table class="highlight">
          <thead>
            <tr>
              <th>Detail</th>
              <th>Concept Names</th>
            </tr>
          </thead>
          <tbody>
            <tr id="{{row.id}}" *ngFor="#row of concepts">
              <td [ngStyle]="{'cursor': 'pointer'}">
                <a materialize="leanModal" [materializeParams]="[{dismissible: false}]"
                  class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                 [attr.href]="'#' + row.id + '-concept-modal'">
                 <i class="material-icons left smal">search</i></a>
              </td>
              <td>{{row?.name}}</td>
              <div [attr.id]="row.id + '-concept-modal'" class="modal">
                <div class="modal-content">
                   <h4>Concept {{row?.name}}</h4>
                   <treenode [concept]="row"></treenode>
                </div>
                <div class="modal-footer">
                   <button id="concept-modal-close"
                    class="btn btn-default red modal-action modal-close waves-effect waves-red">Dismiss</button>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>

      <qddt-revision [isVisible]="revisionIsVisible"
        [qddtURI]="'audit/questionitem/' + questionitem.id + '/all'"></qddt-revision>
      <qddt-responsedomain-preview *ngIf="questionitem.responseDomain"
        [isVisible]="true" [responseDomain]="questionitem.responseDomain"
        #preview></qddt-responsedomain-preview>
      <div class="row">
        <comment-list [ownerId]="questionitem.id"></comment-list>
      </div>
    </div>

  </div>
</div>
