<div *ngIf="user" >
  <form #hf="ngForm" (ngSubmit)="onSave()">
    <div class="row">
      <div class="col m6">
  
        <div class="row input-field">
          <input id="{{formId}}-name2"  type="text" class="validate" required [(ngModel)]="user.name" name="name"
                data-length="25" materialize="characterCounter">
          <label for="{{formId}}-name2">Name</label>
        </div>

        <div class="input-field row ">
          <input id="{{formId}}-email"  type="email" class="validate" required [(ngModel)]="user.email" name="email"
                data-length="128" materialize="characterCounter">
          <label for="{{formId}}-email">Email </label>
        </div>
          <div class=" input-field row">
          <select materialize="material_select" name="agency" id="{{formId}}-agency" class="validate" required
            [materializeSelectOptions]="agencies" [(ngModel)]="selectedAgencyId" (ngModelChange)="onSelectChange($event)">
              <option *ngFor="let agency of agencies" [value]="agency.id" >{{agency.name}}</option>
          </select>
          <label for="{{formId}}-agency">Agency</label>
        </div>
      </div>
      <div class="col m3 offset-m1">
        <label>Authority </label>
        <div  *ngIf="user.authority?.id"  class="card-action">
          <div  *ngFor="let authority of authorities">
            <input name="authoritiesGroup" type="radio" id="authorities{{authority.id}}" 
              (click)="onSelectRadio(authority.id)" [checked]="user.authority.id === authority.id"/> 
            <label for="authorities{{authority.id}}">{{ authority?.name }}</label>
          </div>
        </div>
        <!-- <P></P> -->
        <div class="row ">
          <div class="switch">
            <label>
              <input type="checkbox"  name="enabled" [(ngModel)]="user.enabled" />
              <span class="lever"></span>Enabled
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">{{user|json}}</div> -->
    <div class="row right-align">
        <button  *ngIf="!readonly" type="submit" class="btn btn-default" [disabled]="!hf.form.valid" >Submit</button>
    </div>
  </form>
</div>
