<div class="row" *ngIf="controlConstruct">
  <div id="{{controlConstruct?.id}}" class="scrollspy">

    <div class="fixed-action-btn vertical click-to-toggle">
      <a class="btn-floating btn-large cyan"><i class="large material-icons">menu</i></a>
      <ul>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light blue" (click)="revisionIsVisible = !revisionIsVisible"
          href="constructs#scrollRevision">
            <i class="material-icons left medium" title="Revision history">history</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="onDeleteControlConstructModal()" title="Delete" >delete_forever</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light orange darken-1">
          <i class="material-icons" (click)="onGetPdf(controlConstruct)" title="Get as Pdf">picture_as_pdf</i>
        </a></li>
        <li><a class="btn-flat btn-floating btn-medium waves-effect waves-light green darken-1">
          <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
        </a></li>
      </ul>
    </div>

    <div class="col s1">
      <a class="btn-flat btn-floating btn-medium waves-effect waves-light  green darken-1">
        <i class="material-icons" (click)="hideDetail()" title="Return to list view">replay</i>
      </a>
    </div>

    <div class="col s10 grey-text text-darken-2">
      <qddt-control-construct-form
        [controlConstruct]="controlConstruct"
        (exceptionEvent)="onExceptionEvent($event)"
        (controlConstructSavedAction)="onccSaveAction($event)">
      </qddt-control-construct-form>

      <qddt-revision *ngIf="revisionIsVisible"
        [current]="controlConstruct"
        [config]="config"
        [qddtURI]="'audit/controlconstruct/' + controlConstruct.id + '/all'">
      </qddt-revision>
     

      <qddt-comment-list
        [ownerId]="controlConstruct.id"
        [comments]="controlConstruct.comments">
      </qddt-comment-list>

    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeActions]="deleteAction">
  <div class="modal-content">
    <div class="row">
      <h4>Warning</h4>
      <span>Are you sure you want to delete Control Construct {{ controlConstruct?.name }}?</span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onConfirmDeleting()"
      class="btn btn-default green modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">done</i></a>
    </button>
    <button
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
