<div *ngIf="controlConstruct">
  <form #qcform="ngForm" materialize="">
    <div class="row input-field">
      <input id="{{formId}}-name" name="{{formId}}-name" type="text" class="validate" required
             [(ngModel)]="controlConstruct.name"
             materialize="characterCounter" data-length="255">
      <label for="{{formId}}-name" class="active" >Name</label>
    </div>

    <qddt-collection-search-select
        [listItems] = "controlConstruct.universe"
        [searchItems]="universeList"
        [elementKind]="UNIVERSE"
        (selectEvent)="onAddUniverse($event)"
        (searchEvent)="onUniverseSearch($event)">
    </qddt-collection-search-select>

    <ul class="hoverable"
        (mouseenter)="showFilebutton = !readonly"
        (mouseleave)="showFilebutton = false">
      <li>
        <div class="row" (click)="showUploadFileForm=!showUploadFileForm" style="cursor: zoom-in;">
          <div class="col s11"><label >External aid</label></div>
          <div class="col s1">
            <a [ngClass]="{hide: !showFilebutton}"
               class="btn-flat btn-floating btn-small waves-effect waves-light teal">
              <i class="material-icons" title="Attach external aid (File Upload)">add</i>
            </a>
          </div>
        </div>
      </li>
      <div class="row" *ngIf="showUploadFileForm && !readonly">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" (change)="onSelectFile($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one file">
          </div>
        </div>
        <a *ngIf="files" class="btn-flat right btn-floating btn-medium waves-effect waves-light teal"
           (click)="onUploadFile()">
          <i class="material-icons left medium">done</i>
        </a>
      </div>
      <li *ngFor="let m of controlConstruct.otherMaterials; let idx=index;">
        <div class="row" style="min-height:3rem">
          <div class="col s10">
            <a class="waves-effect waves-light" (click)="onDownloadFile(m)">
              <i class="material-icons center smal">description</i>
              {{ m.originalName }}</a>
          </div>
          <div class="col s1 right" >
            <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
               [ngClass]="{hide: !showFilebutton}"
               (click)="onDeleteFile(idx)">
              <i class="material-icons left medium" title="Delete" >delete_forever</i>
            </a>
          </div>
        </div>
      </li>
      <li *ngFor="let file of fileStore; let idx=index;">
        <div class="row">
          <div class="col s11 m5">
            <a class="waves-effect waves-light"><i class="material-icons center smal">description</i>{{ file[0]?.name }}</a>
          </div>
          <div class="col s1 right" style="min-height:3rem">
            <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
               [ngClass]="{hide: !file.showbutton}"
               (click)="onDeleteFileFromLocal(idx)">
              <i class="material-icons left medium" title="Delete" >delete_forever</i>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <qddt-collection-search-select
      [listItems] = "controlConstruct.preInstructions"
      [searchItems]="instructionList"
      [labelName]="'Pre Instructions'"
      [elementKind]="INSTRUCTION"
      (selectEvent)="onAddPreInstruction($event)"
      (searchEvent)="onInstructionSearch($event)">
    </qddt-collection-search-select>


    <div class="hoverable"
         (mouseenter)="showQuestionButton = !readonly"
         (mouseleave)="showQuestionButton = false">
      <div class="row" (click)="editQuestoinItem = !editQuestoinItem; savedQuestionItem=controlConstruct.questionItem;" style="cursor: zoom-in;">
        <div class="col s11">
          <label >
            Question Text (Version <qddt-version [element]="controlConstruct?.questionItem"></qddt-version>)
          </label>
        </div>
        <div class="col s1" [ngClass]="{hide: !showQuestionButton}">

 <!--          <qddt-questionitem-reuse
            [parentId]="controlConstruct?.id"
            (createdEvent)="onSelectQuestionItem($event)">
          </qddt-questionitem-reuse> -->

        </div>
      </div>
      <div class="row">
        <div class="col s11">
          <div class="flow-text">{{ controlConstruct?.questionItem?.question }}</div>
        </div>
        <div class="col s1">
          <a [ngClass]="{hide: !showQuestionButton}"
             class="btn-flat btn-floating btn-small waves-effect waves-light teal"
             (click)="onRemoveQuestoinItem()">
            <i class="material-icons" title="Remove QuestionItem">remove</i>
          </a>
        </div>
      </div>

    </div>

    <qddt-collection-search-select
      [listItems] = "controlConstruct.postInstructions"
      [searchItems]="instructionList"
      [labelName]="'Post Instructions'"
      [elementKind]="INSTRUCTION"
      (selectEvent)="onAddPostInstruction($event)"
      (searchEvent)="onInstructionSearch($event)">
    </qddt-collection-search-select>

    <qddt-preview-responsedomain
      *ngIf="controlConstruct.questionItem && controlConstruct.questionItem.responseDomain"
      [responseDomain]="controlConstruct.questionItem.responseDomain">
    </qddt-preview-responsedomain>

    <qddt-conceptref [element]="controlConstruct.questionItem"></qddt-conceptref>

    <qddt-rational [formName]="'RationalComp'" *ngIf="!readonly && controlConstruct.id" [element]="controlConstruct" [config]="{hidden: [3,4]}">
    </qddt-rational>

    <qddt-element-footer *ngIf="controlConstruct.id" [element]="controlConstruct"></qddt-element-footer>

    <div class="row right-align">
      <button *ngIf="!readonly" type="button" class="btn btn-default" [disabled]="!qcform.form.valid"
              (click)="onSaveControlConstruct()">Submit</button>
    </div>
  </form>

</div>
