<div *ngIf="rows" class="row">
  <div class="card white grey-text text-darken-1">
    <div class="input-field row">
      <input id="filterKey" type="text" (keyup)="enterText($event)">
      <label for="filterKey">Search</label>
    </div>
    <table class="highlight">
      <thead>
        <tr>
          <th>Detail</th>
          <th *ngFor="#column of columns">{{column.label}}
            <span *ngIf="column.sortable" (click)="sortRows(column)">
              <i class="material-icons left smal">swap_vert</i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="{{row.id}}" *ngFor="#row of rows" (dblclick)="onDetail(row.Object)">
          <td (click)="onDetail(row.Object)" [ngStyle]="{'cursor': 'pointer'}">
            <a><i class="material-icons left smal">search</i></a>
          </td>
          <td *ngFor="#column of columns">{{row[column.label]}}</td>
        </tr>
      </tbody>
    </table>
    <qddt-pagination
      [collectionSize]="page.totalElements"
      [page]="page.number"
      [pageSize]="page.size"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="pageChange($event)"></qddt-pagination>
  </div>
</div>
