<div class="hoverable row" (mouseenter)="showbutton = !readonly" (mouseleave)="showbutton = false">
      <div class="col s7">
        <div class="row">
          <label>Response Domain (V <qddt-version [element]="responseDomain"></qddt-version>) </label>
        </div>
        <div class="row" style="min-height:3rem; ">
          <!-- <span > -->
            {{ responseDomain?.name }}
          <a *ngIf="showbutton && canEdit && !responseDomain"
             class="btn-flat btn-floating btn-small waves-effect waves-light teal" (click)="openResponseDomain()">
            <i class="material-icons left medium" title="Add element">add</i>
          </a>
          <a *ngIf="showbutton && canDelete && responseDomain"
             class="btn-flat btn-floating btn-small waves-effect waves-light red lighten-2" (click)="onDeletResponsDomain()">
             <i class="material-icons"  title="Remove" >remove</i>
          </a>
          <a *ngIf="showbutton && canEdit && responseDomain"
             class="btn-flat btn-floating btn-small waves-effect waves-light blue lighten-1" (click)="onGetLatest()">
            <i class="material-icons"  title="Get latest">autorenew</i>
          </a>
        <!-- </span> -->
        </div>
      </div>
      <div class="col s5">
        <div class="row">
          <label>Missing</label>
        </div>
        <div class="row">
          <span>{{responseDomain?.missing?.label}}</span>
          <a *ngIf="showbutton && responseDomain &&  !responseDomain?.missing"
             class="modal-trigger btn-flat btn-floating btn-small waves-effect waves-light teal" (click)="openMissing()">
              <i class="material-icons left medium" title="Add element">add</i>
          </a>
          <a *ngIf="showbutton && canDelete && responseDomain?.missing"
             class="btn-flat btn-floating btn-small waves-effect waves-light red lighten-2" (click)="onConfirmDeleting()">
              <i class="material-icons" title="Remove" >remove</i>
          </a>
          <a *ngIf="showbutton && canEdit && responseDomain?.missing"
             class="btn-flat btn-floating btn-small waves-effect waves-light green lighten-2" (click)="openMissing()">
              <i class="material-icons" title="Edit">edit</i>
          </a>
        </div>
    <div class="row" [hidden]="!showResponsDomain || !showbutton">
        <div class="response-domain-title"><span>Select Domain and Search</span></div>
        <div class="col left" *ngFor="let domain of domainTypeDescription">
          <label>
            <input name="{{formId}}-OTG2" type="radio"
                 (click)="onSelectDomainKind(domain.id)" [checked]="selectedDomainId === domain.id"/>
            <span>{{ domain.label }}</span>
          </label>
        </div>
      <qddt-element-revision-select class="col s12"
        [source] = "RESPONSEDOMAIN"
        (revisionSelected)="onRevisionSelect($event)"
        (dismissEvent) ="showResponsDomain = false">
      </qddt-element-revision-select>
    </div>
    <div class="row" *ngIf="showMissing">
      <qddt-auto-complete *ngIf="!responseDomain.missing"
        [items]="categories"
        [elementKind]="MISSING_GROUP"
        [autoCreate]="false"
        (selectEvent)="onMissingSelect($event)"
        (enterEvent)="onMissingSearch($event)">
      </qddt-auto-complete>
      <form #missingForm="ngForm">
          <table *ngIf="responseDomain.missing">
            <thead><tr><td>Code</td><td>Category</td></tr></thead>
            <tbody>
            <tr *ngFor="let category of responseDomain.missing.children; let idx=index">
              <td><input id="{{category?.id}}-code-value"
                         name="{{category?.id}}-code-value"
                         type="text" [(ngModel)]="category.code.codeValue" required></td>
              <td>{{ category?.label }}</td>
            </tr>
            <tr><td class="right-align" >
              <a  class="btn btn-flat waves-effect waves-light green white-text" (click)="closeMissing()">
                <i class="material-icons medium white-text">done</i>
              </a>
              <a class="brn btn-flat btn-medium waves-effect waves-light red white-text" (click)="showMissing = false">
                <i class="material-icons medium white-text">close</i>
              </a>
            </td></tr>
            </tbody>
          </table>
      </form>
    </div>
  </div>
</div>
