<div class="col s12 m6">

    <div class="card white lighten-2">
        <div class="card-content red-text text-lighten-2">
            <span class="card-title red-text text-lighten-2"><i class="material-icons large right">assignment</i>Survey</span>
            <p>
                Start here for survey program related work-flows. You can choose to either create  anew survey program
                or get a list of all available survey programs you can choose from to work on.

            <ul class="collection" *ng-for="#surveyProgram of surveyPrograms">
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title">{{surveyProgram.name}}</span>
                    <p>F{{surveyProgram.created}}<br>
                        {{surveyProgram.createdBy.username}}
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
            </p>
        </div>
        <div class="card-action">
            <a href="">New Survey Program</a>

            <form (ng-submit)="save()" #hf="form">
                <div class="form-group">
                    <label for="model.name">Name</label>

                    <input type="text"  class="form-control" required
                           [(ng-model)]="model.name" >
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>









