<div class="white grey-text">
  <div *ngIf="showProgressBar" class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="card" *ngIf="showPickRevision" style="padding: 1rem; ">
    <div class="row">
      <div class="col s4">
        <qddt-select label="Business version" placeholder="Select version" [(ngModel)]="selectedRevision"
          [lockups]="revisionlockups">
        </qddt-select>
      </div>
      <div class="input-field col right">
        <a class="waves-effect waves-light btn right red" (click)="onDismiss()">Dismiss</a>
        <a class="waves-effect waves-light btn right green" (click)="onSelectRevision()">Use this</a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="!showProgressBar && selectedRevisionResult" style="padding: 1rem; ">
    <h4 class="row teal-text">Preview</h4>
    <ul>
      <li>
        <label>Name</label>
      </li>
      <li>
        <div class="black-text text-lighten-1">{{ selectedRevisionResult.name }}</div>
      </li>
    </ul>
    <qddt-preview-element [element]="selectedRevisionResult"></qddt-preview-element>
  </div>
</div>
