<div class="white grey-text">
  <div *ngIf="showProgressBar" class="progress"><div class="indeterminate"></div></div>
  <div class="card" *ngIf="showPickRevision" style="padding: 1rem; ">
    <div class="row">
      <div class="col s4">
        <qddt-select label="Business version" placeholder="select version"
                      [(ngModel)]="selectedRevision" [lockups]="revisionlockups">
        </qddt-select>
      </div>
      <div class="input-field col right">
        <a class="waves-effect waves-light btn right red" (click)="onDismiss()">Dismiss</a>
        <a class="waves-effect waves-light btn right green" (click)="onSelectRevision()">Use this</a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="!showProgressBar && selectedRevisionResult" style="padding: 1rem; ">
    <h3 class="row teal-text">Preview</h3>
    <div class="teal-text" *ngIf="selectedRevisionResult.entity.name" style="padding-bottom: 5pt">Name</div>
    <div style="padding-bottom: 5pt; color:dimgrey; ">{{ selectedRevisionResult.entity.name }}</div>
    <qddt-preview-element [element]="selectedRevisionResult.entity"></qddt-preview-element>
  </div>
</div>
