.searchcard i.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.autocomplete {
  width: 100%;
  position: relative;
}

.autocomplete input {
  width: 80%;
  margin: 0 0 5px;
}

.autocomplete .row {
  margin: 0;
}

.autocomplete ul {
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  margin-top: 2px;
  z-index: 100;
}

.autocomplete li {
  text-align: left;
  list-style: none;
  width: 100%;
  padding: 0.4em;
  background-color: #fff;
}

.autocomplete li.active {
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #e2e2e2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
