<ul class="hoverable"
  (mouseenter)="showButton = !readonly"
  (mouseleave)="showButton = false">
  <li>
    <div class="row" (click)=onShowItems() style="cursor: zoom-in;">
      <label>{{labelName}}</label>
    </div>
  </li>
  <li class="collection-item" *ngIf="showAddItem">
    <qddt-element-revision-select
      [source] = "kind"
      (revisionSelected)="onSelectedRevision($event)"
      (dismissEvent) ="onDismiss()">
    </qddt-element-revision-select>
<!--    <qddt-auto-complete [items]="searchList" class="black-text"-->
<!--                        [elementKind]="kind"-->
<!--                        (selectEvent)="onSelectElement($event)"-->
<!--                        (enterEvent)="onSearchElements($event)">-->
<!--    </qddt-auto-complete>-->

<!--    <qddt-revision-select-->
<!--      [elementRevisions]="revisionList"-->
<!--      [showProgressBar]="showProgressBar"-->
<!--      (selectEvent)="onSelectedRevision($event)">-->
<!--    </qddt-revision-select>-->
  </li>

  <li *ngFor="let item of showList; let idx=index" class="collection-item" style="border: 1px; border-color: black; height:2rem"
   draggable="true" (dragstart)="onDragStart($event, item)" >

    <div class="row" *ngIf="item.elementId" (mouseenter)="item.showbutton = !readonly" (mouseleave)="item.showbutton = false">
      <div class="col s10"><a (click)="onShowElement(item)" [ngStyle]="{'cursor': 'pointer'}">{{ item.name }}</a></div>
      <div class="col s2"><qddt-version-label [element]="item"></qddt-version-label>
        <a [ngClass]="{hide: !showButton}" class="waves-effect waves-light small teal-text right" (click)="onDeleteItem(idx)">
          <i class="material-icons" title="Remove {{labelName}}">remove_circle</i>
        </a>
      </div>
    </div>
  </li>
</ul>
