<div class="row">
  <div id="qtc-{{formId}}" class="col s12">
    <div class="card-panel row teal white-text text-lighten-2">
      <i class="material-icons large right">{{icon}}</i>
      <h4>{{headerName}}</h4>
      <a *ngIf="canWrite()" class="btn" (click)="onToggleForm()">
        <i class="material-icons right" *ngIf="!showForm">keyboard_arrow_down</i>
        <i class="material-icons right" *ngIf="showForm">keyboard_arrow_up</i>
        New
      </a>
      <div style="padding-top: 1rem;">
        <ng-content select=".qddt-preselector"></ng-content>
      </div>
      <div *ngIf="showForm">
        <div class="row card-action">
          <div class="col s10 offset-s1">
            <ng-content select=".qddt-edit"></ng-content>
          </div>
        </div>
      </div>
    </div>
    <div class="card section row">
      <ng-content select="router-outlet"></ng-content>
    </div>
  </div>
</div>
