<div class="row">
  <div id="qtc-{{formId}}" class="col s12">
    <div class="card-panel row teal darken-1">
      <i class="material-icons large white-text right">{{icon}}</i>
      <h4 class="white-text ">{{headerName}}</h4>
      <a *ngIf="canWrite()" class="btn white-text teal darken-1" (click)="onToggleForm()">
        <i class="material-icons right" *ngIf="!showForm">keyboard_arrow_down</i>
        <i class="material-icons right" *ngIf="showForm">keyboard_arrow_up</i>
        New
      </a>
      <div>
        <ng-content select=".qddt-preselector"></ng-content>
      </div>
      <div *ngIf="showForm">
        <div class="row card-action">
          <div class="col s10 offset-s1 grey lighten-5">
            <ng-content select=".qddt-edit"></ng-content>
          </div>
        </div>
      </div>
    </div>
    <div class="card section row">
      <ng-content select="router-outlet"></ng-content>
    </div>
  </div>
</div>
