<a class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
   (click)="openModal2()">
  <i class="material-icons left medium" title="Add QuestionItem to element">playlist_add</i>
</a>
<div class="modal modal-fixed-footer"
     materialize="modal" [materializeActions]="closeReuseActions">
  <div class="modal-content white black-text" >
    <qddt-item-revision-select
        [showProgressBar] = "showProgressBar"
        [kind] = "QUESTION"
        [itemList] = "questionList"
        [revisionList] = "revisionResults"
        (enterEvent) = "onQuestionSearch($event)"
        (revisionEvent) = "onRevisonSearch($event)"
        (selectEvent) = "onRevisionSelect($event)"
        (dismissEvent) ="onDismiss()">
    </qddt-item-revision-select>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-default red modal-action modal-close waves-effect waves-red" (click)="closeQuestionReuseModal()" >Dismiss</button>
  </div>
</div>
