<div class="col s12 m9">

  <div class="card-panel row white-text teal">
    <i class="material-icons large right">store</i>
    <h4>Survey</h4>

    <a *ngIf="!readonly" class="btn" (click)="showEditForm = !showEditForm; initComp();">
      <i class="material-icons right" *ngIf="!showEditForm">keyboard_arrow_down</i>
      <i class="material-icons right" *ngIf="showEditForm">keyboard_arrow_up</i>
      New
    </a>

    <div *ngIf="showEditForm" class="col s10 offset-s1 card-action">
      <form id="form1" #hf="ngForm">
        <div class="row white-text input-field">
          <input id="name11" name="name" class="white-text validate" type="text" ngModel required data-length="250" />
          <label for="name11" class="white-text">Name</label>
        </div>
        <div class="row input-field white-text">
          <textarea id="desc11" name="description" class="materialize-textarea white-text validate" ngModel required
            data-length="10000"></textarea>
          <label for="desc11" class="white-text">Description</label>
        </div>
        <div class="row right-align">
          <button type="button" (click)="onNewSave(hf.value)" class="btn btn-default" [disabled]="!hf.form.valid">
            Submit
          </button>
        </div>
      </form>
    </div>

  </div>


  <div class="card section row card-toc scrollspy white grey-text text-darken-2" id="{{surveyProgram.id}}"
    *ngFor="let surveyProgram of surveys" [ngClass]="{'editGreen': edit.isVisible}">
    <div class="col s1">
      <ul class="dropdownmenu">
        <li *ngIf="!surveyProgram.archived && !readonly">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light green lighten-2"
            (click)="edit.isVisible = !edit.isVisible; ">
            <i class="material-icons" title="Edit Concept">mode_edit</i>
          </a>
        </li>
        <li *ngIf="!edit.isVisible">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light blue lighten-2"
            (click)="edit.showRevision = !edit.showRevision">
            <i class="material-icons left medium" title="Revision history">history</i>
          </a>
        </li>
        <li *ngIf="!edit.isVisible">
          <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
            (click)="onShowStudy(surveyProgram)">
            <i class="material-icons left medium" title="Go to child elements">play_arrow</i></a>
        </li>
      </ul>
    </div>
    <div class="col s10">
      <div class="row">
        <div class="col s10">
          <h5>{{ surveyProgram.name }}</h5>
          {{ surveyProgram.label }}
        </div>
        <div class="col s2">
          <qddt-version-label class="right" [element]="surveyProgram"></qddt-version-label>
        </div>
      </div>
      <qddt-survey-edit [survey]="surveyProgram" #edit (savedEvent)="onSurveySaved($event)">
      </qddt-survey-edit>
      <div class="row" *ngIf="!edit.isVisible">
        <div class="col s12">
          <p [innerHtml]="surveyProgram.description"></p>
          <qddt-author-chip [authors]="surveyProgram.authors"></qddt-author-chip>
        </div>
      </div>

      <qddt-download [entity]="surveyProgram" [readonly]="true"></qddt-download>

      <qddt-revision *ngIf="edit.showRevision" [current]="surveyProgram"></qddt-revision>

      <qddt-comment-list [hidden]="edit.isVisible" [ownerId]="surveyProgram.id" [comments]="surveyProgram.comments">
      </qddt-comment-list>
    </div>
  </div>
</div>

<qddt-toc [elements]="surveys" [path]="'survey'" (hierarchyChanged)="onHierarchyChanged($event)"></qddt-toc>
