<ul *ngIf="topic">
  <li *ngIf="topic.parentRef">
    <label>Path</label>
    <p>
      <a style="cursor: pointer;" (click)="onClickStudy(topic.parentRef.id)">{{ topic.
        parentRef?.name }}</a>\
      <a> {{ topic.name }} </a>
    </p>
  </li>

  <li *ngIf="topic?.description">
    <label>Description</label>
    <p [innerHtml]="topic?.description"></p>
  </li>
  <li>
    <label>QuestionItem(s)</label>
    <ul [id]="'UL-' + compId" *ngIf="topic.questionItems && topic.questionItems?.length > 0" class="collapsible">
      <li [id]="'LI-' + compId + '-' + idx"
        *ngFor="let cqi of topic.questionItems; trackBy:trackByIndex; let idx=index;" (click)="onViewDetail(cqi)">
        <div class="collapsible-header">
          <i class="material-icons small teal-text text-lighten-3">{{getMatIcon(cqi)}}</i>
          <div class="col s9 m10 grey-text text-darken-1" [innerHtml]=cqi.name></div>
          <qddt-version-label class="col s3 m2 right-align" [revisionRef]="cqi"></qddt-version-label>
        </div>
        <div class="collapsible-body">
          <qddt-preview-questionitem *ngIf="cqi.element" [questionItem]="cqi.element">
          </qddt-preview-questionitem>
        </div>
      </li>
    </ul>
  </li>

  <label>Concept(s)</label>
  <li *ngIf="topic._embedded.children && topic._embedded.children.length>0">
    <qddt-preview-concept-list [conceptList]="topic._embedded.children"></qddt-preview-concept-list>
  </li>

  <li>
    <qddt-element-footer [element]="topic"></qddt-element-footer>
  </li>

  <li>
    <qddt-comment-list [ownerId]="topic.id" [comments]="topic.comments"></qddt-comment-list>
  </li>
</ul>
