<ul class="hoverable"
(mouseenter)="showButton = !readonly"
(mouseleave)="showButton = false">
<li>
<div class="row" (click)="showAddItem=!showAddItem" style="cursor: zoom-in;">
  <div class="col s11"><label class="teal-text">{{itemName}}</label></div>
  <div class="col s1">
    <a [ngClass]="{hide: !showButton}"
       class="btn-flat btn-floating btn-small waves-effect waves-light teal">
      <i class="material-icons" title="Add {{itemName}}">add</i>
    </a>
  </div>
</div>
</li>
<li class="collection-item" *ngIf="showAddItem">
    <div class="row card">
        <div class="col s10 black-text">
          <label>Description</label>
          <div [ngClass]="{ noItemFound: (isNew && item[description].length > 0 && lockupItems.length === 0) }">
            <qddt-auto-complete
              [items]="instructions" class="black-text"
              [elementtype]="INSTRUCTION"
              [initialValue]="instruction?.description"
              (selectEvent)="onSelectItem($event)"
              (enterEvent)="onSearchItem($event)">
            </qddt-auto-complete>
          </div>
        </div>
        <div class="col s2 right">
          <a class="waves-effect waves-light btn" (click)="onAddInstruction()">add</a>
        </div>
      </div>

<!-- <qddt-universe-create (createItemEvent)="onAddItem($event)">
</qddt-universe-create> -->
</li>
<li class="collection-item" *ngFor="let element of elements; let idx=index">
<div class="row"
     (mouseenter)="universe.showbutton = !readonly"
     (mouseleave)="universe.showbutton = false">
  <div class="col s11">{{ element?.description }}</div>
  <div class="col s1">
    <a [ngClass]="{hide: !showButton}"
       class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
       (click)="onDeleteElement(idx)">
      <i class="material-icons" title="Remove {{itemName}}">remove</i>
    </a>
  </div>
</div>
</li>
</ul>
