<div *ngIf="concept" class="row card">
  <div id="{{concept?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br />
      <div class="row">
        <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="edit.isVisible = !edit.isVisible"><i class="material-icons" title="Edit Concept">mode_edit</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="edit.showRevision = !edit.showRevision"><i class="material-icons left medium" title="Revision history">history</i></a>
        <qddt-questionitem-reuse *ngIf="!readonly" [parentId]="concept.id"
                                 (questionItemCreatedEvent)="addQuestionItem($event)"></qddt-questionitem-reuse>
        <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="onCreateConcept(concept)"><i class="material-icons left medium" title="Add sub concept">add</i></a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal">
          <i class="material-icons" (click)="getPdf(concept)" title="Get as Pdf">picture_as_pdf</i></a>
        <a *ngIf="!readonly" class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
           (click)="onDeleteConcept(concept)"><i class="material-icons left medium" title="Delete" >delete_forever</i></a>
      </div>
    </div>

    <div class="col s11 grey-text text-darken-2">
      <h5 class="row">
        <div class="col s10">{{ concept?.name }}</div>
        <div class="col s2">
          <qddt-version-label [element]="concept"></qddt-version-label>
        </div>
      </h5>
    </div>

    <div class="col s11  white grey-text text-darken-1">
      <div class="row" *ngIf="!edit.isVisible">
        <div [innerHtml]="concept?.description" style="white-space: pre-wrap; padding-right: 35pt;" ></div>
        <qddt-author-chip [authors]="concept.authors" ></qddt-author-chip>
      </div>
      <div *ngIf="showConceptChildForm">
        <div class="card-action">
          <form (ngSubmit)="onChildSave()" #newchildConcept="ngForm">
            <div class="row">
              <div class="input-field col s11">
                <input id="name" name="name" type="text" [(ngModel)]="newchild.name" required>
                <label for="name" class="blue-text">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s11">
                <textarea id="description" name="description"
                 class="materialize-textarea"
                 [(ngModel)]="newchild.description" required autosize>
                </textarea>
                <label for="description" class="blue-text">Description</label>
              </div>
            </div>
            <div class="row right-align">
              <button type="submit" class="btn btn-default" [disabled]="!newchildConcept.form.valid" >Submit</button>
            </div>
          </form>
        </div>
      </div>
      <qddt-concept-edit [isVisible]="edit.isVisible" [concept]="concept"
                         (conceptSavedEvent)="onConceptSavedEvent($event)"
                         #edit>
      </qddt-concept-edit>

      <qddt-revision *ngIf = "edit.showRevision"
        [current]="concept"
        [qddtURI]="'audit/concept/' + concept.id + '/all'"
        [config]="[{'name':'name','label':'Name'},{'name':'description','label':'Description'}]"
        (requestPreview)="onShowRevision($event)">
      </qddt-revision>
      <qddt-preview-dialog *ngIf = "edit.showRevision"
         [basedonObject]="revision" [elementKind] = "revisionKind">
      </qddt-preview-dialog>


      <div *ngIf="concept.conceptQuestionItems?.length > 0" class="section">
        <ul class="collection with-header hoverable"
            (mouseenter)="showbutton = true"
            (mouseleave)="showbutton = false">
          <li class="collection-header teal-text">Question Items</li>
          <a class="collection-item grey-text text-darken-1" *ngFor="let cqi of concept.conceptQuestionItems"
            style="padding-bottom: 5pt;">
            <div class="row" style="min-height: 3rem;">
              <div class="col s11" (click)="onClickQuestionItem(cqi.questionItem)" style="cursor: pointer;">
                {{ cqi?.questionItem?.question }}</div>
              <div class="col s1">
                <a *ngIf="!readonly"
                  class="modal-trigger btn-flat btn-floating btn-medium waves-effect waves-light teal"
                  [ngClass]="{hide: !showbutton}"
                  (click)="removeQuestionItem(cqi?.questionItem?.id)">
                  <i class="material-icons" title="Remove selected">remove</i>
                </a>
              </div>
            </div>
          </a>
        </ul>
      </div>

      <qddt-comment-list
        *ngIf="!edit.isVisible"
        [ownerId]="concept.id"
        [comments]="concept.comments">
      </qddt-comment-list>

      <div class="tree-children">
        <qddt-concept-treenode *ngFor="let child of concept.children"
           [concept]="child"
           [readonly]="child.archived"
           (deleteConceptEvent)="onDeleteConcept($event)"
           (conceptUpdatedAction)="onConceptUpdated($event)">
        </qddt-concept-treenode>
      </div>

    </div>
  </div>

  <div>
    <div [attr.id]="concept.id + '-concept-questionitem-modal'"
         class="modal modal-fixed-footer"
         materialize="modal" [materializeActions]="questionItemActions">
      <div class="modal-footer">
        <button
          class="btn btn-default red modal-action modal-close waves-effect waves-red">
          <i class="close material-icons">close</i>
        </button>
      </div>
      <div class="modal-content">
        <div class="row" *ngIf="questionItem">
            <label class="teal-text ">Name</label>
            <H5 class="grey-text">{{ questionItem.name }}</H5>
        </div>
        <qddt-preview-questionitem class="grey-text darken-5" [questionItem]="questionItem"></qddt-preview-questionitem>
      </div>
    </div>
  </div>
</div>
