.autocomplete {
  width: 100%;
  position: relative;
}

::placeholder {
  color: teal;
}

.input-field > label { color: teeal;}

.autocomplete ul {
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  margin-top: 2px;
  z-index: 100;
}

.autocomplete li {
  text-align: left;
  list-style: none;
  width: 100%;
  padding: 0.4em;
  background-color: #fff;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
}

.autocomplete li.active {
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #e2e2e2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: teal;
}

.search-box, .search-wrapper {
  position: relative;
  padding: 5px;
}
.search-wrapper {
  width: 500px;
  margin: 50px auto auto;
}

.input-field {
  padding: auto;
  margin: 0;
}

input[type=search] {
  margin-bottom: 0;
}


input[type=search]:not(.browser-default) {
  border-bottom: 1px solid #9e9e9e;
}
