<div class="autocomplete"  [ngClass]="{ noItemFound: notFound(), itemInvalid: invalid() }">
	<div class="input-field">
	  	<input id="auto{{formId}}" class="validate" required type="search" [ngModel]="value" placeholder="{{queryInfo.placeholder()}}"
			    (blur)="onBlur()" (keyup)="enterText($event)" (focus)="onFocus()">
      <i class="material-icons" (click)="onClearKeywords()">close</i>
	</div>
  <ul *ngIf="showAutoComplete && candidates">
    <li *ngFor="let candidate of candidates; let idx=index"
        [ngClass]="{ active: (idx === selectedIndex) }"
        (mouseover)="selectedIndex=idx;" (mousedown)="select(candidate)">
      {{ getLabel(candidate) }}
    </li>
  </ul>
</div>
