<header>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="right" >
        <li><a class="dropdown-button" href="#" data-activates="adminmenu" data-beloworigin="true" style="width: 200px;">
            {{getUserName()}} <i class="material-icons left">arrow_drop_down</i>
            <img gravatar [email]="getEmail()" [size]="48">
        </a></li>
          <ul id="adminmenu" class="dropdown-content" >
            <li (click)="logoutEvent()"><a href="#"><i class="material-icons left">exit_to_app</i>Exit</a></li>
            <li class="divider"></li>
            <li><a href="#!"><i class="material-icons left">edit</i>Register</a></li>
            <li class="divider"></li>
            <li><a href="#!"><i class="material-icons left">mail_outline</i>Password reset</a></li>
          </ul>
        </ul>
      <a href="#" data-activates="leftmenu" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul  id="nav-mobile" class="side-nav fixed hide-on-small-and-down"
          style="width: 200px;header,main,footer {padding-left: 200px;}">
          <div style="color: #fff; background-color: #ee6e73; width: 100%; height: 64px;line-height: 64px; font-size: 2rem; text-align: center;">QDDT</div>
        <div *ngIf="isLoggedIn()">
          <li><a class="teal-text" [routerLink]="['/home']" (click)="onHome()">
            <i class="medium material-icons teal-text left ">store</i>Home</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/questions']">
            <i class="material-icons teal-text left medium">help</i>Questions</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/categories']" (click)="onCategories()">
            <i class="material-icons teal-text left medium">view_comfy</i>Categories</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/schemes']" (click)="onSchemes()">
            <i class="material-icons teal-text left medium">view_module</i>Missings</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/responsedomains']" (click)="onResponsedomains()">
            <i class="material-icons teal-text left medium">blur_linear</i>Domains</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/constructs']" (click)="onConstructs()">
            <i class="material-icons teal-text left medium">view_agenda</i>Constructs</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/sequences']" (click)="onSequences()">
            <i class="material-icons teal-text left medium">format_line_spacing</i>Sequences</a>
          </li>
          <li><a class="teal-text" [routerLink]="['/publications']" (click)="onPublications()">
            <i class="material-icons teal-text left medium">folder_special</i>Publications</a>
          </li>
        </div>
      </ul>

    </div>
  </nav>
</div>
  <ul  id="leftmenu" class="side-nav" style="width: 200px;">
   <div>
     <li><a [routerLink]="['/home']" (click)="onHome()" title="home">
       <i class="medium material-icons teal-text">store</i></a>
     </li>
     <li><a [routerLink]="['/questions']" (click)="onQuestions()" title="Questions">
       <i class="medium material-icons teal-text">help</i></a>
     </li>
     <li><a [routerLink]="['/categories']" (click)="onCategories()" title="Categories">
       <i class="medium material-icons teal-text">view_comfy</i></a>
     </li>
     <li><a [routerLink]="['/schemes']" (click)="onSchemes()" title="Missings">
       <i class="medium material-icons teal-text">view_module</i></a>
     </li>
     <li><a [routerLink]="['/responsedomains']" (click)="onResponsedomains()" title="Domains">
       <i class="medium material-icons teal-text">blur_linear</i></a>
     </li>
     <li><a [routerLink]="['/constructs']" (click)="onConstructs()" title="Constructs">
       <i class="medium material-icons teal-text">view_agenda</i></a>
     </li>
     <li><a [routerLink]="['/sequences']" (click)="onSequences()" title="Sequences">
       <i class="medium material-icons teal-text" >format_line_spacing</i></a>
     </li>
     <li><a [routerLink]="['/publications']" (click)="onPublications()" title="Publications">
       <i class="medium material-icons teal-text" >folder_special</i></a>
     </li>
   </div>
 </ul>

</header>
<main>
  <div class="row" *ngIf="!isLoggedIn()">
    <div class="col m8  offset-m2">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons large right">new_releases</i>Questionnaire Design and Documentation Tool</span>
          Welcome to the QDDT. This tool is intended to facilitate the life cirle of questions in questionnaires, using DDI 3.2
          <blockquote>
            Please report any bugs, tips or ideas to us on <a href="mailto:qddt@nsd.no">qddt@nsd.no</a>
          </blockquote>
          More info at  <a href="https://github.com/DASISH/qddt-client/">GITHUB QDDT</a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
