<header>
<div class="navbar-fixed">
  <ul id="dropdownloging" class="dropdown-content">
    <li (click)="logoutEvent()"><a href="#!"><i class="material-icons left">exit_to_app</i>Exit</a></li>
    <li class="divider"></li>
    <li><a href="#!"><i class="material-icons left">edit</i>Register</a></li>
    <li><a href="#!"><i class="material-icons left">mail_outline</i>Password reset</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Qddt</a>
      <ul class="right" >
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdownloging">
          Logout<i class="material-icons left">person</i></a>
        </li>

      </ul>
      <a href="#" data-activates="leftmenu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="leftmenu" class="side-nav" style="transform: translateX(0%);">
        <!--<div *ngIf="user">-->
          <li><a [routerLink]="['/home']" (click)="onHome()" title="home">
            <i class="large material-icons teal-text ">store</i></a>
          </li>
          <li><a [routerLink]="['/questions']" (click)="onQuestions()" title="Questions">
            <i class="material-icons teal-text" >help</i></a>
          </li>
          <li><a [routerLink]="['/categories']" (click)="onCategories()" title="Categories">
            <i class="material-icons teal-text " >view_comfy</i></a>
          </li>
          <li><a [routerLink]="['/schemes']" (click)="onSchemes()" title="Missings">
            <i class="material-icons teal-text " >view_module</i></a>
          </li>
          <li><a [routerLink]="['/responsedomains']" (click)="onResponsedomains()" title="Domains">
            <i class="material-icons teal-text " >blur_linear</i></a>
          </li>
          <li><a [routerLink]="['/constructs']" (click)="onConstructs()" title="Constructs">
            <i class="material-icons teal-text " >view_agenda</i></a>
          </li>
          <li><a [routerLink]="['/sequences']" (click)="onSequences()" title="Sequences">
            <i class="material-icons teal-text " >format_line_spacing</i></a>
          </li>
          <li><a [routerLink]="['/publications']" (click)="onPublications()" title="Publications">
            <i class="material-icons teal-text " >folder_special</i></a>
          </li>
        <!--</div>-->
      </ul>
    </div>
  </nav>
</div>

</header>
<main>
  <alert></alert>
  <router-outlet></router-outlet>
</main>
