  <form name="filterForm">
    <div *ngIf="!pageSearch.hasDetailSearch" >
      <div class="input-field col s11 m10 l9">
        <i class="material-icons prefix" >search</i>
        <input id="simpleSearch" name="simpleSearch" type="search" required
               [(ngModel)]="fields.simpleSearch" (ngModelChange)="searchKeysChange.next({ name: 'simpleSearch', value: $event })">
        <label for="simpleSearch" >{{placeholder}}</label>
        <i class="material-icons" (click)="onClear('simpleSearch')">close</i>
      </div>
    </div>
    <div *ngIf="pageSearch.hasDetailSearch" >
      <div class="col s{{ (10-10%fieldNames.length)/fieldNames.length}} input-field" *ngFor="let field of fieldNames; let idx=index;">
        <i class="material-icons prefix" >search</i>
        <input id="field-{{idx}}" name="{{field}}" type="search" required
               [(ngModel)]="fields[field]" (ngModelChange)="searchKeysChange.next( { name: field, value: $event })">
        <label for="field-{{idx}}">{{field}}</label>
        <i class="material-icons" (click)="onClear(field)">close</i>
      </div>
    </div>
    <div class="switch">
      <label>
        <input type = "checkbox"  [checked]="pageSearch.hasDetailSearch" (change)="onDetailChecked()">
        <span class = "lever"></span>Advanced search
      </label>
    </div>
  </form>

  <div *ngIf="showProgressBar" class="progress"><div class="indeterminate"></div></div>

  <div id ='qddt-pageable-table' class="grey-text text-darken-1">

    <table class="highlight" style="padding-left: 1rem;">
    <thead>
      <tr>
        <th><i class="material-icons tiny">add_circle_outline</i></th>
        <th *ngFor="let column of columns" >
          <span *ngIf="column.sortable" (click)="sortRows(column)" [ngStyle]="{'cursor': 'pointer'}">{{ column.label }} {{ directionSign[column.direction] }}
          </span>
          <span *ngIf="!column.sortable" >{{ column.label }} </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr id="{{row.id}}" *ngFor="let row of rows;"  [ngStyle]="{'cursor': 'pointer'}" (mouseleave)="row.showButton = false" >
      <td style="padding:0" (mouseenter)="row.showButton = true">
        <div >
          <i class="material-icons tiny teal-text" >menu</i>
          <ul *ngIf="row.showButton" class="dropleft" >
            <li *ngIf="canEdit"><a class="btn-flat btn-small btn-floating waves-effect waves-light green lighten-2">
              <i class="material-icons" (click)="onDetail(row)" title="Edit">edit</i></a>
            </li>
            <li *ngIf="canExport"><a class="btn-flat btn-small btn-floating waves-effect waves-light orange lighten-2">
              <i class="material-icons" (click)="onGetPdf(row.Object)" title="Get as Pdf">picture_as_pdf</i></a>
            </li>
            <li *ngIf="canDelete">
              <qddt-confirm-delete  [small]="true"  [element]="row.Object" (confirmAction)="onConfirmDeleting($event, row.Object)"></qddt-confirm-delete>
            </li>
            <li *ngIf="canPreview"><a class="btn-flat btn-small btn-floating waves-effect waves-light blue lighten-2">
              <i class="material-icons" (click)="onPreview(row.Object)" title="Preview">search</i></a>
            </li>
          </ul>
        </div>
      </td>
      <td  *ngFor="let column of columns" (click)="onDetail(row)" [innerHtml]="row[column.label]"></td>

    </tr>
    </tbody>
  </table>

  </div>

  <qddt-pagination
    [collectionSize]="pageSearch.page.totalElements"
    [page]="pageSearch.page.number"
    [pageSize]="pageSearch.page.size"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="pageChange($event)">
  </qddt-pagination>
