<div class="row" *ngIf="publication">
  <label class="active teal-text">Version: <!--
        -->{{publication?.version?.major}}.<!--
        -->{{publication?.version?.minor}}</label>
  <div id="{{publication?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium">history</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">

      <!--qddt-revision [isVisible]="revisionIsVisible"
        [current]="instrument"
        [qddtURI]="'audit/instrument/' + instrument.id + '/all'">
      </qddt-revision-->

      <!--div class="row">
        <qddt-comment-list [ownerId]="instrument.id" [comments]="instrument.comments"></qddt-comment-list>
      </div-->
    </div>

  </div>
</div>

<div [attr.id]="'publication-modal'"
  class="modal modal-fixed-footer"
  materialize [materializeActions]="controlConstructsActions">
  <div class="modal-footer">
    <button
      class="btn btn-default red modal-action modal-close waves-effect waves-red">
      <i class="close material-icons">close</i>
    </button>
  </div>
  <div class="modal-content">
    <h2>publication</h2>
  </div>
</div>