<div *ngIf="element" [ngSwitch]="elementType">
  <div *ngSwitchCase="1">
    <qddt-preview-topic [topic]="element"></qddt-preview-topic>
  </div>
  <div *ngSwitchCase="2">
    <qddt-preview-concept [concept]="element"></qddt-preview-concept>
  </div>
  <div *ngSwitchCase="3">
    <qddt-preview-questionitem [questionItem]="element"></qddt-preview-questionitem>
  </div>
  <div *ngSwitchCase="4">
    <qddt-preview-controlconstruct [controlConstruct]="element"></qddt-preview-controlconstruct>
  </div>
  <div *ngSwitchDefault>
    <div class="row">
      <div class="col s12">
        <label [attr.for]="element.id + '-description'" class="active teal-text">Description</label>
        <textarea class="materialize-textarea" id="{{element?.id}}-description"
          name="{{element?.id}}-description"
          [(ngModel)]="element.description" readonly>
        </textarea>
      </div>
    </div>
    <div class="row">
      <qddt-element-footer  [element]="element" [type]="''"></qddt-element-footer>
    </div>
  </div>
</div>
