<div class="row">
  <div class="row">
    <div class="card white white-text text-lighten-2">
      <div class="row teal z-depth-1"
        style="padding-left:2%;padding-top:1%;padding-bottom:1%;">
        <i class="material-icons large right">comment</i>
        <h4>Publication package</h4>

        <a class="btn" (click)="onTogglePublicationForm()">
          <i class="material-icons right"
            *ngIf="!showPublicationForm">keyboard_arrow_down</i>
          <i class="material-icons right"
            *ngIf="showPublicationForm">keyboard_arrow_up</i> New
        </a>

        <div *ngIf="showPublicationForm">
          <div class="card-action">
            <form (ngSubmit)="onCreatePublication()" #hf="ngForm">
              <div class="row">
                <div class="input-field col s10">
                  <textarea id="name" name="name" class="materialize-textarea"
                    [(ngModel)]="publication.name" [attr.maxlength]="255"
                    required>
                  </textarea>
                  <label for="name" class="white-text">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <textarea id="purpose" name="purpose" class="materialize-textarea"
                    [(ngModel)]="publication.purpose" [attr.maxlength]="255"
                    required>
                  </textarea>
                  <label for="purpose" class="white-text">Purpose</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions"
                    (change)="onSelectChange($event.target.value)">
                    <option
                      [value]="0">Not Published</option>
                    <optgroup *ngFor="let option of selectOptions"
                      [attr.label]="option.label">
                      <option *ngFor="let child of option.children"
                        [value]="child.id">{{child.label}}</option>
                    </optgroup>
                  </select>
                  <label class="white-text">Publication status</label>
                </div>
              </div>
              <qddt-publication-reuse (publicationElement)="addElement($event)"></qddt-publication-reuse>
              <div class="row white teal-text">
                <div class="row">Content list</div>
                <table>
                  <tr><th>Detail</th><th>Element type</th><th>Element name</th><th>Version</th></tr>
                  <tr *ngFor="let e of publication.publicationElements">
                    <td (click)="onElementDetail(e)" [ngStyle]="{'cursor': 'pointer'}">
                      <a><i class="material-icons left smal">search</i></a>
                    </td>
                    <td>{{e?.elementKind}}</td><td>{{e?.element?.name}}</td>
                    <td>{{e?.element?.version?.major}}.{{e?.element?.version?.minor}}</td>
                  </tr>
                </table>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="!isDetail">
        <qddt-table [items]="publications" [page]="page" [columns]="columns"
          [searchFromServer]="false"
		      (enterEvent)="searchPublications($event)"
          (detailEvent)="onDetail($event)" (pageChangeEvent)="onPage($event)"></qddt-table>
      </div>
    </div>
  </div>

  <qddt-publication-detail *ngIf="isDetail"
    [publication]="selectedPublication"
    [publications]="publications"
    (hideDetailEvent)="hideDetail()">
  </qddt-publication-detail>
</div>

<div [attr.id]="'publication-detail-modal'" class="modal"
  materialize [materializeActions]="actions">
  <div class="modal-content">
    <div class="row">
      <h4>Detail</h4>
      <span *ngIf="selectedElementDetail">{{selectedElementDetail.name}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button id="controlConstructs-modal-close"
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
