<div class="row" *ngIf="publication">
  <label class="active teal-text">Version: <!--
        -->{{publication?.version?.major}}.<!--
        -->{{publication?.version?.minor}}
    <i *ngIf="publication.workinprogress"
      class="material-icons white yellow-text small">
      error
    </i>
  </label>
  <div id="{{publication?.id}}" class="scrollspy">
    <div class="col s1 m1 l1">
      <br/>
      <div class="row">
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
          (click)="revisionIsVisible = !revisionIsVisible">
          <i class="material-icons left medium">history</i>
        </a>
        <a class="btn-flat btn-floating btn-medium waves-effect waves-light red">
          <i class="material-icons" (click)="hideDetail()">replay</i>
        </a>
      </div>
    </div>

    <div class="col s10 m10 l10 grey-text text-darken-2">
      <div class="card-action">
        <form (ngSubmit)="onUpdatePublication()" #hf="ngForm">
          <div class="row">
            <div class="input-field col s10">
              <textarea class="materialize-textarea"
                name="{{publication?.id}}-publication-name"
                [(ngModel)]="publication.name" [attr.maxlength]="255"
                required>
              </textarea>
              <label [attr.for]="publication.id + '-publication-name'" class="teal-text">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <textarea class="materialize-textarea"
                name="{{publication?.id}}-publication-purpose" 
                [(ngModel)]="publication.purpose" [attr.maxlength]="255"
                required>
              </textarea>
              <label [attr.for]="publication.id + '-publication-purpose'" class="teal-text">Purpose</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select materialize="material_select" [materializeSelectOptions]="selectOptions"
                name="status-value"
                [ngModel]="selectedOptionValue"
                (change)="onSelectChange($event.target.value)">
                <option [value]="0">Not Published</option>
                <optgroup *ngFor="let option of selectOptions"
                  [attr.label]="option.label">
                  <option *ngFor="let child of option.children"
                    [value]="child.id">{{child.label}}</option>
                </optgroup>
              </select>
              <label class="teal-text">Publication status</label>
            </div>
            <div class="input-field col s6">
              <label class="teal-text">{{selectedPublicationStatusOption}}</label>
            </div>
          </div>
          <qddt-publication-reuse (publicationElement)="addElement($event)"></qddt-publication-reuse>
          <div class="row card">
            <div class="row teal-text">Content list</div>
            <ul *ngIf="publication.publicationElements" materialize="collapsible"
              class="collapsible popout" data-collapsible="accordion">
              <li>
		            <div class="collapsible-header grey lighten-2">
                  <div class="row">
                    <div class="col s2">Element type</div>
                    <div class="col s8">Element name</div>
                    <div class="col s1">Version</div>
                    <div class="col s1">Delete</div>
                  </div>
		            </div>
              </li>
              <li *ngFor="let element of publication.publicationElements; let idx=index">
		            <div class="collapsible-header grey lighten-2">
                  <div class="row">
                    <div class="col s2">{{element?.elementKind}}</div>
                    <div class="col s8">{{element?.element?.name}}</div>
                    <div class="col s1">{{element?.element?.version?.major}}.{{element?.element?.version?.minor}}</div>
                    <div class="col s1">
                      <a class="btn-flat btn-floating btn-medium waves-effect waves-light teal"
                        (click)="onDeleteElement(idx)">
                        <i class="material-icons medium" [ngStyle]="{'width': 'inherit', 'line-height': '37px'}">delete_forever</i>
                      </a>
                    </div>
                  </div>
		            </div>
		            <div class="collapsible-body">
                  <qddt-publication-preview
                    [element]="element.element"
                    [elementType]="getElementType(element)">
                  </qddt-publication-preview>
		            </div>
              </li>
            </ul>
          </div>
          <div class="row">
            <qddt-revision-detail [element]="publication" [type]="'publication'"></qddt-revision-detail>
          </div>
          <div class="row">
            <qddt-rational [element]="publication" [config]="{hidden: [2]}"></qddt-rational>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>

      <qddt-revision [isVisible]="revisionIsVisible"
        [current]="publication"
        [qddtURI]="'audit/publication/' + publication.id + '/all'">
      </qddt-revision>

      <div class="row">
        <qddt-comment-list [ownerId]="publication.id" [comments]="publication.comments"></qddt-comment-list>
      </div>
    </div>

  </div>
</div>

<div [attr.id]="'publication-detail-modal'"
  class="modal modal-fixed-footer"
  materialize [materializeActions]="controlConstructsActions">
  <div class="modal-footer">
    <button
      class="btn btn-default red modal-action modal-close waves-effect waves-red">
      <i class="close material-icons">close</i>
    </button>
  </div>
  <div class="modal-content">
    <h2>publication</h2>
  </div>
</div>
