<div *ngIf="element" [ngSwitch]="elementType">
  <div>{{element?.question?.question}}
    <label class="active teal-text">V<!--
      -->{{element?.version?.major}}.<!--
      -->{{element?.version?.minor}}
    </label>
  </div>
  <div *ngSwitchCase="3">
    <div class="row">
      <ul class="collection with-header black-text">
        <li class="collection-header">Question Item</li>
        <li  class="collection-item">Version: {{element?.version?.major}}.
          {{element?.version?.minor}}
        </li>
        <li class="collection-item">Name: {{element?.name}}</li>
        <li class="collection-item">Question Text: {{element?.question?.question}}</li>
        <li class="collection-item">Intent: {{element?.question?.intent}}</li>
        <li class="collection-item" *ngFor="let c of element.conceptRefs" >Concept: {{c?.name}}</li>
      </ul>
    </div>
    <qddt-responsedomain-preview *ngIf="element.responseDomain"
      [isVisible]="true" [responseDomain]="element.responseDomain">
    </qddt-responsedomain-preview>
  </div>
  <div *ngSwitchCase="4">
    <div class="row">
      <div class="input-field">
        <label [attr.for]="element.id + '-name'"
          class="active teal-text">Name</label>
        <textarea [attr.id]="element.id + '-name'"
          class="materialize-textarea"
          [(ngModel)]="element.name" readonly>
        </textarea>
      </div>
    </div>
    <div class="row">
      <h5>{{element?.questionItem?.question?.question}}</h5>
    </div>
    <qddt-responsedomain-preview
      *ngIf="element.questionItem && element.questionItem.responseDomain"
      [isVisible]="true" [responseDomain]="element.questionItem.responseDomain">
    </qddt-responsedomain-preview>
  </div>
  <div *ngSwitchDefault>
    <div class="row">
      <div class="col s12">
        <label [attr.for]="element.id + '-name'" class="active teal-text">Name</label>            
        <input id="{{element?.id}}-name"
          name="{{element?.id}}-name" type="text"
          [(ngModel)]="element.name" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label [attr.for]="element.id + '-description'" class="active teal-text">Description</label>            
        <textarea class="materialize-textarea" id="{{element?.id}}-description"
          name="{{element?.id}}-description"
          [(ngModel)]="element.description" readonly>
        </textarea>
      </div>
    </div>
  </div>
</div>