<div class="row hoverable white text-darken-2" style="padding: 10pt;"
     (mouseenter)="showbutton = true"
     (mouseleave)="showbutton = false">
  <div class="row teal-text" (click)="onToggleAddElement()" style="cursor: zoom-in;">
    <div class="col s2">Add element</div>
    <!--<div class="col s1 offset-s9"  style="min-height:3rem">-->
        <!--<a class="btn-flat btn-floating btn-medium waves-effect waves-light teal scale-transition" [ngClass]="{hide: !showbutton}">-->
          <!--<i class="material-icons" title="add Element" [ngStyle]="{'cursor': 'pointer'}">add</i>-->
        <!--</a>-->
    <!--</div>-->
  </div>
  <div class="row" *ngIf="showAddElement">
    <div class="row teal-text">
		  <span>Element Type</span>
	  </div>
    <div class="row" >
		  <div class="left" *ngFor="let element of queryFields;">
			  <input name="elementtypegroup"
        type="radio"
        id="element-type-{{element.id}}"
        (click)="onSelectElementKind(element.id)"
        [checked]="selectedElementKind === element.id"/>
        <label [attr.for]="'element-type-' + element.id">{{element.label}}</label>
		  </div>
    </div>
    <div class="row">
        <autocomplete [items]="elements" class="black-text"
          [elementtype]="getElementType(selectedElementKind)"
          (autocompleteSelectEvent)="onSelectElement($event)"
		      (enterEvent)="onSearchElements($event)">
		    </autocomplete>
      </div>
  </div>
  <div *ngIf="selectedElement" class="row">
    <qddt-publication-select *ngIf="showAddElement"
      [element]="selectedElement"
      [elementKind]="selectedElementKind"
      (publicationElement)="onUse($event)"
      (dismissEvent)="onToggleAddElement()">
    </qddt-publication-select>
  </div>
</div>

<div [attr.id]="'create-publication-modal'" class="modal"
  materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">

  </div>
  <div class="modal-footer">
    <button
      (click)="false"
      class="btn btn-default red modal-action modal-close waves-effect">
      <a><i class="close material-icons medium white-text">close</i></a>
    </button>
  </div>
</div>
